@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css";
@import "../../../public/users/css/owl.carousel.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";
@import "../../../public/users/css/style.css";

.bold{
    font-weight: bold;
}

.group-init{
    color: #364B87;
    font-weight: bold;    
}

.comment-posted-time{
    font-size: 10px;
    font-weight: 400;
    color: #81879B;
    float: right;
}

.header-drop-down-login{
    position: absolute;
    right: 0;
    top: 60px;
    width: 200px;
    background: #fff;
    border-radius: 5px;
    display: none;
    -webkit-box-shadow: 1px 1px 10px 1px #D1D1D1;
box-shadow: 1px 1px 10px 1px #D1D1D1;
padding: 10px;
}
.header-drop-down-login ul{
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}
.header-drop-down-login ul li{
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    border-bottom: 1px solid #eee;
}
.header-drop-down-login ul li a{
    color: #999;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
}
.secQusetions{
    padding: 0px 15px !important;
}
.add-member-icon{
    float: right;
    width: 26px;
    height: 26px;
    background: #5ac4f3;
    text-align: center;
    padding: 3px 0 0 3px;
    border-radius: 50%;
    font-size: 12px;
    margin: -5px 0 0;
}

.post-image-icon{
    width: 30px;
    margin: 0 15px;
}
.ds-calendar-app .v-content{
    padding: 0px 0px 0px 300px !important;
}