<template>
    <section class="customer-home-main">
        <div class="container">
            <h5 class="blue-h5">Create Group</h5>
            <div class="crt-project-banner">
                <input accept="image/*" type="file" @change="e => handleCoverChange(e)" ref="cover" style="display:none" />
                <img :src="`${cover ? cover : '/users/images/crt-grp-banner.png'}`" alt="">
                <button type="button" @click="$refs.cover.click()"><i class="fas fa-camera"></i></button>
            </div>


            <div class="row">
                <div class="col-lg-2">
                    <div class="crt-grop-dp">
                        <input accept="image/*" type="file" @change="e => handleIconChange(e)" ref="group_icon" style="display:none" />
                        <img :src="`${group_icon && base64Image ? group_icon : '/users/images/dummy-dp.jpg'}`" alt="">
                        <button type="button" @click="$refs.group_icon.click()"><i class="fas fa-camera"></i></button>
                    </div>
                </div>

                <div class="col-lg-10 mt-5">
                    <div class="form-group">
                        <label>Group Name <span>*</span></label>
                        <input type="text" v-model="group.name" placeholder="Group Name" class="new-input">
                    </div>
                    <div class="form-group">
                        <textarea v-model="group.description" placeholder="Group Description" class="txtara"></textarea>
                    </div>
                    

                    <button @click="createGroup" type="button" class="main-blue-btn fa-pull-right">Create</button>
                </div>


            </div>
            <!--main row end-->

        </div>
        <!--container end-->
        <Cropper ref="cp" 
        @closeModal="base64Image=''" :base64Image="base64Image" 
        @getCropData="getCroppedData"
        ></Cropper>
    </section>    
</template>

<script>
    import Cropper from "../cropper/Index";
    export default {
        data() {
            return {
                cover: "",
                group_icon: '',
                base64Image: '',
                industries: window.industires,
                group: {
                    name: '',
                    description: '',
                    industry: '',
                },
                types : {
                    'img' : ['image/jpeg', 'image/jpg', 'image/png', 'image/bmp', 'image/gif'],
                },
            }
        },
        components: {
            Cropper
        },
        mounted() {
        },
        methods: {
            toBase64(file){
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = () => resolve(reader.result);
                    reader.onerror = error => reject(error);
                });
            },
            async handleFileChange(e, elem){
                let file = e.target.files[0];
                console.log(file);
                let types = this.types;
                if(types.img.includes(file.type)){
                    let result = await this.toBase64(file).catch(e => Error(e));
                    if(result instanceof Error) {
                        console.log('Error: ', result.message);
                        return;
                    }else
                        this[elem] = this.base64Image = result;
                        this.showModal = true;
                }
            },                                    
            async handleCoverChange(e){
                await this.handleFileChange(e, 'cover');
            },
            async handleIconChange(e){
                await this.handleFileChange(e, 'group_icon');
                this.openBtModel('cropper_modal')
            },
            getCroppedData(e){
                this.group.image = e;
                this.closeBtModel('cropper_modal')
            },
            createGroup(){
                this.group.cover = this.cover;
                console.log(this.group);
                axios.post(`/networks/group/store`, this.group)
                    .then(data => {
                        this.$toastr.success(data.data.message, 'Success', {});
                        this.$router.push({name: 'network'});
                    }).catch(e => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key => {
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });                        
            },
        }
    }
</script>
<style scoped>
    /* .list-item {
        display: inline-block;
        margin-right: 10px;
    } */
    .list-enter-active,
    .list-leave-active {
        transition: all 1s;
    }

    .list-enter,
    .list-leave-to

    /* .list-leave-active below version 2.1.8 */
        {
        opacity: 0;
        transform: translateY(30px);
    }
</style>