<template>
    <section class="customr-following-main">
        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <div class="csmtr-network-left">
                        <a :class="`${tab == 1 ? 'active' : ''}`" @click="tab = 1" href="javascript:;">
                            <i class="fas fa-globe"></i> Manage my Network</a>
                        <a :class="`${tab == 2 ? 'active' : ''}`" @click="tab = 2" href="javascript:;">
                            <i class="fas fa-link"></i> My Connection <span v-if="network.my_connections">{{ network.my_connections.length }}</span></a>
                        <a :class="`${tab == 3 ? 'active' : ''}`" @click="tab = 3; getGroups()" href="javascript:;">
                            <i class="fas fa-wifi"></i> Conek Network</a>
                    </div>

                </div>

                <div class="col-lg-9 tab-content">

                    <MyNetwork v-if="tab == 1" :network="network"/>
                    
                    <MyConnection v-if="tab == 2" :network="network"/>
                   
                    <ConekNetwork @refetch="getGroups()" v-if="tab == 3" :groups="groups" :network="network"/>


                </div>

            </div>
        </div>
        <!--container end-->
    </section>
</template>

<script>
    import VueMomentsAgo from 'vue-moments-ago'
    import MyNetwork from "./MyNetwork";
    import MyConnection from "./Myconnection";
    import ConekNetwork from "./ConekNetwork";
    import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap';
    import {
        TheMask
    } from 'vue-the-mask'
    export default {
        data() {
            return {
                groups: "",
                network: [],
                tab: this.$route.params.id,
            }
        },
        components: {
            TheMask,
            VueMomentsAgo,
            VueTypeaheadBootstrap,
            MyNetwork,
            MyConnection,
            ConekNetwork
        },
        mounted() {
            this.getMyNetWork();
            this.getGroups();
        },
        watch:{
           "$route.params.id" : function(code, oldCode){ this.tab =code }
       },
        methods: {
            getMyNetWork(current_page = 1) {
                axios.get(`/networks`)
                    .then(({data}) => {
                        this.network = data;
                    });
            },
            getGroups(){
                axios.get(`/networks/group/all`)
                    .then(({data}) => {
                        this.groups = data;
                        setTimeout(() => {
                            jQuery('[data-toggle="tooltip"]').tooltip();
                        }, 700);

                    });
            }

        }
    }
</script>
<style scoped>
    /* .list-item {
        display: inline-block;
        margin-right: 10px;
    } */
    .list-enter-active,
    .list-leave-active {
        transition: all 1s;
    }

    .list-enter,
    .list-leave-to

    /* .list-leave-active below version 2.1.8 */
        {
        opacity: 0;
        transform: translateY(30px);
    }
</style>