<template>
    <div  id="my-connection">
        <h5 class="blue-h5 fa-pull-left">Manage my Network</h5>
        <div class="clearfix"></div>
        <div class="customer-connection">
            <div  v-if="network"  class="customer-connection-top-srch">
                <div class="csmtr-project-listing-srch">
                    <input type="text" v-model="searchQuery" placeholder="Search">
                    <button><i class="fas fa-search"></i></button>
                </div>
                <p class="mt-1">{{network.my_connections.length || 0}} Connections</p>
            </div>
        </div>

        <div v-if="network && network.my_connections">
            <div :key="afindex" v-for="(afuser, afindex) in resultQuery" class="timeline-card customer-connection-card">
                <div class="timeline-card-top">

                    <fragment
                        v-if="afuser.sender_type == 'App\\User' && afuser.sender_id == user.id" >
        
                        <div class="d-flex align-items-center">
                            <div class="profile-main">
                                <img :src="afuser.recipient.image" alt="">
                            </div>

                            <div 
                                style="cursor: pointer"                            
                                @click="$router.push({ name: 'organizations.show' , params: { id : afuser.recipient.id } });"
                                v-if="afuser.recipient_type == 'App\\Organization'"
                                class="name-details">
                                <h5 
                                    class="name">
                                    {{afuser.recipient.name}}
                                    <span class="fa fa-sitemap"></span>
                                </h5>
                            </div>
                            <div
                                style="cursor: pointer"
                                @click="$router.push({ name: 'user.show' , params: { id : afuser.recipient.id } });"
                                v-else
                                class="name-details">                                    
                                    <h5 class="name">
                                        {{afuser.recipient.name}}
                                        <span class="fa fa-user"></span>
                                    </h5>
                            </div>
                        </div>
                    </fragment>

                    <fragment v-else >
                        <div class="d-flex align-items-center">
                            <div class="profile-main">
                                <img :src="afuser.sender.image" alt="">
                            </div>

                            <div 
                                style="cursor: pointer"
                                @click="$router.push({ name: 'organizations.show' , params: { id : afuser.sender.id } });"
                                v-if="afuser.recipient_type == 'App\\Organization'"
                                class="name-details">
                                <h5 
                                    class="name">
                                    {{afuser.sender.name}}
                                    <span class="fa fa-sitemap"></span>
                                </h5>
                            </div>
                            <div
                                style="cursor: pointer"
                                @click="$router.push({ name: 'user.show' , params: { id : afuser.sender.id } });"
                                v-else
                                class="name-details">                                    
                                    <h5 class="name">
                                        {{afuser.sender.name}}
                                        <span class="fa fa-user"></span>
                                    </h5>
                            </div>

                        </div>
    
                    </fragment>

                        <div class="d-flex align-items-center">
                            <a @click="chatWithMe(afuser)" class="main-blue-btn mr-2" href="javascript::"> Message</a>

                            <div class="btn-group timeline-card-top-drop-down">
                                <button type="button" class="btn dropdown-toggle btn-drop-table btn-sm" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>

                                <div class="dropdown-menu" x-placement="bottom-start"
                                    style="position: absolute; transform: translate3d(0px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a class="dropdown-item l-grey uppercase" data-toggle="modal" data-target="#inactiveservice"
                                        @click="removeConnection(afuser, afindex)" href="javascript:;"><i class="fas fa-trash"></i> Remove
                                        Connection</a>

                                </div>
                            </div>

                        </div>






                </div>
                <!--timeline card top end-->

            </div>
        </div>
        <div v-else>
            <div>
                <p>No active followers found yet</p>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        props: [
            'network',
        ],
        data(){
            return {
                user: window.user,
                searchQuery : '',
            }
        },
       computed: {
            resultQuery() {
                if (this.searchQuery) {
                    return  Object.values(this.network.my_connections).filter((item) => {
                         return this.searchQuery.toLowerCase().split(' ').every(
                           v => item.recipient.first_name.toLowerCase().includes(v) || item.sender.first_name.toLowerCase().includes(v)
                        )
                    })
                } else {
                    return this.network.my_connections;
                }
            }
        },
        mounted() {},
        methods: {
            chatWithMe(afuser){
                console.log(afuser, afuser.recipient.uuid, afuser.sender.uuid);
                if(afuser.sender_type == 'App\\User' && afuser.sender_id == this.user.id){
                    this.$router.push({ name: 'chat', params: { id: afuser.recipient.uuid }});
                }
                else{
                    this.$router.push({ name: 'chat', params: { id: afuser.sender.uuid }});
                }
            },
            removeConnection(conn, index){
                let url = '';
                if(conn.sender_type == 'App\\User' && conn.sender_id == this.user.id){
                    url = `/networks/remove-follower/${conn.id}?name=${conn.recipient.name}`;   
                }
                else{
                    url = `/networks/remove-follower/${conn.id}?name=${conn.sender.name}`;   
                }
                axios.get(url)                
                    .then(data => {
                        this.$toastr.success(data.data.message, 'Success', {});
                        this.network.my_connections.splice(index, 1);
                });  
            }
        }
    }
</script>
<style scoped>
    /* .list-item {
        display: inline-block;
        margin-right: 10px;
    } */
    .list-enter-active,
    .list-leave-active {
        transition: all 1s;
    }

    .list-enter,
    .list-leave-to

    /* .list-leave-active below version 2.1.8 */
        {
        opacity: 0;
        transform: translateY(30px);
    }
</style>