<template>
    <div id="manage-my-network">
        
        <h5 class="blue-h5 fa-pull-left">Manage my Network</h5>
        <div class="clearfix"></div>

        <div class="following-card" v-if="network && network.follow_request && network.follow_request.length">
            <div :key="rindex" v-for="(request, rindex) in network.follow_request" class="following-card-row">

                <fragment
                    v-if="request.sender_type == 'App\\User' && request.sender_id == user.id" >
                    <router-link :to="{name: request.recipient_type.substr(4).toLowerCase()+'s.show', params: { id: request.recipient.id }}">
                        <div 
                            class="d-flex align-items-center">
                            <img :src="request.recipient.image" class="profile-img" alt="">
                            <div class="flex-column w-75">
                                <h5>{{request.recipient.name}}</h5>
                            </div>
                        </div>
                    </router-link>

                    <div class="d-flex align-items-center">
                        <a href="javascript:;" @click="withdrawRequest(request, rindex)" class="main-blue-btn mr-2">Withdraw Follow Request</a>
                    </div>    

                </fragment>

                <fragment v-else >
                    <router-link :to="{name: request.sender_type.substr(4).toLowerCase()+'s.show', params: { id: request.recipient.id }}">
                    <div                         
                        class="d-flex align-items-center">
                        <img :src="request.sender.image" class="profile-img" alt="">
                        <div class="flex-column w-75">
                            <h5>{{request.sender.name}}</h5>
                        </div>
                    </div>
                    </router-link>
                    <div class="d-flex align-items-center">
                        <a href="javascript:;" @click="rejectRequest(request, rindex)" class="main-blue-btn mr-2">Ignore</a>
                        <a href="javascript:;" @click="acceptRequest(request, rindex)" class="main-blue-btn2">Accept</a>
                    </div>      
                </fragment>

                <!-- <div class="d-flex align-items-center">
                    <img :src="request.recipient.image" class="profile-img" alt="">
                    <div class="flex-column w-75">
                        <h5>{{request.recipient.name}}</h5>
                    </div>
                </div> -->


            </div>
        </div>
        <div class="following-card" v-else>
            <p class="p-2">No Request found</p>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-lg-12">
                <h5 class="blue-h5">People you may Know</h5>
            </div>
            <fragment v-if="network && network.people_you_may_now"> 
            <!--col start-->
            <div v-for="(connect, cindex) in network.people_you_may_now" :key="cindex" class="col-lg-4">
                <div class="network-cards">
                    <a href="#" class="card-close"><i class="fas fa-times"></i></a>
                    <img :src="connect.image" alt="">
                    <h6>{{connect.name}}</h6>
                    <p> {{connect.description}}</p>
                    <a @click="sendFollowRequest(connect.id, connect.isOrg)" href="javascript:;" class="main-blue-btn2"  :id="connect.id">Connect</a>

                </div>
            </div>
            </fragment>
            <!--col end-->

        </div>
        <!--card row end-->
    </div>
</template>

<script>
    export default {
        props: [
            'network',
        ],
        data() {
            return {
                user: window.user,
                idhere:''
            }
        },
        mounted() {
        },
        methods: {
            sendFollowRequest(id, isOrg) {
                if(isOrg==true){
                      this.type = 'organization';
                }else{
                     this.type = 'user';
                }
                this.idhere = '#'+id;
                $(this.idhere).hide();
                axios.get(`/networks/send-follow-request/${id}?type=${this.type}`)
                    .then(data => {
                        this.$toastr.success(data.data.message, "Success !");
                        // this.getOrganization();
                    });
            },
            withdrawRequest(post, rindex){
                axios.get(`/networks/withdraw-follow-request/${post.id}`)
                .then(({data}) => {
                    this.$toastr.success(data.message, 'Success', {});
                    this.network.follow_request.splice(rindex, 1);
                })
                .catch((e) => {
                    let errors = e.response.data.errors;
                    Object.keys(errors).forEach(key=>{
                        this.$toastr.error(errors[key], "Error!");
                    });                    
                })
            },
            acceptRequest(post, rindex){
                axios.get(`/networks/accept-follow-request/${post.id}`)
                .then(({data}) => {
                    this.$toastr.success(data.message, 'Success', {});
                    this.network.follow_request.splice(rindex, 1);
                })
                .catch((e) => {
                    let errors = e.response.data.errors;
                    Object.keys(errors).forEach(key=>{
                        this.$toastr.error(errors[key], "Error!");
                    });                    
                })
            },
            rejectRequest(post, rindex){
                axios.get(`/networks/reject-follow-request/${post.id}`)
                .then(({data}) => {
                    this.$toastr.success(data.message, 'Success', {});
                    this.network.follow_request.splice(rindex, 1);
                })
                .catch((e) => {
                    let errors = e.response.data.errors;
                    Object.keys(errors).forEach(key=>{
                        this.$toastr.error(errors[key], "Error!");
                    });
                })
                
            }
        }
    }
</script>
<style scoped>
    /* .list-item {
        display: inline-block;
        margin-right: 10px;
    } */
    .list-enter-active,
    .list-leave-active {
        transition: all 1s;
    }

    .list-enter,
    .list-leave-to

    /* .list-leave-active below version 2.1.8 */
        {
        opacity: 0;
        transform: translateY(30px);
    }
</style>