<template>
    <section class="customer-home-main">
        <div class="container">
            <div class="crt-project-banner mb-3" v-if="group.cover==`http://dev28.onlinetestingserver.com/conekpro/users/images/crt-grp-banner.png` || group.cover==`https://dev28.onlinetestingserver.com/conekpro/users/images/crt-grp-banner.png`">
                <img :src="`http://dev28.onlinetestingserver.com/conekpro/public/users/images/crt-grp-banner.png`" alt="">
            </div>
            <div class="crt-project-banner mb-3" v-else>
                <img :src="`${(group.cover ? group.cover : '/public/users/images/crt-grp-banner.png')}`" alt="">
            </div>
            <div class="row" v-if="group">
                <div class="col-lg-8">
                    <div class="grp-view-top-card">
                        <h5>{{group.name}}</h5>

                        <div class="d-flex align-items-center position-relative">
                            <div class="grp-view-top-card-profile">
                                <img :src="`${(group.image ? group.image : '/users/images/dummy-dp.jpg')}`" alt="">
                                <!-- <button class="cstmr-image-count" type="button"><i class="fas fa-camera"></i></button> -->
                            </div>
                            <div class="name-details" > 
                                    <button
                                    v-if="group.isRequestSent == true"
                                    type="button" class="main-red-btn2 fa-pull-right mt-0">
                                        Request already Sent
                                    </button>                                
                                    <button
                                    v-if="group.isRequestSent == false && group.isMember == false"
                                    type="button" class="main-red-btn2 fa-pull-right mt-0"
                                    @click="sendRequest()">
                                        Send Request
                                    </button>  
                                    <i v-if="group.owner == true" class="fas fa-trash-alt" data-target="#deleteGroup"></i>                              
  
                                  <a :href="'networks/group/edit/'+ group.slug +'/'+ group.id"  v-if="group.owner == true" class="edit-group-icon"><i class="fas fa-edit"></i> </a>
                                

                            </div>

                        </div>

                    </div>
                    <!--timeline card top end-->

                    <div class="grp-view-top-card">
                        <h5>Group Description</h5>
                        <p>{{group.description}}</p>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="cstm-right-sidebar">
                         
                        <div class="like-feed-card">
                            <h3>Members ({{group.users.length}})
                              <i v-if="group.owner == true" data-toggle="modal" data-target="#addMember" class="fas fa-user-plus add-member-icon"></i></h3>
                              
                            <div class="like-feed-card-scroll">
                                <div v-for="(gu, guindex) in group.users"  :key="guindex" class="like-feed-card-row">
                                    <div class="d-flex align-items-center" >
                                        <img :src="gu.entity.image" class="profile-img" alt="">
                                        <div class="flex-column">
                                            <h5>{{gu.entity.name}}</h5><span v-if="gu.entity.id == group.groupable_id && guindex==0" >{{'(Admin)'}}</span>
                                             <div class="d-flex align-items-center" v-if="gu.status == 0 && group.owner == true ">
                                                <a href="javascript:;" @click="performAction('accept', gu.id)" class="main-blue-btn2 py-2">Accept</a>
                                                <a href="javascript:;" @click="performAction('reject', gu.id)" class="main-red-btn2 fa-pull-right py-2">Reject</a>
                                            </div> 
                                        </div>
                                        <div class="d-flex align-items-center" v-if="gu.status != 0 && group.owner == true && guindex!=0"> 
                                            <i @click="performAction('remove', gu.id)"  class="fas fa-trash-alt trash-btn" ></i>                              
                                        </div> 
                                    </div>
                                </div>

                            </div>


                        </div>
                        <!--like feedback card-->




                    </div>
                    <!--right side bar end-->



                </div>


            </div>
                            <Timeline :group="group.id" v-if="user && group && group.isMember" />

            <!--main row end-->
          
        <div class="modal fade" id="deleteGroup" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <button type="button" class="close text-right mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="px-1 pt-2 pb-5 text-center">
                        <Img src="/images/recycle.png" class="center-img" alt="" />
                        <p class="d-blue mt-1 medium ">Are you sure want to delete this group?</p>
                        <div class="d-flex flex-wrap justify-content-center">
                            <button @click="deleteGroup" class="px-4 mx-1 py-1 mt-2 model-transprnt-btn">Yes</button>
                            <button data-dismiss="modal" class="px-4 mx-1 py-1 mt-2 model-transprnt-btn">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="modal fade" id="addMember" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <button type="button" class="close text-right mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="px-1 pt-2 pb-5 text-center">
                       
                        <h5>Add member</h5>
                       <div  class="customer-connection-top-srch p-3">
                                <div class="csmtr-project-listing-srch ">
                                    <input  v-model="search_groups_query" @input="lookupGroup"  type="text" name  = 'search' class = 'searchMember' placeholder="Search by name">
                                    <button @click="findMembers"><i class="fas fa-search"></i></button>
                                </div>

                            </div>

                        <div id="searchedMembers" style = 'padding:10px;'>
                            <p v-if="usersList.length < 1">
                                No users found
                            </p>
                            <div v-else >
                                <div v-for="(su, suindex) in usersList"  :key="suindex" class="like-feed-card-row" >
                                    <span>{{su.user_name}} </span> <span><button
                                        type="button" class="main-blue-btn2 fa-pull-right mt-0" @click="addThisMember(su.user_id, su.isOrg)">Add</button></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        </div>
          </div>
        <!--container end-->
    </section>
</template>

<script>
    import VueMomentsAgo from 'vue-moments-ago'
    import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap';
    import Timeline from "../home/Timeline";
    import {
        TheMask
    } from 'vue-the-mask'
    export default {
        data() {
            return {
                group: '',
                user: window.user,
                usersList: [],
                tempMemberData:[],
                search_groups_query:'',
            }
        },
        components: {
            TheMask,
            VueMomentsAgo,
            VueTypeaheadBootstrap,
            Timeline
        },
        mounted() {
            this.fetchGroup();
        },
        methods: {
            deleteGroup() {
                axios.delete(`networks/group/${this.$route.params.id}/delete`)
                    .then(({
                        data
                    }) => {
                        this.$toastr.success(data.message);
                        $('#deleteGroup').modal('hide');
                        this.$router.push({ name: 'network'});
                    });
            },
            sendRequest() {
                axios.get(`networks/group/${this.$route.params.slug}/${this.$route.params.id}/send-request`)
                    .then(({
                        data
                    }) => {
                        this.$toastr.success("The group request is sent");
                        this.fetchGroup();
                    });
            },
            fetchGroup() {
                axios.get(`networks/group/${this.$route.params.slug}/${this.$route.params.id}`)
                    .then(({
                        data
                    }) => {
                        this.group = data;
                        setTimeout(() => {
                            jQuery('[data-toggle="tooltip"]').tooltip();
                        }, 700);

                    });
            }
            ,
            findMembers(){                
               axios.get(`networks/group/find-users/${this.$route.params.id}/?keyword=${$('.searchMember').val()}`)
                    .then(({data}) => {
                        this.usersList = data;
                    });
            },
            lookupGroup(){
                 axios.get(`networks/group/find-users/${this.$route.params.id}/?noloader=1&keyword=${this.search_groups_query}`)
                    .then(({data}) => {
                    this.usersList = data;
                 });
            },
           
            addThisMember(userId, isOrg){
                this.tempMemberData =[];
                this.tempMemberData.push(userId);
                this.tempMemberData.push(isOrg);
                this.tempMemberData.push(this.$route.params.id);
                axios.post(`networks/group/add-member`, this.tempMemberData)
                    .then(data => {
                        this.$toastr.success(data.data.message);
                        window.location.reload();
                    }).catch(e => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key => {
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });  
            }, 
            performAction(action, guid){
                //console.log(action, '-----', guid);
                axios.get(`networks/group-user/${action}/${guid}`)
                    .then(({data}) => {
                        console.log(data);
                        window.location.reload();
                        //this.$emit('refetch');
                    })
            },
        }
    }
</script>
<style scoped>
    /* .list-item {
        display: inline-block;
        margin-right: 10px;
    } */
    .list-enter-active,
    .list-leave-active {
        transition: all 1s;
    }

    .list-enter,
    .list-leave-to

    /* .list-leave-active below version 2.1.8 */
        {
        opacity: 0;
        transform: translateY(30px);
    }
    .fa-trash-alt{
        cursor: pointer;
        float:right;
    }
    .edit-group-icon{
        float:right;
        padding-right:10px;
    }
    .trash-btn{
        padding-left:10px;
    }
</style>
