<template>
    <div>
         <router-view></router-view>
      
    </div>
</template>

<script>
    export default {
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
            }
        },
    }
</script>