<template>
    <section class="customer-home-main">
      <div class="app-content content dashboard">
    <div class="content-wrapper">
        <div class="content-body mt-2">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                        <div class="">
                            <div class="card-content collapse show">
                                <div class="card-dashboard text-center">
                                    <h2 class="error-txt">SORRY, PAGE NOT FOUND!</h2>
                                   <img src="users/images/error.png" alt="" class="img-fluid">
                                   <div class="py-4">
                                   <a href="" class="error-txt"><i class="fas fa-long-arrow-alt-left"></i> Back To Home</a>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

    </section>
</template>

<script>
    export default {
        data() {
            return {
                base_url: window.base_url,
                blocked: false,
            }
        }
    }
</script>
