<template>

    <section class="customr-following-main">
        <div class="container">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a @click="current=0" class="nav-link active" data-toggle="tab" href="#all">All</a>
                </li>
                <li class="nav-item">
                    <a @click="current=1" class="nav-link" data-toggle="tab" href="#following">Following</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="following" class="container tab-pane fade">
                    <div class="following-card">
                        <div v-for="(following, findex) in followings" :key="findex" class="following-card-row">

                            <fragment
                            v-if="following.sender_type == 'App\\User' && following.sender_id == user.id" >
                                <div class="d-flex align-items-center">
                                    <img :src="following.recipient.image" class="profile-img" alt="">
                                    <div class="flex-column">
                                        <h5>{{following.recipient.name}}</h5>
                                        <p>{{following.recipient.description}}</p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center">
                                <router-link class="main-blue-btn mr-2" 
                                    :to="{name: following.recipient_type.substr(4).toLowerCase()+'s.show', 
                                    params: { id: following.recipient.id }}">
                                    View
                                </router-link>
                                <!-- <a @click="toggleFollow(following.id, 0)" href="javascript:;" class="main-blue-btn">Follow</a> -->
                                </div>


                            </fragment>
                            <fragment v-else>
                                <div class="d-flex align-items-center">
                                    <img :src="following.sender.image" class="profile-img" alt="">
                                    <div class="flex-column">
                                        <h5>{{following.sender.name}}</h5>
                                        <p>{{following.sender.description}}</p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center">
                                <router-link class="main-blue-btn mr-2" 
                                    :to="{name: following.sender_type.substr(4).toLowerCase()+'s.show', 
                                    params: { id: following.sender.id }}">
                                    View
                                </router-link>
                                </div>
                            </fragment>

                        </div>
                    </div>
                    <!--following card end-->


                </div>
                <div id="all" class="container tab-pane active">
                    <div class="following-card">

                    <transition-group name="list">
                        <div v-for="org in data" :key="org" class="following-card-row">
                            <div class="d-flex align-items-center">
                                <img :src="org.image" class="profile-img" alt="">
                                <div class="flex-column">
                                    <h5>{{org.name}}</h5>
                                    <p>{{org.description}}</p>


                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                                <router-link href="javascript:;" class="main-blue-btn mr-2"
                                 :to="{ name: 'organizations.show', params: { id: org.id } }" >
                                 View</router-link>

                                <!-- <a @click="toggleFollow(org.id, 0)" href="javascript:;" class="main-blue-btn">Follow</a> -->
                            </div>

                        </div>
                    </transition-group>

                    </div>
                </div>

            </div>
            <!--tab content end-->




        </div>
        <!--container end-->
    </section>
</template>

<script>
    import VueMomentsAgo from 'vue-moments-ago'
    import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap';
    import {
        TheMask
    } from 'vue-the-mask'
    export default {
        data() {
            return {
                data: [],
                current: 0,
                followings: [],
                current_page: 1,
                last_page: 1,
                user: window.user,
            }
        },
        components: {
            TheMask,
            VueMomentsAgo,
            VueTypeaheadBootstrap
        },
        mounted() {
            this.scroll();
            this.getOrganization();
            this.getFollowing();
        },
        methods: {
            toggleFollow(id, type){
                this.$dialog.confirm(`Are you sure you want to ${type? 'Unfollow': 'Follow'} this organization?`).then(dialog => {
                    axios.get(`/organizations/${id}/toggleFollow?type=${type}`)
                    .then(data => {
                        this.$toastr.success(data.data.message, 'Success', {});
                        dialog.close();
                        let removeIndex = this.data.map(function(item) { return item.id; }).indexOf(id);
                        console.log(removeIndex);
                        this.data.splice(removeIndex, 1);
                        this.getFollowing();
                    });  
                })                
            },
            getFollowing(){
                axios.get(`/followings`)
                    .then(data => {
                        this.followings = data.data;
                    });
            },
            getOrganization(current_page = 1){
                axios.get(`/organizations?page=${current_page}`)
                    .then(data => {
                        let resource = data.data;
                        this.data = [...this.data, ...resource.data];
                        this.last_page = resource.last_page;
                        this.current_page++;

                    });
            },
            scroll () {
                window.onscroll = () => {
                    let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;

                    if (bottomOfWindow && this.current_page <= this.last_page && this.current == 0) {
                        this.getOrganization(this.current_page);
                    }
                };
            },            

        }
    }
</script>
<style scoped>
    /* .list-item {
        display: inline-block;
        margin-right: 10px;
    } */
    .list-enter-active, .list-leave-active {
        transition: all 1s;
    }
    .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
        opacity: 0;
        transform: translateY(30px);
    }
</style>