<template>
        <section class="customer-home-main">
            <div class="container">
                <h3 class="table-h3 mb-4">
                    <a  v-if="$route.params.id" href="javascript:;" @click="$router.go(-1)"><i class="fa fa-angle-left"></i></a>
                    Project Bid Request
                    <span v-if="$route.params.id && project" >{{ project.name }}</span>
                </h3>
                
                <div class="row ">
                    <div class="col-lg-6">
                        <div class="d-flex mt-1 mb-2">
                            <div class="form-group">
                                <label>From</label>
                                <input type="date" class="new-input" />
                            </div>
                            <div class="form-group">
                                <label>to</label>
                                <input type="date" class="new-input" />
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="type text-right">
                            <h6 class="mb-2 bold">Select Type</h6>
                            <label>
                                <input v-model="type" @click="$router.replace({name: 'projects.bid' , query : { type: 'outgoing' }} )" name="bid_type" value="outgoing" type="radio">
                                Outgoing
                            </label>
                            <label>
                                <input v-model="type" @click="$router.replace({name: 'projects.bid'  , query : { type: 'incomming' }} )" name="bid_type" value="incomming" type="radio">
                                Incomming
                            </label>          
                        </div>              
                    </div>
                </div>

                <Incomming :id="$route.params.id" v-if="type == 'incomming' || $route.query.type == 'incomming'" />
                
                <Outgoing :id="$route.params.id" v-else />

                <!--row end-->

            </div>
            <!--container end-->
        </section>
        <!--customer-home-main end-->
</template>

<script>
    import {TheMask} from 'vue-the-mask'
    import Incomming from './Bid/Incomming';
    import Outgoing from './Bid/Outgoing';
    export default {
        data(){
            return {
                id: this.$route.params.id,
                projects: [],
                project: undefined,
                type: this.$route.query.type == "incomming" ? "incomming" : "outgoing"
            }
        },  
        components: {
            TheMask, Incomming, Outgoing
        },
        mounted() {
            console.log(this.$route);
            // this.projectBidRequest();
        },
        methods: {
            projectBidRequest(){
                // let url = `/projects/bid-requests/all?type=${this.type}`;
                // if(this.$route.params.id)
                //     url = `/projects/bid-requests/${this.$route.params.id}/all?type=${this.type}`;
                // axios.get(url)
                //     .then(data => {
                //         if(this.$route.params.id) 
                //             this.project = data.data;
                //         else
                //             this.projects = data.data;

                //     });
            },
        },
        watch: {
            'type': function(){
                this.projectBidRequest()
            },
            '$route': function(){
                this.projectBidRequest()
            }

        }
    }
</script>
