<template>
    <section class="customer-home-main">
        <div class="container">



            <div class="cstm-job-view-card" v-if="bid">

                <div class="cstm-job-view-card-inner">
                    <div class="row">
                        <div class="col-lg-2">
                            <img :src="bid.bidable.image" class="common-pro-img-big" alt="">
                        </div>
                        <div class="col-lg-10">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h5>{{ bid.bidable.name }}</h5>
                                </div>
                                <div class="col-lg-5">
                                    <p class="text-right d-inline-block">STATUS REQUEST:
                                        <span v-if="bid.status == 0" class="blue-txt">PENDING</span>
                                        <span v-if="bid.status == 1" class="green-txt">ACCEPTED</span>
                                        <span v-if="bid.status == 2" class="red-txt">REJECTED</span>
                                    </p>

                                </div>

                            </div>
                            <!--inner row end-->

                            <h5>$ {{bid.amount}}/ <span class="blue-txt">{{bid.timeline}} days</span></h5>
                            <p>{{ bid.description }}</p>
                            <h5>Milestones</h5>

                            <div :key="index" v-for="(milestone, index) in bid.milestones" class="d-inline-block mr-2">
                                <p>{{milestone.text}}: ${{milestone.amount}}</p>
                            </div>

                            <h5>Bid</h5>
                            <p>Bid: ${{bid.amount}}</p>
                            <p>Conek pro Project Fee: $0</p>
                            <p>Amount Payable: ${{bid.amount}}</p>

                            <fragment v-if="bid.status == 2">
                                <h5>Rejection Reason:</h5>
                                <p>{{bid.reason}}</p>
                            </fragment>

                        </div>

                        <div class="col-lg-12">
                            <button @click="action='accept'" data-toggle="modal" data-target="#bidActionModal" 
                            type="button" v-if="bid.status == 0"
                                class="main-blue-btn fa-pull-right">Accept</button>
                            <button @click="action='reject'" data-toggle="modal" data-target="#bidActionModal" 
                            type="button" v-if="bid.status == 0"
                                class="main-blue-btn2 fa-pull-right">Reject</button>

                        </div>



                    </div>
                    <!--main row end-->

                </div>

            </div>
            <!--cstm job view card end-->


        </div>
        <!--container end-->
        <div class="modal fade" id="bidActionModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <button type="button" class="close text-right mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="px-1 pt-2 pb-5 text-center">
                        <Img src="/images/question-mark.png" class="center-img" alt="" />
                        <p class="d-blue mt-1 medium ">Are you sure want to {{action}} this request?</p>
                        <div class="col-12 mb-2 mt-2">
                            <textarea class="form-control" v-if="action == 'reject'" 
                            v-model="reason" placeholder="Enter rejection reason"></textarea>
                        </div>
                        <div class="d-flex flex-wrap justify-content-center">
                            <a href="javascript:;" @click="perform()" aria-label="Close">
                                Yes
                            </a>
                            <a href="javascript:;" data-dismiss="modal" aria-label="Close">
                                No
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!--customer-home-main end-->
</template>

<script>
    import {
        TheMask
    } from 'vue-the-mask'

    export default {
        data() {
            return {
                bid: undefined,
                action: '',
                reason: '',
            }
        },
        components: {
            TheMask,
        },
        mounted() {
            this.getBidDetail();
        },
        methods: {
            perform(){
                axios.get(`projectsbid/${this.$route.params.id}/${this.action}?text=${this.reason || ''}`)
                    .then(({data}) => {
                        $('#bidActionModal').modal('hide');
                        this.$toastr.success(data.message, 'Success');
                        this.$router.push({name: 'projects.bid'});
                    })
            },
            getBidDetail() {
                axios.get(`projectsbid/${this.$route.params.id}`)
                    .then(({
                        data
                    }) => {
                        this.bid = data;
                    })
            },
        },
        watch: {

        }
    }
</script>