<template>
    <section class="customer-home-main">
        <div class="container">


            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h5 class="blue-h5">Create Project</h5>
                    <div class="cret-project-card">
                        <div class="row crt-project-bottom-line">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input v-model="project.name" type="text" placeholder="Type a name for your project" class="new-input">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea v-model="project.description" class="txtara"
                                        placeholder="Tell us more about your project..."></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <vue2Dropzone
                                    v-on:vdropzone-queue-complete="onDropzoneUploadComplete"
                                    ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" :useCustomSlot=true>
                                        <button class="main-blue-btn2">Upload file</button>
                                        <p>Drag and drop any image or document that might be helpful in explaining your
                                            project</p>

                                </vue2Dropzone>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>What skills are required</label>
                                    <input-tag placeholder="Enter Skills e,g Java (enter), PHP (enter)" class="new-input" v-model="project.tags"></input-tag>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group d-flex mt-4">
                                    <h6>How would you like to get it done?</h6>
                                    <label>
                                        <input v-model="project.type" value="0" name="project_type" type="radio">
                                        Post a Project
                                    </label>

                                    <label>
                                        <input v-model="project.type"  value="1" name="project_type" type="radio">
                                        Create Jobs
                                    </label>
                                </div>
                            </div>
                            <div class="row col-12" v-if="project.type == 0">
                                <div class="row col-12">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>What is your Estimated Budget?</label>
                                            <input type="number" v-model="project.budget" placeholder="e.g: 2000 USD" class="new-input">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Expected Duration</label>
                                            <input type="number" v-model="project.duration" placeholder="e.g: 15 month" class="new-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <label>Send Project Request to any business Organization you may know.</label>
                                </div>
                                <div class="col-lg-5">
                                    <div class="csmtr-project-listing-srch2 mt-1">
                                        <vue-typeahead-bootstrap
                                        v-model="query"
                                        :data="users"
                                        :minMatchingChars="1"
                                        placeholder="Search Organizations"
                                        :serializer="item => item.name"
                                        @hit="setUser($event)"                                    
                                        @input="lookupUser">

                                            <template slot="suggestion" slot-scope="{ data, htmlText }">
                                                <div class="">
                                                <img
                                                    class="rounded-circle float-left"
                                                    :src="data.image"
                                                    style="width: 40px; height: 40px;" />
                                                    <span class="mt-3 ml-2 float-left" v-html="htmlText"></span>
                                                </div>
                                            </template>

                                        </vue-typeahead-bootstrap>

                                        <button><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <span class="crt-pro-tag" v-bind:key="index" v-for="(user, index) in projectUser" >
                                        {{ user.name }} 
                                        <a v-on:click="() => removeUser(user)" 
                                        href="javascript:;"><i class="fas fa-times-circle"></i></a>
                                    </span>
                                </div>
                            </div>
                           
                                <div v-else-if="project.type==1" class="row col-12" v-bind:key="index" v-for="(job, index) in jobs">
                                    <div class="col-lg-12">
                                        <a @click="removeRow(index)" v-if="jobs.length > 1" href="javascript:;" class="fa-pull-right">
                                            <Img src="/users/images/dlt-icon.png" /></a>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Job Title</label>
                                            <input type="text" v-model="job.title" placeholder="Job Title" class="new-input">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Job Category</label>
                                            <select v-model="job.category" class="new-input">
                                                <option>Select Category</option>
                                                <option v-bind:key="catindex" v-for="(cat, catindex) in job_category">{{ cat }}</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Duration</label>
                                            <input v-model="job.duration" type="number" placeholder="3 Months" class="new-input">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Estimated Budget</label>
                                            <input v-model="job.budget" type="number" placeholder="e.g: $600" class="new-input">
                                        </div>
                                    </div>
                                      <button type="button" class="fa-pull-left border-0" @click="addRow()">
                                    <Img src="/users/images/plus-add.png" />
                                </button>    
                                </div>
                                                              

                         

                        </div>
                        <!--inner row end-->

                        <button type="button" @click="submitProject" class="main-blue-btn fa-pull-right">Post my Project</button>

                    </div>
                    <!--cret project card end-->


                </div>


            </div>
            <!--row end-->





        </div>
        <!--container end-->
    </section>
</template>

<script>
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'
    import vue2Dropzone from 'vue2-dropzone'
    import { TheMask } from 'vue-the-mask'
    import InputTag from 'vue-input-tag'
    import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap';
    // import fragment from 'vue-fragment'
    export default {
        data() {
            return {
                project: {
                    name: '',
                    description: '',
                    skill: '',
                    type: 0,
                },
                jobs: [{
                    title: '', category: '', duration: '', budget: '',
                }],
                projectUser : [],
                users: [],  
                uids: [],
                query : '',
                baseUrl : window.axios.defaults.baseURL,
                dropzoneOptions: {
                    autoProcessQueue: false,
                    url: window.axios.defaults.baseURL+`projects/7/files/upload`,
                    thumbnailWidth: 250,
                    headers:{"Authorization":'Bearer ' + this.getCookie('p_token')},          
                    addRemoveLinks: true,
                },
                job_category : window.job_category,
            }
        },
        components: {
            TheMask, vue2Dropzone, InputTag, VueTypeaheadBootstrap
        },
        mounted() {
        },
        methods: {
            getCookie(name){
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') c = c.substring(1,c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
                return null;
            },            
            setUser(event){
                this.projectUser = [event, ...this.projectUser];
                this.uids = [event.id, ...this.uids];
                this.query = "";
            },
            removeUser(user){
                let removeIndex = this.projectUser.map(function(item) { return item.id; }).indexOf(user.id);
                console.log(removeIndex);
                this.projectUser.splice(removeIndex, 1);
                let removeIndexUid = this.uids.indexOf(user.id);
                console.log(removeIndexUid);
                this.uids.splice(removeIndexUid, 1);

            },
            addRow(){
                this.jobs.push(
                    {  title: '', category: '', duration: '', budget: '', }
                );
            },
            removeRow(index){
                this.jobs.splice(index, 1);
            },            
            lookupUser(){
                axios.get(`/search?disbloadr=true&resource=bo&name=${this.query}&notIn=${this.uids.join(",")}`)
                    .then(data => {
                        this.users = data.data;
                    });
            },
            onDropzoneUploadComplete(){
                this.$toastr.success("Project is created succesfully", "Success!");
                this.$router.push({name: 'projects'});
            },
            submitProject(){
                
                if(this.$refs.myVueDropzone.getAcceptedFiles().length == 0){
                    this.$toastr.error("Please attach document to proceed", "Error!");   
                    return;
                }

                this.cp = {
                    project: this.project,
                    user: this.projectUser,
                    jobs: this.jobs,
                }
                axios.post(`/projects`, this.cp)
                    .then(data => {
                        this.$refs.myVueDropzone.dropzone.options.url = window.axios.defaults.baseURL + `projects/${data.data.data.id}/files/upload`;
                        setTimeout(() => {
                            this.$refs.myVueDropzone.processQueue();
                        }, 500);
                        // this.dropzoneOptions.url = this.baseURL+`projects/${data.data.data.id}/files/upload`;
                        // this.$refs.myVueDropzone.processQueue();
                    }).catch(e => {
                        console.log(e);
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key => {
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });                
            },
            submitFiles(){
                this.$refs.myVueDropzone.myVueDropzone();
            }
        }
    }
</script>

<style>
    #dropzone{
        background: none;
        border: 2px dashed #01AEEE;
        border-radius: 15px;
        padding: 15px;
        text-align: center;
        margin: 0 0 20px 0;        
    }
    .vue-input-tag-wrapper .input-tag{
        list-style-type: none;
        display: inline-block;
        margin: 10px 5px 0 0;
        border-radius: 25px;
        border: 2px solid #CFD2E4;
        padding: 10px 15px;
        font-size: 13px;
        color: #7D8094;
        font-weight: 500;
        background: #CFD2E4;
    }

</style>