<template>
    <section class="customr-following-main">
        <div class="container">


            <div class="row">
                <div class="col-lg-3">
                    <div class="csmtr-project-listing-srch ">
                        <vue-typeahead-bootstrap
                        v-model="query"
                        :data="tags"
                        placeholder="Search by Tags"
                        :serializer="item => item.name"
                        :minMatchingChars="1"
                        @hit="setTag($event)"                                    
                        @input="lookupKeywords">

                            <template slot="suggestion" slot-scope="{ data, htmlText }">
                                <div class="d-flex align-items-center">
                                    <span class="ml-4" v-html="htmlText"></span>
                                </div>
                            </template>

                        </vue-typeahead-bootstrap>
                        <button><i class="fas fa-search"></i></button>
                    </div>
                    <div class="csm-listing-left-tags">
                        <p v-bind:key="ti" v-for="(tag, ti) in selected">{{ tag }}
                            <a @click="removeTag(tag)" href="javascript:;"><i class="fas fa-times"></i></a>
                        </p>
                        <p class="pl-1" v-if="selected.length == 0">No Tag selected yet</p>
                    </div>
                    <a href="javascript:;" @click="filterProjects" class="main-blue-btn fa-pull-left mt-0">Filter</a>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="d-flex align-items-center">
                                <div class="csmtr-project-listing-srch2">
                                    <input type="text" @keyup="filterProjects" v-model="searchQuery">
                                    <button type="button" @click="filterProjects"><i class="fas fa-search"></i></button>
                                </div>
                                <span class="listing-project-cnt">{{projects ? projects.length : 0}} Projects</span>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <router-link class="main-blue-btn fa-pull-right mt-0" :to="{ name: 'projects.create' }">Post a Project</router-link>
                        </div>

                    </div>
                    <transition-group name="list">
                        <div v-bind:key="project" v-for="project in projects" class="csm-listing-cards">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h5><router-link class="m-0" :to="{ name: 'projects.show', params: { id: project.id} }">{{ project.name }}</router-link></h5>
                                    <p>{{ project.description }}</p>
                                    <vue-moments-ago class="open-time-span" prefix="OPEN" suffix="ago" :date="project.created_at" lang="en" />
                                    <!-- http://localhost:8000/projects/bid-request/3?type=incomming -->
                                    <router-link 
                                    :to="{ name: 'projects.bid.internal', query: { type: 'incomming' }, params: { id : project.id } }">
                                        <span class="open-time-span">{{project.bids_count}} BIDS</span>
                                    </router-link>

                                    <div class="mb-2" v-if="project.type == 1">
                                        <router-link class="m-1" :to="{ name: 'projects.show', params: { id: project.id} }">View {{project.jobs.length}} Jobs</router-link>
                                    </div>
                                </div>
                                <div v-if="project.type == 0" class="col-lg-4">
                                    <h6>Est. Budget: ${{project.budget}}</h6>
                                </div>
                            </div>
                            <div class="csm-lsting-bottom-card">
                                <ul>
                                    <li v-bind:key="ti" v-for="(tag, ti) in project.skills.split(',')">{{tag}}</li>
                                </ul>
                            </div>
                            <span class="csm-check-lst"><i class="fas fa-check-circle"></i></span>

                        </div>
                    </transition-group>
                </div>
                <!--right col end-->
            </div>
            <!--main row end-->
        </div>
        <!--container end-->
    </section>
</template>

<script>
    import VueMomentsAgo from 'vue-moments-ago'
    import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap';
    import {
        TheMask
    } from 'vue-the-mask'
    export default {
        data() {
            return {
                projects: [],
                tags: [],
                query: '',
                searchQuery: '',
                selected: [],
                current: 0,
                current_page: 1,
                last_page: 1,                
            }
        },
        components: {
            TheMask, VueMomentsAgo, VueTypeaheadBootstrap
        },
        destroyed(){
            window.onscroll = () => {};
        },
        mounted() {
            this.scroll();
            this.getProjects();
        },
        methods: {
            setTag(event){
                console.log('setTag',event);
                this.selected = [event.name , ...this.selected];
                this.query = '';
            },
            removeTag(ti){
                console.log('removeTag',ti);
                // let removeIndex = this.selected.map(function(item) { return item.name; }).indexOf(event.name);
                this.selected.splice(ti, 1);
                axios.get(`/projects?noloader=1&keyword=${this.selected.join(',')}&name=${this.searchQuery}&page=1`)
                    .then(({data}) => {
                        this.projects = data.data;
                    });                  
            },            
            lookupKeywords(){
                axios.get(`/get-keyword?disbloadr=true&query=${this.query}`)
                    .then(data => {
                        this.tags = data.data;
                    });
            },
            filterProjects(){
                this.getProjects();
            },
            getProjects(current_page = 1){
                axios.get(`/projects?noloader=1&keyword=${this.selected.join(',')}&name=${this.searchQuery}&page=${current_page}`)
                    .then(({data}) => {
                        this.projects = data.data;
                    });

            },
            scroll () {
                window.onscroll = () => {
                    let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;

                    if (bottomOfWindow && this.current_page <= this.last_page && this.current == 0) {
                        this.getProjects(this.current_page);
                    }
                };
            },              
        }
    }
</script>