<template>
    <section class="">
        <div class="container">
            <div class="boad-top-bar">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <router-link class="nav-link active" :to="{ name: 'projects.tm' }">Board</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link" :to="{ name: 'projects.calender' }">Calendar</router-link>
                            </li>
                            <li class="nav-item"> <a href="#" class="add-project" data-toggle="modal"
                                    data-target="#addproject"><i class="fas fa-plus-circle"></i> Add Project</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-5">
                        <div class="csmtr-project-listing-srch2 w-100">
                           <input type="text" @keyup="filterProjects" v-model="searchQuery">
                            <button type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <!--top row end-->
            </div>
            <!--boad top bar end-->

            <div class="tab-content">
                <div id="board" class="container tab-pane active">
                    <div class="row">
                        <div v-bind:key="index" v-for="(project, index) in projects" class="col-lg-4">
                            <div class="boad-main" v-if="project.project!= NULL">
                                <div class="boad-header">                                    
                                    <h3>{{ project.project.name }}</h3>
                                    <button type="button" @click="currentIndex=index, currentProject = project"
                                        data-toggle="modal" data-target="#createTask" class="add-btn"><i
                                            class="fas fa-plus-circle"></i></button>
                                </div>

                                <div v-bind:key="index" v-for="(task, index) in project.project.task" class="boad-card">
                                    <div class="d-flex">
                                        <h4 class="task-name">{{ task.title }}
                                            <span v-if="task.status == 0" class="mark-complete">
                                                <i class="fa fa-check"></i>
                                            </span>
                                            <span v-if="task.status == 1" class="mark-complete active">
                                                <i class="fa fa-check"></i>
                                            </span>                        
                                            <span v-if="task.status == 2" class="mark-complete danger">
                                                <i class="fa fa-times"></i>
                                            </span>                        
                                        </h4>
                                    </div>                                    
                                    <p>{{ task.description }}</p>
                                    <div class="boad-card-bottom">
                                        <!-- <Img src="/users/images/dummy-dp.jpg" alt="" /> -->
                                        <span>{{ task.created_date }}</span>
                                    </div>

                                    <div class="btn-group timeline-card-top-drop-down">
                                        <button type="button" class="btn dropdown-toggle btn-drop-table btn-sm"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                                class="fas fa-ellipsis-v"></i></button>
                                        <div class="dropdown-menu" x-placement="bottom-start"
                                            style="position: absolute; transform: translate3d(0px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a class="dropdown-item l-grey uppercase" data-toggle="modal"
                                                data-target="#viewTask" @click="currentTask=task,currentProject = project" href="javascript:;"><i class="fas fa-trash"></i>
                                                View</a>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!--boad main end-->


                        </div>
                    </div>
                </div>
                <!--boad end-->

                <div id="calendar" class="container tab-pane active"></div>
                <!--calendar end-->
            </div>
            <!--tab content end-->

        </div>
        <!--container end-->

        <div class="modal fade" id="addproject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <button type="button" class="close text-right mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="p-4">
                        <h5>Add Project</h5>
                        <div class="form-group mt-3">
                            <select v-model="cp.id" class="new-input">
                                <option value="">Select</option>
                                <option :value="project.id" v-bind:key="index" v-for="(project, index) in allprojects"
                                    v-html="project.job ? `${project.project.name} - ${project.job.title}` : project.project.name">
                                    {{project.project.name}}</option>
                            </select>
                        </div>
                        <button type="button" @click="addProjectToBoard(cp.id)" class="main-blue-btn">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createTask" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close text-right mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="p-4">
                        <h5>Create Task</h5>
                        <div class="form-group mt-3">
                            <input type="text" v-model="task.name" class="new-input" placeholder="Task Name:" />
                        </div>
                        <div class="form-group">
                            <textarea v-model="task.description" placeholder="Task Description:"
                                class="txtara"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Due Date:</label>
                            <datepicker input-class="new-input" v-validate="'required'" name="due"
                                :disabled-dates="{to : new Date(Date.now() - 8640000)}" format="dd-MM-yyyy"
                                v-model="task.due_date" placeholder=""></datepicker>
                        </div>
                        <div class="form-group">
                            <div class="csmtr-project-listing-srch2 w-100">
                                <vue-typeahead-bootstrap class="mb-4" v-model="query" :data="users"
                                    :minMatchingChars="1" placeholder="Search Employee" :serializer="item => item.name"
                                    @hit="setUser($event)" @input="lookupUser">

                                    <template slot="suggestion" slot-scope="{ data, htmlText }">
                                        <div class="">
                                            <img class="rounded-circle float-left" :src="data.image"
                                                style="width: 40px; height: 40px;" />
                                            <span class="mt-3 ml-2 float-left" v-html="htmlText"></span>
                                        </div>
                                    </template>

                                </vue-typeahead-bootstrap>
                                <button type="button"><i class="fas fa-search"></i></button>
                            </div>
                        </div>

                        <div class="popup-tags">
                            <span v-bind:key="index" v-for="(user, index) in task.users">
                                {{ user.name }} <a @click="removeUser(user)" href="jaavscript:;"><i
                                        class="fas fa-times-circle"></i></a>
                            </span>
                        </div>
                        <div class="form-group">
                            <vue2Dropzone v-on:vdropzone-queue-complete="onDropzoneUploadComplete" ref="myVueDropzone"
                                id="dropzone" :options="dropzoneOptions" :useCustomSlot=true>
                                <button class="main-blue-btn2">Upload file</button>
                                <p>Drag and drop any image or document that might be helpful in explaining your
                                    project</p>
                            </vue2Dropzone>

                        </div>

                        <button type="button" @click="saveTask" class="main-blue-btn">Create Task</button>
                    </div>


                </div>
            </div>
        </div>

        <div class="modal fade" id="viewTask" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close text-right mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="p-4" v-if="currentTask">
                        <h5 v-if="currentTask.status == 0" @click="markComplete(currentTask.id)" class="mark-complete">
                            <i class="fa fa-check"></i> Mark Complete
                        </h5>
                        <h5 v-if="currentTask.status == 1" class="mark-complete active">
                            <i class="fa fa-check"></i> Completed
                        </h5>                        
                        <h5 v-if="currentTask.status == 2" class="mark-complete danger">
                            <i class="fa fa-times"></i> Rejected
                        </h5>                        

                  

                        <div class="form-group mt-3">
                            <div class="col-lg-12">
                                <h4 class="blue-h5 mb-3">
                                    {{currentTask.title}}
                                </h4>
                                <h5>Due Date</h5>
                                <p>
                                    <vue-moments-ago class="" prefix="" suffix="ago" :date="currentTask.due" 
                                    lang="en" />
                                </p>
                                <h5>Project</h5>
                                <p>{{currentProject.project.name}}</p>

                                <h5>Task Description:</h5>
                                <p>{{ currentTask.description }}</p>
                                <h5>Attachements</h5>

                                <span v-for="(med, mindex) in currentTask.media" :key="mindex" class="project-attach-cv">
                                    <img :src="getIconByMimeType(med.mime_type)" alt="">{{med.file_name}}
                                    <a :href="med.full_url" download=""><i class="fas fa-eye"></i></a>
                                </span>

                                <div class="popup-tags">
                                    <h5 class="mb-2">Assigned To:</h5>
                                    <span v-for="(tu, tuindex) in currentTask.users" :key="tuindex" >
                                        {{tu.name}}
                                    </span>
                                </div>  

                                <div class="col-12 row comment-section">
                                    <h5>Comments: </h5>
                                    <div v-for="(com, cindex) in currentTask.comments" :key="cindex" class="mt-2 cstm-job-view-card">
                                        <h5>{{ com.commentaddable.name }}</h5>
                                        <small>
                                             <vue-moments-ago class="" prefix="posted at " suffix="ago" :date="com.created_at" lang="en" />
                                        </small>
                                        <p class="mt-2">{{ com.comment }}</p>
                                    </div>
                                </div>
                                
                                <textarea v-model="comment" placeholder="Ask a question or post a comment" class="txtara comment-text-area"></textarea>

                                <button type="button" @click="addComment(currentTask.id)" class="main-blue-btn">Comment</button>

                            </div>

                        </div>


                    </div>


                </div>
            </div>
        </div>



    </section>
</template>

<script>
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'
    import vue2Dropzone from 'vue2-dropzone'
    import Datepicker from 'vuejs-datepicker';
    import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap';
    import VueMomentsAgo from 'vue-moments-ago';
    export default {
        data() {
            return {
                searchQuery:"",
                projects: [],
                allprojects: [],
                users: [],
                user: window.user,
                comment: '',
                currentProject: '',
                currentIndex: '',
                query: '',
                currentTask : undefined,
                cp: {
                    id: '',
                    name: ''
                },
                task: {
                    name: '',
                    users: new Set([]),
                },
                baseUrl: window.axios.defaults.baseURL,
                dropzoneOptions: {
                    autoProcessQueue: false,
                    url: window.axios.defaults.baseURL,
                    thumbnailWidth: 250,
                    headers: {
                        "Authorization": 'Bearer ' + this.getCookie('p_token')
                    },
                    addRemoveLinks: true,
                },

            }
        },
        components: {
            Datepicker,
            VueTypeaheadBootstrap,
            vue2Dropzone,
            VueMomentsAgo
        },
        mounted() {
            this.getProjects();
            this.getAllProjects();
        },
        methods: {
            getCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            },
            setUser(event) {
                this.task.users.add(event);
            },
            removeUser(user) {
                this.task.users.delete(user);
            },
            onDropzoneUploadComplete() {
                this.$refs.myVueDropzone.removeAllFiles();
                $('#createTask').modal('hide');
            },
            markComplete(id){
                axios.get(`/projects/tasks/${id}/mark-complete`)
                    .then(({
                        data
                    }) => {
                        this.$toastr.success(data.message);
                        this.currentTask = data.task;
                        this.getProjects();
                        // this.users = data.data;
                    }).catch((e) => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key => {
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });
            },            
            addComment(id){
                axios.post(`/projects/tasks/${id}/comment`, { comment: this.comment })
                    .then(({
                        data
                    }) => {
                         let a = ''
                        a = $(`<div class="mt-2 cstm-job-view-card"><h5>${user.first_name +' '+ user.last_name} </h5> <small><span data-v-55107a8f="" class="vue-moments-ago">posted just now</span></small> <p class="mt-2">${this.comment}</p></div>`)
                        $(".comment-section").append(a);
                        $(".comment-text-area").val('');
                        this.$toastr.success(data.message);
                        // this.$router.go(this.$router.currentRoute) 

                        this.getProjects();
                        this.comment = "";
                    }).catch((e) => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key => {
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });
            },            
            lookupUser() {
                axios.get(`/employees?disbloadr=true&name=${this.query}`)
                    .then(({
                        data
                    }) => {
                        this.users = data.data;
                    });
            },
            saveTask() {
                this.task.users = Array.from(this.task.users);
                this.task.project = this.currentProject;
                this.task.due = this.dateFormat(this.task.due_date);
                axios.post(`/projects/tasks/store`, this.task)
                    .then(({
                        data
                    }) => {
                        this.task = {
                            name: '',
                            users: new Set([]),
                        };
                        this.getProjects();
                        $('#createTask').modal('hide');
                        this.$refs.myVueDropzone.dropzone.options.url = window.axios.defaults.baseURL +
                            `projects/tasks/${data.data.id}/files/upload`;
                        setTimeout(() => {
                            this.$refs.myVueDropzone.processQueue();
                        }, 500);
                        this.$toastr.success(data.message, "Added!");

                    }).catch((e) => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key => {
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });
            },
            addProjectToBoard(id) {
                if (!this.cp.id) {
                    this.$toastr.error("Select any project to assign on the board", "Error!");
                    return;
                }
                axios.get(`/projects/${id}/board/add/`, )
                    .then(data => {
                        this.$toastr.success(data.data.message, "Added!");
                        document.querySelector(".modal-backdrop").style.display = "none";
                        document.getElementById("addproject").classList.remove("show");

                        this.getProjects();
                    }).catch(e => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key => {
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });
            },
            getAllProjects() {
                axios.get(`/projects/logs/all?only_board=0`)
                    .then(data => {
                        this.allprojects = data.data;
                    });
            },
            getProjects() {
                axios.get(`/projects/logs/all?only_board=1`)
                    .then(data => {
                        this.projects = data.data;
                    });
            },
            filterProjects() {
                axios.get(`/projects/logs/all?only_board=1&keyword=${this.searchQuery}`)
                    .then(data => {
                        this.projects = data.data;
                    });

            },
        },
        watch: {}
    }
</script>

<style>
        #viewTask p {
            font-weight: normal;
        }
		.glow {
		  font-size: 20px;
		  color: #fff;
		  text-align: center;
		  animation: glow 1s ease-in-out infinite alternate;
		}

		@keyframes glow {
		  from {
		    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1ba912, 0 0 40px #1ba912, 0 0 50px #1ba912, 0 0 60px #1ba912, 0 0 70px #1ba912;
		  }
		  
		  to {
		    text-shadow: 0 0 20px #fff, 0 0 30px #1ba912, 0 0 40px #ff4da6, 0 0 50px #1ba912, 0 0 60px #1ba912, 0 0 70px #1ba912, 0 0 80px #1ba912;
		  }
		}
		.mark-complete{
        	color: #1ba912;
            font-size: 20px;
            cursor: pointer;
		}
		h5.mark-complete.active{
        	color: #1ba912;
            font-size: 20px
		}

		.mark-complete i.fa-check {
		    color: white;
		    background: #ccc;
		    padding: 7px;
		    border-radius: 50%;
		}


		.mark-complete.active i.fa-check {
		    color: white;
		    background: green;
		    padding: 7px;
		    border-radius: 50%;
        } 
        .boad-card span.mark-complete {
            font-size: 10px;
        }
   	
</style>