<template>
    <div class="row">
        <h3 v-if="id && projects.length"
            style="font-size: 20px !important;color: #364b87;padding: 0px 0px 20px 20px;">
            Project: {{ projects[0].project.name }}</h3>

        <div class="col-lg-12">
            <div class="maain-tabble table-responsive">
                <table class="table text-center table-striped table-bordered zero-configuration">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>PROJECT NAME</th>
                            <th>Project Description</th>
                            <th v-if="id">Request To</th>
                            <th v-if="id">Status</th>
                            <th>CREATED ON</th>
                            <th v-if="!id">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(request, index) in projects" v-bind:key="index">
                            <td>{{++index}}</td>
                            <td>{{request.project.name}}</td>
                            <td>{{ request.project.mini_description }}</td>
                            <td v-if="id">{{ request.requestable.name }}</td>
                            <td v-if="id">
                                <span v-if="request.status == 0">Pending</span>
                                <span v-if="request.status == 1">Accepted</span>
                                <span v-if="request.status == 2">Rejected</span>
                            </td>
                            <td>{{request.project.created_date}}</td>
                            <td v-if="!id">
                                <div class="btn-group mr-1 mb-1">
                                   
                                        <router-link class="dropdown-item l-grey uppercase" 
                                        :to="{ name: 'projects.bid.internal', query: { type: 'outgoing' }, params: { id : request.project.id } }">
                                        <i class="fas fa-eye"></i>View</router-link>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--main col end-->
    </div>

</template>

<script>
    export default {            
        props: [
            'id'
        ],
        data(){
            return {
                projects: [],
            }
        },
        components: {
        },
        mounted() {
            this.getOutgoingProjectBidRequest();
        },
        methods: {
            getOutgoingProjectBidRequest(){
                axios.get(`projectsbid/outgoing?id=${this.id ?? ''}`)
                    .then(({data}) => {
                        this.projects = data;
                    })
            }
        },
        watch: {
            "$route": function(){
                this.getOutgoingProjectBidRequest();
            },
            "id" : function(){
                this.getOutgoingProjectBidRequest();
            }
        }
    }
</script>
