<template>


<section class="customer-home-main">
   <div class="container">
      <div class="following-card clearfix">
         <h3 class="table-h3 pt-4">Notifications</h3>
         
         <div class="following-card-row" v-for="(noti, index) in notifications">
            <a :href="`/conekpro${(noti.url)?noti.url:'/home'}`">
                <div class="d-flex align-items-center">
                <img :src="noti.sender_image" class="profile-img" alt="">
                <div class="flex-column">
                    <h5>{{noti.title}}</h5>
                    <p>{{noti.body}}</p>
                    <span  class="noti-black-span">{{noti.date}}</span>
                </div>
                </div>
            </a>    
            <span  class="noti-black-span"><timeago :datetime="noti.created_at"></timeago></span>
         </div>
      </div>
      <!--following card end-->
   </div>
   <!--container end--> 
</section>

   
</template>

<script>
    export  default {
        components: {
        },
        data(){
            return {
                notifications: [],
                userImage:''
            }
        },
        mounted() {
            this.loadNotifications();
        },
        methods: {
            loadNotifications(){
                axios.get(`get-all-notifications`)
                    .then(({data}) => {
                        this.notifications = data;
                    }).catch( e => console.log(e))
            },
            // findUserImage(userId, userType){
            //     axios.get(`notifications-get-user-image/${userId}/${userType}`)
            //         .then(({data}) => {
            //             this.userImage = data;
            //             console.log(this.userImage, '=======');
            //         }).catch( e => console.log(e))
            // },
        },
        
        watch: {

        }
    }
</script>

<style>
.card mt-3{
    padding:10px !important;
}
h1.pull-left{
    font-size: 20px !important;
}

</style>
