<template>
    <div class="modal" id="cropper_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crop Image</h5>
                    <button  @click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="overflow-x: hidden !important;overflow-y: scroll !important;height: 400px !important; " 
                class="modal-body">
                    <vue-cropper
                        :aspect-ratio="1 / 1"
                        ref="cropper"
                        :src="base64Image"
                        alt="Source Image"
                    ></vue-cropper>
                </div>
                <div class="modal-footer">
                    <button @click="getCropBoxData" type="button" class="btn btn-primary">Save changes</button>
                    <button @click="closeModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';
    export default {
        props: [
            'base64Image',
        ],
        data() {
            return {
            }
        },
        components: {
            VueCropper
        },
        mounted() {
        },
        methods: {
            getCropBoxData() {
                let data =  this.$refs.cropper.getCroppedCanvas().toDataURL();
                this.$emit('getCropData', data);
            },            
            closeModal(){
                this.$emit('closeModal');
            }
        },
        watch: {
            'base64Image' : function(){
                this.$refs.cropper.replace(this.base64Image);
            },
        }
    }
</script>
<style>
    #cropper_modal .model-body{
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        height: 400px !important;        
    }
</style>