<template>
    <div class="comment-bottom">

        <div class="main">

            <div class="comment-scroll">
            
            <div v-for="(com, comindex) in comments" :key="comindex" class="comment-row">
                

                 <span v-if="com.owner==false">
                                         <router-link class="group-init" v-if="com.commentaddable_type=='App\\Organization' ||com.commentaddable_type=='App\Organization' " 
                                        :to="{ name: 'organizations.show', params: { id: com.commentaddable.id } }">
                                                            <img :src="com.commentaddable.image" class="profile-img" alt="">

                                        </router-link>
                                        <router-link  class="group-init" v-else 
                                            :to="{ name: 'users.show', params: { id:com.commentaddable.id} }">
                                                            <img :src="com.commentaddable.image" class="profile-img" alt="">

                                        </router-link>
                                        
                                    </span>
                                    <span v-else>
                                                        <img :src="com.commentaddable.image" class="profile-img" alt="">

                                    </span>   


                <div class="comment-row-box for-transparent" >
                    <div class="second-level">  
                    <div v-if="com.owner" class="btn-group timeline-card-top-drop-down mr-3">
                        <a @click="deleteComment(com.id)" href="javascript:;" class="dropdown-item l-grey uppercase">Delete</a>
                    </div>
                     <span v-if="com.owner==false">
                                         <router-link class="group-init" v-if="com.commentaddable_type=='App\\Organization' ||com.commentaddable_type=='App\Organization' " 
                                        :to="{ name: 'organizations.show', params: { id: com.commentaddable.id } }">
                                           <h5 class="name mt-2">{{com.commentaddable.name}}
                        <vue-moments-ago class="comment-posted-time" prefix="" suffix="ago" :date="com.created_at" lang="en" />
                    </h5>
                                        </router-link>
                                        <router-link  class="group-init" v-else 
                                            :to="{ name: 'users.show', params: { id:com.commentaddable.id} }">
                                         <h5 class="name mt-2">{{com.commentaddable.name}}
                        <vue-moments-ago class="comment-posted-time" prefix="" suffix="ago" :date="com.created_at" lang="en" />
                    </h5>
                                        </router-link>
                                        
                                    </span>
                                    <span v-else>
                                        <h5 class="name mt-2">{{com.commentaddable.name}}
                        <vue-moments-ago class="comment-posted-time" prefix="" suffix="ago" :date="com.created_at" lang="en" />
                    </h5>
                                    </span>   

                    <p>{{ com.comment}}<button v-on:click ="showReplies(com.id)" class="reply-button name mt-2 ml-2" > <i class="fa fa-reply blue-text" aria-hidden="true"></i><span class = "reply-count" v-if="com.replies.length > 0 ">{{com.replies.length}}</span></button></p>
                           </div> 
                            
                            <div class="inner-div" style="display:none;" :id ="com.id">
                                <div class="comment-row"><img :src="com.commentaddable.image" alt="" class="profile-img"> <div ref="replytHolder"  class="comment-row-box"><textarea v-model="reply" placeholder="Reply"></textarea> <button @click="addReply(com.id)" class="send-btn main-blue-btn fa-pull-right home-post-btn my-0" type="button">Post</button></div></div>
                                <div v-if="com.replies.length > 0"  class="reply-div">
                                   
                                    <div v-for="(reply, repindex) in com.replies" :key="repindex" class="comment-row">


                                        
                                            <span v-if="reply.owner==false">
                                         <router-link class="group-init" v-if="reply.commentaddable_type=='App\\Organization' ||reply.commentaddable_type=='App\Organization' " 
                                        :to="{ name: 'organizations.show', params: { id: reply.commentaddable.id } }">
                                           <img :src="reply.commentaddable.image" alt="" class="profile-img">
                                        </router-link>
                                        <router-link  class="group-init" v-else 
                                            :to="{ name: 'users.show', params: { id:reply.commentaddable.id} }">
                                          <img :src="reply.commentaddable.image" alt="" class="profile-img">
                                        </router-link>
                                        
                                    </span>
                                    <span v-else>
                                            <img :src="reply.commentaddable.image" alt="" class="profile-img">

                                    </span>  
                                        
                                        <div class="comment-row-box"  style="background:ywhite;">
                                            <div v-if="reply.owner" class="btn-group timeline-card-top-drop-down mr-3">
                                                <a @click="deleteComment(reply.id)" href="javascript:;" class="dropdown-item l-grey uppercase">Delete</a>
                                            </div>
                                                 <span v-if="reply.owner==false">
                                         <router-link class="group-init" v-if="reply.commentaddable_type=='App\\Organization' ||reply.commentaddable_type=='App\Organization' " 
                                        :to="{ name: 'organizations.show', params: { id: reply.commentaddable.id } }">
                                          <h5 class="name mt-2">{{reply.commentaddable.name}}
                                                <vue-moments-ago class="comment-posted-time" prefix="" suffix="ago" :date="reply.created_at" lang="en" />
                                            </h5>
                                        </router-link>
                                        <router-link  class="group-init" v-else 
                                            :to="{ name: 'users.show', params: { id:reply.commentaddable.id} }">
                                         <h5 class="name mt-2">{{reply.commentaddable.name}}
                                                <vue-moments-ago class="comment-posted-time" prefix="" suffix="ago" :date="reply.created_at" lang="en" />
                                            </h5>
                                        </router-link>
                                        
                                    </span>
                                    <span v-else>
                                          <h5 class="name mt-2">{{reply.commentaddable.name}}
                                                <vue-moments-ago class="comment-posted-time" prefix="" suffix="ago" :date="reply.created_at" lang="en" />
                                            </h5>

                                    </span>  


                                            <p>{{ reply.comment}}</p>

                                            
                                        </div>
                                    </div>
                                </div>

                            </div>


                </div>
            </div>

        </div>

        <div class="comment-row post-section">
                <img :src="user.image" class="profile-img" alt="">
                <div ref="commentHolder" class="comment-row-box">
                    <textarea v-on:keyup="commentWhenEnterPressed" v-model="comment" placeholder="Write your comment here"></textarea>
                    <button @click="addComment" class="send-btn main-blue-btn fa-pull-right home-post-btn my-0" type="button">
                        Post</button>
                </div>
            </div>
      </div>  
    </div>
</template>
<style >
.for-transparent{
    background:transparent; padding:0;    
}
.second-level{
    background: #fff;
    padding: 15px;
    position: relative;
    flex: 1;
}
.inner-div{
    background: white;
    padding: 10px;
}
.comment-posted-time{
    float:none !important;
}
.deletelink{
    padding-top: 25px !important;
}
.reply-count{
    padding-left: 4px;
}
.post-section{
    border: solid 1px #dfdfdf; border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}
</style>
<script>

    import VueMomentsAgo from 'vue-moments-ago';
    export default {
        props: [
            'post'
        ],
        components: {
            VueMomentsAgo
        },
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
                comment: '',
                comments: [],
                reply:'',
            }
        },
        mounted() {
            this.fetchComment();
        },
        methods: {
            commentWhenEnterPressed: function(e) {
                if (e.keyCode === 13) {
                    this.addComment();
                }   
            },
            showReplies(data){
                let elem = '#'+data;
                $(elem).toggle();
                console.log(data);
            },
            deleteComment(id){
                axios.delete(`/posts/${this.post.id}/comment/${id}?noloader=1`)
                .then(({data}) => {
                    this.fetchComment();
                    this.post.comments_count--;
                })
                
            },
            fetchComment(){
                axios.get(`/posts/${this.post.id}/comment?noloader=1`)
                .then(({data}) => {
                    this.comments = data;
                })
            },
            addComment(){
                if(this.comment == ""){
                    this.$refs.commentHolder.style.border = "1px solid red";
                    return;
                }
                else
                    this.$refs.commentHolder.style.border = "none";

                axios.post(`/posts/${this.post.id}/comment?noloader=1`, {
                    comment: this.comment
                })
                .then(({data}) => {
                    
                     axios.get(`/posts/${this.post.id}/comment?noloader=1`)
                .then(({data}) => {
                    this.comments = data;
                     var container = this.$el.querySelector(".comment-scroll");
                    container.scrollTop = container.scrollHeight;
                })
                    this.comments = [ data, ...this.comments];
                    this.post.comments_count++;
                    this.comment = '';
                })
                .catch((error) => {
                    console.log(error);
                })                
            },
            addReply(commentId){
                console.log(commentId);

                if(this.reply == ""){
                    return;
                }
               

                axios.post(`/posts/${this.post.id}/comment/${commentId}?noloader=1`, {
                    reply: this.reply
                })
                .then(({data}) => {
                    
                     axios.get(`/posts/${this.post.id}/comment?noloader=1`)
                .then(({data}) => {
                    this.comments = data;
                })
                    this.comments = [ data, ...this.comments];
                    this.post.comments_count++;
                    this.comment = '';
                    this.reply = '';
                })
                .catch((error) => {
                    console.log(error);
                })                
            }
            
            
            
        },
        watch: {}
    }
</script>