<template>
<div class="app-content content dashboard">
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration">
              
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-12 mb-4 mb-xl-0">
                        <div class="card-db bg-wwhite">
                            <div class="wrap">
                                <p class="dshbrd-p">TOTAL RIDES</p>
                                <div class="ic-txt">
                                    <h6>{{data.totalRides}} </h6>
                                     <i class="fas fa-car fa-3x"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 mb-4 mb-xl-0">
                        <div class="card-db bg-wwhite">
                            <div class="wrap">
                                <p class="dshbrd-p">RIDES COMPLETED </p>
                                <div class="ic-txt">
                                    <h6>{{data.ridesCompleted}}</h6>
                                    <i class="fas fa-car fa-3x"></i>
                                </div>

                               

                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 mb-4 mb-xl-0">
                        <div class="card-db bg-wwhite">

                            <div class="wrap">
                                <p class="dshbrd-p">RIDES CANCELLED</p>
                                <div class="ic-txt">
                                    <h6>{{data.ridesCancelled}}</h6>
                                    <i class="fas fa-car fa-3x"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                  <div class="pb-2">
                    <div class="f-dd">
                        <button type="button" class="filter-status" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Select Year <i
                                class="fas fa-angle-down"></i></button>
                        <div class="dropdown-menu" x-placement="bottom-start">
                            <a class="dropdown-item" :href="`dashboard?year=${currentYear}`">{{currentYear}}</a>
                            <a class="dropdown-item" :href="`dashboard?year=${currentYear-1}`">{{currentYear-1}}</a>
                            <a class="dropdown-item" :href="`dashboard?year=${currentYear-2}`">{{currentYear-2}}</a>
                            <a class="dropdown-item" :href="`dashboard?year=${currentYear-3}`">{{currentYear-3}}</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-12 mt-4 mt-xl-0">

                        <div class="chart-bar box bottom mt-2">
                            <div class="row">
                                <div class="col-12">
                                    <div class="chart-main position-relative">
                                        <div class="row">
                                            <div class="col-12 text-align-center position-relative">
                                                <h4 class="m_tag">Total Rides Per Month</h4>
                                                <h5 class="basic-txt2">Number of rides</h5>

                                            </div>
                                            <div class="col-12 col-xl-12">
                                                <div id="myChart-data" class="height-400"></div>
                                                <vue-bar-graph 
:points=chartData
:show-y-axis="false"
:show-x-axis="true"
:width="1080"
:hieght="600"
:show-values="true"
:use-custom-labels="true"
:labels="['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dec']"

/>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>





                <!--customer start here-->


                <div class="content-wrapper1 mt-4">
                    <h4 class="ori-txt2">Recent Rides</h4>
                    <div class="content-body">
                        <!-- Basic form layout section start -->
                        <section id="configuration">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card rounded pad-20">
                                        <div class="card-content collapse show">
                                            <div class="card-body">


                                                <div class="top mt-5">
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="maain-tabble table-responsive">
                                                    <table
                                                        class="table table-striped table-bordered zero-configuration">
                                                        <thead>
                                                            <tr>
                                                                <th>s.no</th>
                                                                <th>Pick up</th>
                                                                <th>Drop off</th>
                                                                <th>Date</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="(ride,rideindex) in data.rides" :key="rideindex">
                                                                 <td>{{++rideindex}}</td>
                                                                <td>{{ride.bookingplaces.pick_location}}</td>
                                                                <td>{{ride.bookingplaces.pick_location}}</td>
                                                                <td>{{ride.created_date}}</td>
                                                            </tr>
                                                           

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <!--customer end here-->

            </section>
        </div>
    </div>
</div>


</template>

<script>
import VueBarGraph from 'vue-bar-graph';

    export default {
        components: {
    VueBarGraph,
    },      data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
                data:[],
                currentYear:'',
                chartData:[22, 3, 4, 55, 6, 8, 8, 1, 0, 12, 33, 0],
            }
        },
        mounted() {
             
            this.getHomeData();
            this.currentDate();
        },
        methods: {
            currentDate() {
                const current = new Date();
                // const date = `${current.getDate()}/${current.getMonth()+1}/${current.getFullYear()}`;
                this.currentYear = current.getFullYear();
            },
            getHomeData(){
                 axios.get(`/home`)
                    .then(({data}) => {
                        console.log(data);
                        this.data = data;
                        // this.chartData = this.data.chartData;
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            }
        },
        watch: {}
    }
</script>

<style  >
rect {
    fill: red !important;
}
</style>


