<template>
    <section>
        <section class="banner">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 p-0 bg-color-1">
                        <div class="banner-content">
                            <h1 class="heading">Find the Perfect Service <br>
                                for Your Business</h1>
                            <p class="banner-text">
                                It is a long established fact that a reader will be distracted
                                by the readable content of a page when looking at its layout.
                                The point of using.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image-wrapper">
                            <Img src="/users/images/banner-img.png" class="banner-image" alt=""  />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 col-md-12 offset-lg-2">
                        <div class="inner-wrapper-sec">
                            <div class="wrapper-content-section-2">
                                <h1 class="heading">Welcome to Our Community</h1>
                                <p class="banner-text">It is a long established fact that a reader will be distracted by the
                                    readable
                                    content of a page when looking at its layout The point of using.</p>
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                    aria-orientation="vertical">
                                    <a class="nav-link tab-linkz active" id="v-pills-home-tab" data-toggle="pill"
                                        href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                        aria-selected="true">Search for a Job</a>
                                    <a class="nav-link tab-linkz" id="v-pills-profile-tab" data-toggle="pill"
                                        href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                        aria-selected="false">Connect with Business <br>
                                        Organizations.</a>
                                    <a class="nav-link tab-linkz" id="v-pills-messages-tab" data-toggle="pill"
                                        href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                                        aria-selected="false">Initiate your Own <br>
                                        Projects.</a>
                                </div>
                            </div>
                            <div class="tab-content-wrapper">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                        aria-labelledby="v-pills-home-tab">
                                        <Img src="/users/images/tab-pic.png" class="tab-pic" alt="" />
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                        aria-labelledby="v-pills-profile-tab">
                                        <Img src="/users/images/tab-pic.png" class="tab-pic" alt="" />
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                        aria-labelledby="v-pills-messages-tab">
                                        <Img src="/users/images/tab-pic.png" class="tab-pic" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="slider-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="wrap-slider">
                            <h1 class="heading white-txt">
                                Popular Professional Services
                            </h1>
                            <div class="popular-services owl-carousel owl-loaded owl-drag">






                                <div class="owl-stage-outer">
                                    <div class="owl-stage"
                                        style="transform: translate3d(-2655px, 0px, 0px); transition: all 0.25s ease 0s; width: 4552px;">
                                        <div class="owl-item cloned" style="width: 379.333px;">
                                            <div class="item-service">
                                                <Img src="/users/images/slider-4.png" alt="" />
                                                <div class="serv-wrapper">
                                                    <p class="black">Web Designing</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 379.333px;">
                                            <div class="item-service">
                                                <Img src="/users/images/slider-3.png" alt="" />
                                                <div class="serv-wrapper">
                                                    <p class="yellow">Project Management</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 379.333px;">
                                            <div class="item-service">
                                                <Img src="/users/images/slider-1.png" alt="" />
                                                <div class="serv-wrapper">
                                                    <p class="red">Logo Designing</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 379.333px;">
                                            <div class="item-service">
                                                <Img src="/users/images/slider-1.png" alt="" />
                                                <div class="serv-wrapper">
                                                    <p class="red">Logo Designing</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 379.333px;">
                                            <div class="item-service">
                                                <Img src="/users/images/slider-2.png" alt="" />
                                                <div class="serv-wrapper">
                                                    <p class="light-blue">Digital Marketing</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 379.333px;">
                                            <div class="item-service">
                                                <Img src="/users/images/slider-3.png" alt="" />
                                                <div class="serv-wrapper">
                                                    <p class="yellow">Project Management</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 379.333px;">
                                            <div class="item-service">
                                                <Img src="/users/images/slider-4.png" alt="" />
                                                <div class="serv-wrapper">
                                                    <p class="black">Web Designing</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item active" style="width: 379.333px;">
                                            <div class="item-service">
                                                <Img src="/users/images/slider-3.png" alt="" />
                                                <div class="serv-wrapper">
                                                    <p class="yellow">Project Management</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item active" style="width: 379.333px;">
                                            <div class="item-service">
                                                <Img src="/users/images/slider-1.png" alt="" />
                                                <div class="serv-wrapper">
                                                    <p class="red">Logo Designing</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item cloned active" style="width: 379.333px;">
                                            <div class="item-service">
                                                <Img src="/users/images/slider-1.png" alt="" />
                                                <div class="serv-wrapper">
                                                    <p class="red">Logo Designing</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 379.333px;">
                                            <div class="item-service">
                                                <Img src="/users/images/slider-2.png" alt="" />
                                                <div class="serv-wrapper">
                                                    <p class="light-blue">Digital Marketing</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 379.333px;">
                                            <div class="item-service">
                                                <Img src="/users/images/slider-3.png" alt="" />
                                                <div class="serv-wrapper">
                                                    <p class="yellow">Project Management</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i
                                            class="fas fa-long-arrow-alt-left"></i></button><button type="button"
                                        role="presentation" class="owl-next"><i
                                            class="fas fa-long-arrow-alt-right"></i></button></div>
                                <div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button
                                        role="button" class="owl-dot active"><span></span></button></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <section class="newsletter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="newsletter-wrapper">
                            <div class="inner-w">
                                <h1 class="heading">
                                    Subscribe to our News Letter
                                </h1>
                                <p class="banner-text">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout The point of using.
                                </p>
                                <form action="">
                                    <div class="form-wr">
                                        <input v-model="email" name="email" type="email" required  class="email-subscribe">
                                      <button @click="sendQuery" type="button" class="news-send">Subscribe</button>

                                    </div>
                                </form>
                                
                            </div>
                            <Img src="/users/images/newsletter-girl.png" class="newsgirl" alt=""  />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>

<script>
    export default {
        components: {},
        data() {
            return {
                baseUrl: window.base_url,
                email:'',
            }
        },
        mounted() {},
        methods: {
            sendQuery(){
                 
                 let formData = new FormData();
                 formData.append("email", this.email);
                axios.post('subscribe/store', formData)
                    .then(({data}) => {
                        this.$toastr.success('Subscribed to News Letter', "Success !");  
                        $('.email-subscribe').val('');   
                    }).catch( e => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key=>{
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });
            }
        },
        watch: {}
    }
</script>

<style>

</style>