html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
button:focus, input:focus, textarea:focus{
	outline:0;
}
body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    background: #f6f6f6;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}
.blue-txt{
	color:#01AEEE !important;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.img-full{
	width:100%;
}
.container-custom {
    max-width: 1600px;
    margin: 0px auto;
    padding-right: 15px;
    padding-left: 15px;
}

li.nav-item.join-cta {
    margin-left: 20px;
}

.join-cta a.nav-link {
    background: rgb(75, 116, 206);
    background: linear-gradient(180deg, rgba(75, 116, 206, 1) 0%, rgba(54, 75, 135, 1) 100%);
    padding: 10px 40px !important;
    border-radius: 50px;
    color: #fff !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
    -moz-box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
    box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
}

a.nav-link {
    font-size: 15px;
    font-weight: 500;
    margin: 0px 10px !important;
}

li.nav-item.active a.nav-link {
    color: #364B87 !important;
}

a.nav-link :last-child {
    margin: 0px !important;
}

section.navBar {
    padding: 20px 0px;
    position: absolute;
    width: 100%;
    z-index: 10;
    background: #fff;
}

.bg-color-1 {
    background-color: #E7EAF5;
    border-radius: 0 0 107px 0;
    padding: 300px 0px !important;
}
.csmtr-nav{
	    position: relative !important;
	border-bottom: 1px solid #ccc;
}
.top-login-dropdown{
	display: inline-block;
	display: flex;
	align-items: center;
	margin-left: 15px;
}
.top-login-dropdown .profile-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 0 5px 0 0;
}
.top-login-dropdown a{
	display: flex;
	align-items: center;
	font-size: 13px;
	color: #364B87;
	font-weight: 500;
}
.header-srch{
	display: flex;
	background: #EDEEF3;
	align-items: center;
	padding:10px 15px;
	border-radius:25px;
	margin: 0 0 0 10px;
}
.header-srch input{
	background: transparent;
	border: none;
}
.header-srch button{
	background: transparent;
	border: none;
	color: #364B87;
	font-size: 18px;
}
.top-login-dropdown button{
	background: transparent;
	color: #ccc;
	font-size: 20px;
	margin-top: 5px;	
	border: none;
}
.banner-content {
    max-width: 652px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1.heading {
    color: #364B87;
    font-size: 50px;
    font-weight: 500;
    width: 100%;
}
h2.heading-h2 {
    color: #364B87;
    font-size: 50px;
    font-weight: 500;
	padding: 0;
	margin: 0 0 15px 0;
}
p.banner-text {
    color: #364B87;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    padding-right: 0;
    padding-left: 10px;
    margin-bottom: 40px;
}

img.banner-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-wrapper {
    width: 530px;
    height: 580px;
    padding-top: 100px;
    margin: 0px auto;
}

.bg-color-1:after {
    content: '';
    position: absolute;
    right: -60px;
    top: 150px;
    background: url('../images/banner-shape.png') no-repeat;
    z-index: 5;
    width: 122px;
    height: 122px;
}

img.tab-pic {
    width: 700px;
    height: 680px;
    object-fit: contain;
    margin-right: 120px;
}

.nav-pills .nav-link.tab-linkz.active,
.nav-pills .show>.nav-link {
    color: #01AEEE;
    background: transparent;
    position: relative;
}

.nav-link.tab-linkz {
    color: #DBDBDB;
    font-size: 22px;
    margin-bottom: 30px !important;
    padding: 0 !important;
    margin-left: 0 !important;
}

div#v-pills-tab {
    margin-top: 50px;
}

section.section-2 {
    background: url('../images/section2-bg.png') no-repeat;
    margin: 100px 0px;
	background-size: 9%;
}

.wrapper-content-section-2 {
    padding-left: 80px;
}

.inner-wrapper-sec {
    display: flex;
}

div#v-pills-tab:after {
    content: '';
    position: absolute;
    background: url('../images/line.png') no-repeat;
    width: 750px;
    height: 270px;
    background-size: contain;
    top: 220px;
    right: 420px;
}

.slider-section {
    background: url('../images/slider-sec-bg.png') no-repeat;
    padding: 100px 70px 100px 70px;
    border-radius: 0 0 107px 0;
    background-size: 65%;
}

.wrap-slider {}

.white-txt {
    color: #fff !important;
}

.popular-services {
    margin-top: 50px;
}

.item-service {
    position: relative;
    margin: 0px 10px;
    box-shadow: 0px 0px 9px #000;
    border-radius: 50px;
}

.serv-wrapper {
    position: absolute;
    bottom: -20px;
    z-index: 5;
    background: #fff;
    padding: 12px;
    border-radius: 20px 0px 20px 20px;
    right: 20px;
    box-shadow: 0px 4px 10px -2px #eee;
}

.popular-services .owl-stage-outer {
    padding-bottom: 50px;
}

.item-service .serv-wrapper {}

.item-service .serv-wrapper p {
    font-size: 14px;
    font-weight: 500;
}

p.yellow {
    color: #FCA347;
}

p.red {
    color: #C91C30;
}

p.light-blue {
    color: #23B4D1;
}

.popular-services .owl-nav {
    position: absolute;
    top: -100px;
    right: 580px;
}
p{
	font-size:15px;
	color: #929292;
	font-weight: 400;
	line-height: 26px;
	padding: 0px;
	margin: 0 0 15px 0;
}
body .popular-services .owl-nav button {
    color: #fff !important;
    margin: 0px 10px;
    background: #25376A !important;
    border-radius: 50px;
}

body .popular-services .owl-nav button i {
    padding: 20px !important;
    border-radius: 50px !important;
}
.newsletter-wrapper {
    display: flex;
    align-items: center;
    max-width: 1500px;
    margin: 0px auto;
    position: relative;
    background: #ECF0FB;
    border-radius: 78px;
    padding: 100px;
}

section.newsletter {
    padding: 170px 0px;
}

img.newsgirl {
    position: absolute;
    right: -40px;
    width: 580px;
    height: 575px;
    object-fit: contain;
    bottom: 0;
}

.newsletter-wrapper .inner-w {
    max-width: 60%;
}

.form-wr {
    position: relative;
    margin-top: 50px;
}

.form-wr input[type="email"] {
    background: 0;
    border: 0;
    border-bottom: 1px solid #BCC4DC;
    width: 100%;
    padding-right: 180px;
}

.form-wr button.news-send {
    position: absolute;
    right: 0;
    background: rgb(75, 116, 206);
    background: linear-gradient(180deg, rgba(75, 116, 206, 1) 0%, rgba(54, 75, 135, 1) 100%);
    padding: 10px 40px !important;
    border-radius: 50px;
    color: #fff !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
    -moz-box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
    box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
    border: 0;
    bottom: 10px;
}

footer {
    margin: 0px auto;
    padding: 0px 120px !important;
}

footer .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

footer .top .links {}

footer .top .links ul.navbar-nav.mx-auto {
    display: flex !important;
}

footer .top .links ul li {
    display: inline-block !important;
}

footer .top .links ul {
    display: flex;
}

footer .top .socials {}

footer .top .socials ul {
    display: flex;
}

footer .top .socials ul li {
    padding: 0px 10px;
}

footer .top .socials ul li:last-child {
    padding-right: 0;
}

footer .top .links ul li a {
    color: #364B87;
}

footer .bot {
    text-align: center;
    border-top: 1px solid #BCC4DC;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #364B87;
    font-size: 13px;
    font-weight: 500;
}

.about-main{
	padding:50px 0px;
	width: 100%;
}
.about-main h2{
	color: #364B87;
	font-size: 50px;
	padding: 0px;
	margin: 0 0 15px 0;
	font-weight: 500;
}
.about-main p{
	color: #364B87;
	font-size: 15px;
	line-height: 22px;
	padding: 0px;
	margin: 0 0 15px 0;
	font-weight: 400;
}
.inner-nav{
	position: relative !important;
}
.about-top-left{
	width:80%;
	margin:50px auto;
}
.sign-up-main{
	width: 100%;
	padding: 100px 0px;
	background: url("../images/register-bg_03.jpg") no-repeat center top;
	text-align: center;
	min-height: 70vh;
	background-size:cover; 
}
.sign-up-main ul{
	display: inline-block;
	list-style-type: none;
	margin: 50px 0 0 0;
	padding: 0;
	text-align: center;
	vertical-align: top;
}
.sign-up-main ul li{
	display: inline-block;
	list-style-type: none;
	margin: 0px 10px;
	padding: 15px 25px;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
	width: 150px;
	min-height: 130px;
	vertical-align: top;
-webkit-transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out;
-ms-transition: all 400ms ease-in-out;
-o-transition: all 400ms ease-in-out;
transition: all 400ms ease-in-out;
}
.sign-up-main ul li:hover{
	background: #364B87;
-webkit-transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out;
-ms-transition: all 400ms ease-in-out;
-o-transition: all 400ms ease-in-out;
transition: all 400ms ease-in-out;
	  transform: scale(1.1);
}
.sign-up-main ul li:hover a {
	color: #fff;
}
.sign-up-main ul li a{
	color: #3D4F81;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
}
.sign-up-main ul li a i{
	font-size: 50px;
	display: block;
	margin: 10px 0px;
}
.sign-up-form{
	padding:100px 0px;
}
.heading-h2 span{
	color: #929292;
	font-size: 15px;
	font-weight: 400;
	display: block;
	    margin: 15px 0px;
}
.heading-h2 span a{
	color: #364B87;
}
.signup-dp{
	width:150px;
	height: 150px;
	float: right;
	position: relative;
}
.signup-dp-img{
	width:150px;
	height: 150px;
	border-radius:50%;
	object-fit: cover;
	object-position: center;
}
.signup-dp button{
	background: transparent;
	border: none;
	position: absolute;
	right: 80px;
	bottom: -30px;
	cursor: pointer;
}

.sign-up-form h6{
	color: #364B87;
	font-size: 17px;
	font-weight: 500;
	padding: 0px;
	margin: 0 0 15px 15px;
}
.sign-up-line{
	border-bottom:1px solid #ccc;
}
.sign-up-form .form-group{
	margin-bottom: 25px;
}
.sign-up-form .form-group label{
	color: #364B87;
	font-size: 13px;
	font-weight: 500;
	padding: 0px;
	margin: 0 0 5px 15px;
	display: block;
}
.form-group label span{
	color: #FB6262;
}
.new-input{
	padding: 10px 15px;
	box-sizing: border-box;
	border: none;
	border-radius:25px;
	background: #EDEEF3;
	display: block;
	width: 100%;
}
.txtara{
	padding: 10px 15px;
	box-sizing: border-box;
	border: none;
	border-radius:25px;
	background: #EDEEF3;
	display: block;
	width: 100%;
	resize: none;
	height: 100px;
	margin: 15px 0px;
}
.signup-icons-phone{
	width:65px !important;
	height: 50px !important;
	background: #EDEEF3;
	border-radius:50%;
	font-size: 25px;
	display: inline-block;
	margin: 0px 10px;
	color: #9BA0B5;
	text-align: center;
	padding: 12px 0 0 0;
}
.signup-icons-phone:hover{
	color: #364B87;
}
.signup-rec-p{
	color: #A8ABBA;
	font-size: 11px;
	font-weight: 400;
}
.main-blue-btn {
    background: rgb(75, 116, 206);
    background: linear-gradient(180deg, rgba(75, 116, 206, 1) 0%, rgba(54, 75, 135, 1) 100%);
    padding: 13px 45px !important;
    border-radius: 50px;
    color: #fff !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
    -moz-box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
    box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	display: inline-block;
	border: none;
	text-decoration: none !important;
	margin: 15px 0px;
	cursor: pointer;
}
.main-blue-btn:hover {
    background: #fff;
    color: #466bbe !important;

}
.signup-text-main{
	padding: 50px 0px;
}
.signup-text-main h3{
	color: #01AEEE;
	font-size: 28px;
	font-weight: 600;
	margin: 0 0 15px 0;
}
.signup-text-main h3 span{
	color: #364B87;
	font-weight: 500;
	display: block;
}
.signup-packge{
	width: 100%;
	margin: 0 0 20px 0;
	background: #EDEEF3;
	padding:50px;
	text-align: center;
	border-top:5px solid #EDEEF3;
	   -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.signup-packge:hover {
	border-top:5px solid #364B87;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    transform: scale(1.1);
	box-shadow: 0px 4px 10px -2px #888;
}
.signup-packge h3{
	color: #364B87;
	font-size: 28px;
	font-weight: 600;
	margin: 0 0 15px 0;
}
.signup-packge h4{
	color: #01AEEE;
	font-size: 14px;
	font-weight: 500;
	margin: 0 0 15px 0;
}
.signup-packge i{
	color: #D0D1D9;
	font-size: 25px;
	margin: 0 0 15px 0;
}
.signup-packge h5 {
	color: #364B87;
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 15px 0;
}
.signup-packge h5 span{
	color: #01AEEE;
	font-size: 14px;
	font-weight: 500;
}
.signup-packge p{
	color: #364B87;
}
.signup-packge .main-blue-btn{
	width:100%;
	margin: 0 0 0 0;
}
.sign-in-main{
	padding:100px 0px;
}
.sign-in-main .heading-h2 span{
	color: #01AEEE;
	font-size: 15px;
	font-weight: 400;
	display: block;
	    margin: 15px 0px;
}
.sign-in-main .form-group{
	margin-bottom: 25px;
}
.form-group label{
	color: #364B87;
	font-size: 13px;
	font-weight: 500;
	padding: 0px;
	margin: 0 0 5px 15px;
	display: block;
}
.sign-in-main .form-group label span{
	color: #FB6262;
}
.pass-eye-icon{
	position: absolute;
	right: 15px;
	    top: 33px;
	color: #B2B2B2
}
.forgot-a{
	color: #01AEEE;
	font-size: 12px;
	font-weight: 500;
	padding: 0px;
	text-decoration: none;
	float: right;
}
.forgot-a:hover{
	text-decoration: underline;
}
.sign-in-main .main-blue-btn{
	width:100%;
}
.sign-in-bottom-p{
	color: #364B87;
	font-size: 12px;
	text-align: center;
	font-weight: 500;
}
.sign-in-bottom-p a{
	color: #01AEEE;
}
.sign-in-main{
	padding:100px 0px;
}
.sign-in-main h2{
	font-size: 40px;
}
.sign-in-main h4{
	color: #364B87;
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 15px 0;
}
.sign-in-main h4 span{
	color: #01AEEE;
	font-size: 13px;
	font-weight: 400;
	display: block;
	    margin: 15px 0px;
}
.password-error{
	background:#FFE4E4;
	display: flex;
	align-items: center;
	padding: 15px;
	margin: 0 0 20px 0;
}
.password-error p{
	color: #E67878;
	margin: 0px;
	padding: 0px;
	line-height: 15px;
	font-size: 13px;
}
.password-error i{
	color: #E67878;
	font-size: 25px;
	margin: 0 20px 0 0;
}
.customer-home-main{
	width:100%;
	padding: 10px 0px 100px ;
}
.timeline-post-main{
	background: #3b518f;
	padding:15px 20px;
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 20px 0;
	border-radius: 15px;
}
.timeline-post-main-top{
	
	display: flex;
	align-items: center;
}
.timeline-post-main-top .pro-img{
	width: 50px;
	height: 50px;
	border-radius:50%;
	object-fit: cover;
	object-position: center;
}
.timeline-post-main-top .new-input{
	background: #fff;
	width: 90%;
}
.timeline-post-imgs-btn{
	list-style: none;
	margin: 20px 0px 0px 0px;
	padding: 0px;
	display: block;
}
.timeline-post-imgs-btn li{
	list-style: none;
	margin: 0px;
	padding: 0px 10px;
	display: inline-block;
}
.timeline-post-imgs-btn li a{
	color: #364B87;
	font-size: 13px;
	font-weight: 500;
}
.timeline-post-imgs-btn li a img{
	float: left;
	margin: 0 10px 0 0;
}
.timeline-post-imgs{
	list-style: none;
	margin: 20px 0px 0px 0px;
	padding: 0px;
	display: block;
}
.timeline-post-imgs li{
	list-style: none;
	margin: 0px;
	padding: 0px 15px 10px 0px;
	display: inline-block;
	position: relative;
}
.timeline-post-imgs li a{
	color: #fff;
	font-size: 20px;
	position: absolute;
	right: 10px;
	top: -1px;
}
.timeline-post-imgs li img, .timeline-post-imgs li video {
	width:100px;
	height: 80px;
	border-radius:10px;
	border:1px solid #A1ABC7;
	object-fit: cover;
	object-position: center;
}
.timeline-card{
	background: #fff;
	padding: 20px;
	border-radius:15px;
	width: 100%;
	margin: 0 0 15px 0;
}
.timeline-card .posted-heading{
	font-size: 16px;
	font-weight: 400;
	color: #364B87;
	margin: 0px;
	padding: 0px 0px 10px 0px;
}
.timeline-card-top{
	display: flex;
/*	align-items: center;*/
	margin: 0 0 20px 0;
	position: relative;
}
.timeline-card-top .profile-main{
		width:45px;
	height: 45px;
	position: relative;
	margin: 0 15px 0 0;
}
.timeline-card-top .profile-main img{
		width:45px;
	height: 45px;
	border-radius:50%;
	object-fit: cover;
	object-position: center;
}
.timeline-card-top .profile-main .online-dot{
		width:10px;
	height: 10px;
	background: #25CF1F;
	border-radius:50%;
	position: absolute;
	right: 5px;
	bottom: 0px;
}
.timeline-card-top .name-details{
	flex-direction: column;
}
.timeline-card-top .name-details .name{
	font-size: 14px;
	font-weight: 500;
	color: #364B87;
	margin: 0px;
	padding: 0px 0 8px 0;
}
.timeline-card-top .name-details .name i{
	font-size: 14px;
	color: #01AEEE;
	margin-left: 10px;
}
.timeline-card-top-drop-down{
	float: right;
	color: #364B87;
	font-size: 16px;
	position: absolute;
    right: -15px;
    top: 22px;
}
.timeline-card-top .name-details .posted-time{
	font-size: 12px;
	font-weight: 400;
	color: #81879B;
	margin: 0px;
	padding: 0px;
}
.timeline-card-video-img{
	width:100%;
	position: relative;
	z-index: 1;
}
.timeline-card-video-img img, .timeline-card-video-img video, .timeline-card-video-img iframe{
	width:100%;
	height: 550px;
	object-fit: cover;
	object-position: center;
}
.timeline-card-comment-btns{
	display: flex;
	justify-content: space-between;
	padding: 0px 15px;
	margin:-5px 0px 25px 0px;
}
.timeline-card-comment-btns a{
	background: #364B87;
	padding: 10px 20px;
	font-size: 12px;
	border-radius:0px 0px 10px 10px; 
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
.timeline-card-comment-btns a i{
	font-size: 20px;
	color: #fff;
	margin: 0 10px 0 0;
}
.timeline-card-bottom{
    background: #f6f6f6;
    margin-bottom: 15px;
	padding:15px 0px;
	border:1px solid #f6f6f6;
}
.timeline-card-bottom a{
	padding: 0px 15px;
	font-size: 12px;
	font-weight: 500;
	color: #364B87;
	text-decoration: none;
	display: inline-block;
}
.timeline-card-bottom a i{
	font-size: 20px;
	margin: 0 10px 0 0;
}
.timeline-card-commet-sec{
	padding: 8px 0px;
}
.comment-row{
	flex-direction: row;
	margin: 10px 0px;
	display: flex;
    border-bottom: solid 1px #dfdfdf;
}
.comment-row .profile-img{
		width:45px;
	height: 45px;
	border-radius:50%;
	object-fit: cover;
	object-position: center;
	margin: 0 10px 0 0;
}
.comment-row-box{
	background: #fff;
	position: relative;
	flex: 1;
}
.comment-row-box .name{
	font-size: 14px;
	font-weight: 500;
	color: #364B87;
	margin: 0px;
	padding: 0px 0px 8px 0px;
}
.comment-row-box p{
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	margin: 0px;
	padding: 0;
}
.comment-row-box .send-btn{
  
    position: absolute;
    right: 20px;
    bottom: 12px;
    /* background: transparent; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.comment-row-box textarea{
    width: 100%;
    border: none;
    padding: 10px 85px 10px 20px;
    border-radius: 0;
    margin: 0 0 10px;
    
}
.comment-row-box .close-icon{
	position: absolute;
	right: 0;
	top: 0;
	background: transparent;
	border: none;
	font-size: 18px;
	color: #01AEEE
}
.timeline-card-top-drop-down .dropdown-toggle::after {
	display: none;
}
.timeline-card-top-drop-down .fas.fa-ellipsis-h{
	font-size: 18px !important;
	color: #364B87 !important;
}
.timeline-card-top-drop-down .dropdown-menu{
	background: #EDEFF6;
}
.dropdown-item.l-grey.uppercase{
	color: #364B87;
	font-size: 13px;
	font-weight: 500;
	padding-top: 5px;
	padding-bottom: 5px;
}
.dropdown-item.l-grey.uppercase i{
	margin: 0 5px 0 0;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #364B87 !important;
}
/*
.modal-dialog {
    margin: 8rem auto !important;
}
*/
.modal-content {
    border-radius: 30px !important;
    box-shadow: none !important;
	
}
.modal-content .center-img{
	display:block;
	margin: 10px auto;
}
.modal-content p{
	font-size: 14px;
	color: #364B87;
	font-weight: 500;
}
.modal-content h5{
	font-size: 18px;
	color: #364B87;
	font-weight: 500;
}
.model-transprnt-btn{
	font-size: 14px;
	color: #364B87;
	font-weight: 500;
	background: transparent;
	border: none;
	cursor: pointer;
}
.model-transprnt-btn:hover{
	color: #ccc;
}
.modal-content .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}
.close span{
	    background: rgb(75, 116, 206);
    background: linear-gradient(180deg, rgba(75, 116, 206, 1) 0%, rgba(54, 75, 135, 1) 100%);
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: -10px;
}
.modal-content .new-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	text-align: left !important;
	color: #364B87;
}
label.new-check img {
    float: left;
    margin: 0 15px 0px 0;
}
/* Hide the browser's default checkbox */
.modal-content .new-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top:0px;
  right: 30px;
  height: 25px;
  width: 25px;
  background-color: #364B87;
	    border-radius: 25px;
}
.checkmarkFirst {
    position: absolute;
    top:0px;
    right: 30px;
    height: 25px;
    width: 25px;
    background-color: #364B87;
          border-radius: 25px;
  }

/* On mouse-over, add a grey background color */
.modal-content .new-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.modal-content .new-check input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.modal-content .new-check .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.modal-content .new-check .checkmark:after {
left: 9px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cstm-right-sidebar{
    position: fixed;
    max-width: 100%;
}
.cstm-right-sidebar h5{
	font-size: 16px;
	color: #364B87;
	font-weight: 500;
	padding: 0px;
	margin: 0 0 15px 0;
}
.right-sidebar-feed{
	margin: 15px 0px;
}
.right-sidebar-feed-row{
	padding: 15px 0px;
	display: flex;
	border-bottom: 1px solid #ccc;
}
.right-sidebar-feed-row .main-blue-btn{
	margin-right: 10px;
}
.right-sidebar-feed-row p{
	line-height: 16px;
}
.cstm-right-sidebar .profile-img{
	    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
	margin: 0 15px 0 0;
}
.like-feed-card{
	background: #EDEEF3;
	border-radius:7px;
	overflow: hidden;
}
.like-feed-card h3{
	background: #364B87;
	padding: 15px;
	box-sizing: border-box;
	font-size: 13px;
	color: #fff;
}
.like-feed-card h3 i{
	font-size: 18px;
}
.like-feed-card-scroll{
	height:300px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 15px;
}


.like-feed-card-row{
	padding: 5px 0px;
	display: flex;
	border-bottom: 1px solid #ccc;
	align-items: center;
	justify-content: space-between;
}
.like-feed-card-row p{
	line-height: 16px;
	    margin: 0px;
}
.like-feed-card-row h5 {
    font-size: 14px;
    color: #364B87;
    font-weight: 500;
    padding: 0px;
    margin: 0 0 5px 0;
}
.like-feed-card .profile-img{
	    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
	margin: 0 10px 0 0;
}

.like-feed-card .main-blue-btn{
	padding:10px 30px !important;
	font-size: 14px;
}
/* width */
.like-feed-card-scroll::-webkit-scrollbar {
  width: 15px;
}
/* Track */
.like-feed-card-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
/* Handle */
.like-feed-card-scroll::-webkit-scrollbar-thumb {
  background: #364B87; 
  border-radius: 10px;
}
/* Handle on hover */
.like-feed-card-scroll::-webkit-scrollbar-thumb:hover {
  background: #202F5A; 
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: transparent;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}
.customr-following-main{
	padding:100px 0px;
}
.customr-following-main .nav-item{
	flex:1;
	text-align: center;
	margin-bottom: 20px;
}
.customr-following-main .nav-tabs .nav-link{
	   color: #364B87;
    background-color: #EDEEF3;
	font-size: 13px;
	font-weight: 500;
	flex: 1;
	padding: 15px 0px;
	text-align: center;
	margin: 0px auto;
	border-radius:25px; 
}
 .nav-tabs .nav-link.active {
	 background: #01AEEE;
		color: #fff;
    border-color: transparent;
}
.following-card {
    background: #EDEEF3;
    padding:0px 20px;
    border-radius: 15px;
    width: 100%;
    margin: 20px 0;
}
.following-card-row {
    padding: 15px 0px;
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    justify-content: space-between;
}
.following-card-row .profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 0 10px 0 0;
}
.following-card-row h5 {
    font-size: 14px;
    color: #364B87;
    font-weight: 500;
    padding: 0px;
    margin: 0 0 5px 0;
}
.following-card-row p {
    line-height: 16px;
    margin: 0px;
}
.csmtr-profile-top {
    background: #EDEEF3;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    margin: 0 0 15px 0;
}
.csmtr-profile-top .main-blue-btn{
	margin: 0px;
}
.csmtr-profile-top .profile-img{
     width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.csmtr-profile-top h4 {
    font-size: 18px;
    color: #364B87;
    font-weight: 500;
    padding: 0px;
    margin: 0 0 5px 0;
}
.csmtr-profile-top h5 {
    font-size: 14px;
    color: #364B87;
    font-weight: 500;
    padding: 0px;
    margin: 0 0 10px 0;
}
.csmtr-profile-top p {
    line-height: 16px;
	font-size: 13px;
    margin: 0px 0 5px 0;
	
}
.csmtr-profile-top-inner{
	margin:20px 0 0 0;
	border-top:1px solid #ccc;
	padding: 20px 0;
}
.csmtr-profile-top-inner p span{
	color: #364B87;
	text-align: right;
	float: right;
}
.csmtr-profile-top-inner-right-border{
	border-right:1px solid #ccc;
	
}
.csmtr-project-listing-srch {
    display: flex;
    background: #EDEEF3;
    align-items: center;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 0px 0 10px 0;
	width: 100%;
}
.csmtr-project-listing-srch input {
    background: transparent;
    border: none;
}
.csmtr-project-listing-srch button {
    background: transparent;
    border: none;
    color: #364B87;
    font-size: 18px;
}
.csmtr-project-listing-srch2 {
    display: flex;
    background: #EDEEF3;
    align-items: center;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 0px 0 10px 0;
	width: 80%;
	justify-content: space-between;
}
.csmtr-project-listing-srch2 input {
    background: transparent;
    border: none;
}
.csmtr-project-listing-srch2 button {
    background: transparent;
    border: none;
    color: #364B87;
    font-size: 18px;
}
.csm-listing-left-tags{
	margin:20px 0px 0px 0px;
}
.csm-listing-left-tags p{
	color: #364B87;
	font-size: 14px;
	font-weight: 500;
	line-height: 15px;
	margin-bottom: 25px;
}
.csm-listing-left-tags a{
	color: #364B87;
	font-size: 14px;
	font-weight: 500;
	line-height: 15px;
	float: right;
	text-align: right;
}
.csm-listing-cards{
	background: #EDEEF3;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    margin: 0 0 15px 0;
	position: relative;
	float:left;
}
.csm-listing-cards h5{
	font-size: 14px;
    color: #364B87;
    font-weight: 500;
    padding: 0px;
    margin: 0 0 10px 0;
}
.csm-listing-cards h6{
	font-size: 22px;
    color: #364B87;
    font-weight: 500;
    padding: 0px;
    margin: 0 0 5px 0;
	text-align: right;
}
.csm-listing-cards p{
	    line-height: 18px;
    font-size: 13px;
    margin: 0px 0 5px 0;
}
span.open-time-span {
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px 15px;
    display: inline-block;
    margin: 15px 10px 15px 0px;
	font-size: 12px;
    color: #01AEEE;
    font-weight: 500;
	text-transform: uppercase;
}
span.open-time-span:hover {
    border: 2px solid #01AEEE;
    color: #fff;
	background: #01AEEE;
}
.csm-lsting-bottom-card{
	padding:20px 0px;
	border-top:1px solid #ccc;
	float: left;
	width: 100%;
}
.csm-lsting-bottom-card ul {
	list-style-type: none;
	display: block;
	margin: 0px;
	padding: 0px;
}
.csm-lsting-bottom-card ul li{
	list-style-type: none;
	display: inline-block;
	margin: 0px 5px 0 0;
	 border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px 15px;
	font-size: 12px;
    color: #7D8094;
    font-weight: 500;
	text-transform: uppercase;
	background: #D9DAE1;
}
span.csm-check-lst {
    position: absolute;
    right: 20px;
    bottom: 20px;
	color: #364B87;
	font-size: 25px;
}
span.listing-project-cnt {
    color: #01AEEE;
    font-size: 15px;
	display: inline-block;
	margin: 0 0 0 10px;
}
.cret-project-card{
	background: #EDEEF3;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    margin: 0 0 15px 0;
	position: relative;
	float:left;
}
.cret-project-card label {
    color: #364B87;
    font-size: 13px;
    font-weight: 500;
    padding: 0px;
    margin: 0 0 5px 15px;
    display: block;
}
.cret-project-card .form-group {
    margin-bottom: 25px;
}
.cret-project-card .new-input {
    background: #fff;
}
.cret-project-card .txtara {
    background: #fff;
	margin: 0px;
}
.upload-file-main {
    border: 2px dashed #01AEEE;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
	margin: 0 0 20px 0;
}
.upload-file-main p {
	color: #6E778E;
}
.main-blue-btn2 {
    background: rgb(75, 116, 206);
    background: linear-gradient(180deg, rgba(1, 174, 238, 1) 0%, rgba(1, 174, 238, 1) 100%);
    padding: 13px 45px !important;
    border-radius: 50px;
    color: #fff !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
    -moz-box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
    box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    border: none;
    text-decoration: none !important;
    margin: 15px 0px;
    cursor: pointer;
}
.main-red-btn2 {
    /* background: rgb(75, 116, 206); */
    background: linear-gradient(180deg, #dc3545 0%, #dc3545 100%);
    padding: 13px 45px !important;
    border-radius: 50px;
    color: #fff !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
    -moz-box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
    box-shadow: 0px 0px 15px 0px rgb(54 75 135 / 46%);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    border: none;
    text-decoration: none !important;
    margin: 15px 0px;
    cursor: pointer;
}
span.crt-pro-tag{
	list-style-type: none;
    display: inline-block;
    margin: 10px 5px 0 0;
    border-radius: 25px;
    border: 2px solid #CFD2E4;
    padding: 10px 15px;
    font-size: 13px;
    color: #7D8094;
    font-weight: 500;
    text-transform: uppercase;
    background: #CFD2E4;
}
span.crt-pro-tag a{
    font-size: 18px;
    color: #364B87;
	margin-left: 20px;
}
.cret-project-card .csmtr-project-listing-srch2{
	background: #fff;
	width: 100%;
}
.blue-h5{
    font-size: 20px;
    color: #364B87;
	font-weight: 500;
	margin: 0 0 15px 0;
	padding: 0px;
}
.crt-project-bottom-line{
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
span.project-attach-cv{
	list-style-type: none;
    display: inline-flex;
    margin: 10px 5px 0 0;
    border-radius: 25px;
    border: 2px solid #fff;
    padding: 10px 15px;
    font-size: 13px;
    color: #364B87;
    font-weight: 500;
    text-transform: uppercase;
    background: #fff;
	align-items: center;
}
span.project-attach-cv img{
	margin: 0 8px 0 0;
}
span.project-attach-cv a{
    font-size: 18px;
    color: #364B87;
	margin-left: 20px;
}
.table-bordered {
    border: none;
    background: #EDEEF3;
    border-radius: 10px;
}
tbody tr .mb-1, .my-1 {
    margin-bottom: 0px !important;
    float: right;
    margin-top: -2px;
}
.btn-drop-table {
    font-size: 20px !important;
    margin: 0px !important;
    padding: 0px !important;
    background: transparent !important;
    border: none !important;
    float: right;
    color: #364B87 !important;
}
.maain-tabble i {
    margin-right: 5px;
}
.maain-tabble .dropdown-toggle::after {
    display: none;
}
.table tbody td {
    padding: 25px 0px 5px 0px;
}
.table tbody td {
    color: #757B8D !important;
    font-weight: 500;
	font-size: 13px;
}
.table tbody td, .table th {
    padding-left: 0.5vw !important;
    padding-right: 0.5vw !important;
}
.table-bordered td, .table-bordered th {
    border: none;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
    border-top: none !important;
    color: #949CB2 !important;
    text-transform: uppercase;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.table {
    white-space: nowrap;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 22px;
    display: block;
    opacity: 0.3;
}
.maain-tabble .dropdown-menu {
    background: #EDEFF6;
}
.maain-tabble .dropdown-item.l-grey.uppercase {
    color: #364B87;
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}
.maain-tabble .dropdown-item.l-grey.uppercase i {
    margin: 0 15px 0 0;
}
div#DataTables_Table_0_length {
    margin-bottom: 20px;
	    margin-top: 10px;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    margin-bottom: 20px;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
    border-radius: 25px;
    background: #EDEEF3;
    border: none;
    padding: 5px 10px !important;
}
input.form-control.form-control-sm {
    background: #EDEEF3;
    border-radius: 25px;
    border: none;
    padding: 12px 15px;
    height: auto;
/*    margin-top: -5px;*/
}
.dataTables_wrapper label{
	font-size:12px;
	color: #8B90A1;
}
div.dataTables_wrapper div.dataTables_info{
	font-size:12px;
	color: #8B90A1;
}
.page-item.disabled .page-link {
    color: #fff;
    pointer-events: none;
    cursor: auto;
    background-color: #364B87;
    border-color: #364B87;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
/*
li.paginate_button.page-item .page-link {
    color: #343740;
    background-color: #ccc;
    border: 1px solid #ccc;
}
*/
.page-item.active .page-link {
    z-index: 1;
    color: #000;
    background-color: #ccc;
    border-color: #ccc;
}
.table-h3{
	    color: #364B87;
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 15px 0;
}
.table-h3 span{
	    color: #01AEEE;
    font-size: 15px;
    font-weight: 400;
    display: block;
    margin: 5px 0px;
}
.cstmr-project-activity-main{
	
}
.cstmr-project-activity-left{
	border-right:1px solid #ccc;
	padding-top: 50px;
}
.cstmr-project-activity-left h6{
	    color: #8E8E8E;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
}
.cstmr-project-activity-left .csm-listing-left-tags p {
    color: #ccc;
	padding: 15px;
	margin: 0px;
}
.cstmr-project-activity-left .csm-listing-left-tags a {
    color: #ccc;
}
.cstmr-project-activity-left .csm-listing-left-tags .active {
    color: #364B87;
	background: #EDEEF3;
}
.cstmr-project-activity-right{
	padding-top: 50px;
}
.cstmr-project-activity-right h3{
	color: #364B87;
	font-size: 20px;
	margin: 0px;
	padding: 0 0 20px 0;
	font-weight: 500;
}
.cstmr-project-activity-right .timeline-post-main-top .new-input {
    background: transparent;
    width: 100%;
}
.cstmr-project-activity-right .timeline-card{
	background: transparent;
}
.cstmr-project-activity-right .comment-row-box {
    background: #F3F3F3;
    padding: 15px;
    border-radius: 25px;
    position: relative;
    flex: 1;
}
.cstmr-project-activity-right .comment-row-box textarea {
	background: transparent;
}
.cstmr-project-activity-right .like-comment{
	margin: 5px 0 0 70px;
}
.cstmr-project-activity-right .like-comment a{
	color: #B4B4B4;
	font-size: 12px;
	text-decoration: underline !important;
	margin-right: 10px;
}
.comment-reply{
	margin:20px 0 0px 50px;
}
.cstm-pro-job-inner{
	padding:20px 0px;
	border-bottom: 1px solid #ccc;
}
.cstm-pro-job-inner h5{
	color: #364B87;
	font-size: 15px;
	font-weight: 500;
	margin: 0px;
	padding: 0 0 20px 0;
}
.cstm-pro-job-inner .project-attach-cv{
	background: #EDEEF3;
	margin-bottom: 20px;
}
.activty-jobs-gry{
	background: #EDEEF3;
	padding:10px 15px;
	margin-bottom: 30px;
}
.activty-jobs-gry a{
	background: #01AEEE;
	width: 25px;
	height: 25px;
	border-radius:50%;
	display: inline-block;
	color: #fff;
	font-size: 12px;
	text-align: center;
	margin-top: -20px;
	padding: 7px 0 0 0;
}
.activty-jobs-gry p{
	margin: 0px;
	padding: 0px 15px;
	border-right:1px solid #ccc; 
	color: #364B87;
	font-size: 13px;
	display: inline-block;
}
.activty-jobs-gry p span{
	color:#6E6E6E;
	padding-left: 20px;
}
.cstm-job-view-card{
	    background: #EDEEF3;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 20px 0;
    border-radius: 15px;
}
.cstm-job-view-card-inner{
	    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 15px;
}
.cstm-job-view-card h5{
	color: #364B87;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 0 5px 0;
}
.cstm-job-view-card p{
	color: #8892B1;
	font-size: 13px;
	line-height: 16px;
	font-weight: 500;
}
.common-pro-img-big{
	width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
	margin: 0 10px 0 0;
}
.star-rating{
	display:inline-block;
	margin: 0 10px 0 0;
}
.star-rating i{
	color: #E0E2EE;
}
.star-rating i.fill{
	color: #01AEEE;
}
.csmtr-network-left{
	    background: #EDEEF3;
    padding: 15px;
    margin-top: 65px;
    border-radius: 5px;
	
}
.csmtr-network-left h4{
font-size: 14px;
    color: #364B87;
    font-weight: 500;
    padding: 0px;
    margin: 0 0 15px 0;
}
.csmtr-network-left a{
font-size: 13px;
    color: #ACB1BF;
    font-weight: 500;
    padding: 10px 0px;
    margin: 0;
	display: block;
	text-decoration: none;
}
.csmtr-network-left a i{
font-size: 18px;
	margin: 0 15px 0 0;
}
.csmtr-network-left a span{
    font-size: 13px;
    color: #01AEEE;
    font-weight: 500;
    padding: 10px 0px 0 0;
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    float: right;
    text-align: center;
}
.csmtr-network-left a:hover, .csmtr-network-left a.active{
    color: #01AEEE;
}
.network-cards {
    background: #EDEEF3;
    padding: 20px;
    position: relative;
    margin: 0 0 15px 0;
	text-align: center;
}
.network-cards:after{
    background: #364B87;
	height: 80px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	content: "";	
}
.network-cards img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 10px auto;
	position: relative;
	z-index: 1;
}
.network-cards h6 {
    font-size: 14px;
    color: #364B87;
    font-weight: 500;
    padding: 0px;
    margin: 0 0 5px 0;
}
.network-cards p {
    font-size: 13px;
    color: #A5ABBC;
	line-height: 16px;
}
.network-cards .card-close{
	position: absolute;
    right: 8px;
    top: 5px;
    font-size: 15px;
    color: #fff;
    z-index: 1;
}
.card-show-more{
	font-size: 13px;
    color: #364B87;
    font-weight: 500;
    padding: 13px 0px;
    margin: 15px 0px;
	display: block;
	 background: #EDEEF3;
	text-decoration: none;
	text-align: center;
}
.customer-connection{
	background: #EDEEF3;
	padding: 15px;
	box-sizing: border-box;
	border-radius:5px;
	margin: 0 0 15px 0;
}
.customer-connection-top-srch{
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.customer-connection-top-srch p{
	margin: 0px;
	padding: 0px;
	color: #01AEEE;
	text-align: right;
}
.customer-connection-top-srch .csmtr-project-listing-srch {
    display: flex;
    background: #fff;
    align-items: center;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}
.customer-connection-top-srch .csmtr-project-listing-srch button {
    background: transparent;
    border: none;
    color: #364B87;
    font-size: 18px;
}
.profile-dp-online{
	    width: 45px;
    height: 45px;
    position: relative;
    margin: 0 15px 0 0;
	display: inline-block;
}
.profile-dp-online img{
	     width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.profile-dp-online .online-dot {
    width: 10px;
    height: 10px;
    background: #25CF1F;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    bottom: 0px;
}
.customer-connection-card{
	
}
.customer-connection-card .timeline-card-top{
	justify-content: space-between;
}
.customer-connection-card .timeline-card-top-drop-down {
    position: relative;
	margin-left:20px;
}
.cstm-crete-group{
	background: #EDEEF3;
	padding:10px 30px;
	border-radius:5px; 
	margin: 0 0 20px 0;
}
.cstm-crete-group h5{
	font-size: 14px;
    font-weight: 500;
    color: #364B87;
    margin: 0px;
    padding: 0px 0 10px 0;
}
.cstmr-image-cllog{
	
}
.cstmr-image-cllog img{
	width: 40px;
	height: 40px;
	border-radius:50%;
	object-fit: cover;
	object-position: center;
	border:2px solid #fff;
	margin: 0px 0 0 -10px;
	float: left;
}
.cstmr-image-count{
	    height: 30px;
    width: 30px;
    background: #01AEEE;
    color: #fff;
    text-align: center;
    font-size: 10px;
    padding: 10px 0 0 0;
    float: left;
    border-radius: 50%;
    margin-top: 6px;
}
.grp-view-top-card{
	background: #EDEEF3;
	padding: 20px;
	border-radius:5px;
	margin: 0 0 20px 0;
	position: relative;
}
.grp-view-top-card-profile{
	margin-right:15px;
	width: 80px;
	height: 80px;
	border-radius:50%;
	object-fit: cover;
	object-position: center;
	position: relative;
}
.grp-view-top-card-profile .cstmr-image-count{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0px;
}
.grp-view-top-card-profile img{
	width: 80px;
	height: 80px;
	border-radius:50%;
	object-fit: cover;
	object-position: center;
}
.grp-view-top-card h5{
	    font-size: 14px;
    font-weight: 500;
    color: #364B87;
    margin: 0px;
    padding: 0px 0 8px 0
}
.grp-view-top-card p{
	    font-size: 14px;
	line-height: 18px;
    color: #98A0B5;
	margin: 0px;
	padding: 0px;
}
.crt-project-banner{
	position: relative;
	width: 100%;
}
.crt-project-banner img{
	width: 100%;
	object-fit: cover;
	object-position: center;
	height: 300px;
	border-radius:10px; 
}
.crt-project-banner button{
	background: #01AEEE;
	width: 30px;
	height: 30px;
	border-radius:50%;
	border: none;
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}
.crt-grop-dp{
	width: 100px;
	height: 100px;
	position: relative;
	top: -50px;
	margin: 0px auto;
}
.crt-grop-dp img{
	width: 100px;
	height: 100px;
	position: relative;
	object-fit: cover;
	object-position: center;
	border-radius:50%; 
}
.crt-grop-dp button{
	background: #01AEEE;
	width: 30px;
	height: 30px;
	border-radius:50%;
	border: none;
	position: absolute;
	right: 0px;
	bottom: 0px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}
.boad-top-bar{
	border-bottom: 1px solid #ccc;
}
.boad-top-bar-bottom-txt{
	color: #A7A7A7;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px 0 0 25px;
}
.boad-top-bar .nav-tabs .nav-link {
    color: #364B87;
    background-color: #EDEEF3;
    font-size: 13px;
    font-weight: 500;
    flex: 1;
    padding: 12px 40px;
    text-align: center;
    margin: 0px auto;
    border-radius: 25px;
}
.boad-top-bar .nav-item {
    text-align: center;
    margin-bottom: 20px;
}
.boad-top-bar .nav-tabs .nav-link.active {
    background: #01AEEE;
    color: #fff;
    border-color: transparent;
}
.boad-top-bar .add-project{
	font-size: 14px;
    font-weight: 500;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #364B87;
	margin: 10px 0 0 15px;
}
.boad-top-bar .add-project i{
	font-size: 20px;
	color: #01AEEE;
	margin: 0px 10px 0 0;
}
.boad-main{
	padding:15px;
	background: #EDEEF3;
	margin: 15px 0px;
	border-radius:8px; 
}
.boad-header{
	border-bottom:1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:15px 0px; 
}
.boad-header h3{
	font-size: 18px;
    font-weight: 500;
	color: #364B87;
	margin: 0px;
	padding: 0px 15px 0 0;
	text-transform: uppercase;
}
.boad-header .add-btn{
	font-size: 25px;
	color: #01AEEE;
	margin: 0px;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
}
.boad-card{
	padding:15px;
	position: relative;
	background: #fff;
	border-radius:10px;
	margin: 15px 0px;
}
.boad-card .task-name{
	color:#364B87;
	font-size: 12px;
	  font-weight: 500;
	margin:0;
	padding: 0px 15px 10px 0;
	text-transform: uppercase;
}
.boad-card p{
	color:#929BB5;
	font-size: 13px;
	line-height: 15px;
	margin: 0 0 10px 0;
	padding: 0px;
}
.boad-card-bottom{
	display:flex;
	margin: 10px 0 0 0;
	align-items: center;
}
.boad-card-bottom img{
	    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
	margin: 0 10px 0 0;
}
.boad-card-bottom span{
		color:#929BB5;
	font-size: 13px;
	margin:0;
	padding: 0px;
}
.boad-card .timeline-card-top-drop-down {
    right: 10px;
    top: 7px;
}
.btn-drop-table {
    font-size: 17px !important;
}
.popup-tags{
	display: block;
	margin: 15px 0px;
}
.popup-tags span{
	background: #EDEEF3;
	display: inline-block;
	padding: 10px 25px;
	border-radius:25px;
	font-size: 12px;
	font-weight: 500;
	position: relative;
	margin: 0 10px 0 0;
}
.popup-tags span a{
	color: #364B87;
	font-size: 14px;
	position: absolute;
	top: 0;
	right: 0;
}
.noti-black-span{
	font-size: 12px;
	font-weight: 400;
	color: #000000;
	display: block;
	margin: 6px 0px;
}
.profile-view-card {
    background: #EDEEF3;
    padding: 40px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 20px 0;
    border-radius: 15px;
}
.profile-view-card h5 {
    color: #8892B1;
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 5px 0;
}
.profile-view-card p {
    color: #364B87;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
}
.profile-view-card .crt-grop-dp, .cret-project-card  .crt-grop-dp  {
    width: 130px;
    height: 130px;
    position: relative;
    top: 0;
    margin: -100px auto 30px auto;
}
.profile-view-card .crt-grop-dp img, .cret-project-card .crt-grop-dp img{
    width: 130px;
    height: 130px;
}
.profile-view-card-bottom{
	border-top:1px solid #ccc;
	padding-top: 20px;
}
.profile-view-card-change-pass{
	color: #364B87;
	font-size: 12px;
	font-weight: 500;
	text-decoration: underline;
	margin: 20px 25px 0 0;
}

@media screen and (max-width: 1480px) {
    section.section-2 {
        margin-bottom: 0;
    }
    div#v-pills-tab:after {
        width: 500px;
        top: 240px;
    }
    img.tab-pic {
        width: 500px;
    }
    section.slider-section {
        background-size: 80%;
    }
    .popular-services .owl-nav {
        right: 250px;
    }
}

@media screen and (max-width: 1400px) {
    h1.heading {
        font-size: 40px;
    }
    p.banner-text {
        font-size: 16px;
    }
    .banner-content {
        max-width: 550px;
    }
    .container-custom {
        max-width: 1280px;
    }
    div#v-pills-tab:after {
        width: 400px;
    }
    .newsletter-wrapper {
        max-width: 1140px;
    }
	a.nav-link {
    font-size: 13px;
    font-weight: 500;
    margin: 0px 7px !important;
}
img.logo {
    width: 100%;
}
.header-srch {
    display: flex;
    background: #EDEEF3;
    align-items: center;
    padding: 8px 5px;
    border-radius: 25px;
    margin: 0 0 0 10px;
}
}

@media screen and (max-width: 1300px) {
    div#v-pills-tab:after {
        top: 268px;
        right: 400px;
    }
	a.nav-link {
    font-size: 13px;
    font-weight: 500;
    margin: 0px 7px !important;
}
img.logo {
    width: 100px;
}
.header-srch {
    display: flex;
    background: #EDEEF3;
    align-items: center;
    padding: 8px 5px;
    border-radius: 25px;
    margin: 0 0 0 10px;
}
}

@media screen and (max-width: 1199px) {
    section.slider-section {
        padding-bottom: 0;
    }
    section.newsletter {
        padding: 100px 0px;
    }
    .banner-content {
        max-width: 400px;
    }
    br {}
    .image-wrapper {
        width: 350px;
    }
    section.section-2 {
        background-size: 20%;
    }
    img.tab-pic {
        width: 100%;
        margin: 0;
        height: auto;
    }
    div#v-pills-tab:after {
        top: 180px;
        right: 180px;
    }
    h1.heading {
        font-size: 30px;
    }
    .popular-services .owl-nav {
        right: 160px;
        top: -95px;
    }
    img.newsgirl {
        width: auto;
        height: 100%;
        right: -30px;
    }
    .newsletter-wrapper {
        max-width: 940px;
    }
	a.nav-link {
    font-size: 13px;
    font-weight: 500;
    margin: 0px 7px !important;
}
img.logo {
    width: 100px;
}
.header-srch {
    display: flex;
    background: #EDEEF3;
    align-items: center;
    padding: 8px 5px;
    border-radius: 25px;
    margin: 0 0 0 10px;
}
}

@media screen and (max-width: 999px) {
    .bg-color-1 {
        padding: 160px 0px !important;
    }
    .banner-content {
        max-width: 80%;
        text-align: center;
    }
    p.banner-text {
        padding: 0;
    }
    .image-wrapper {
        padding: 0;
        height: 350px;
    }
    .inner-wrapper-sec {
        flex-direction: column;
        text-align: center;
    }
    img.newsgirl {
        display: none;
    }
    .bg-color-1:after {
        top: initial;
        bottom: -60px;
        right: 70px;
    }
    div#v-pills-tab:after {
        display: none;
    }
    .newsletter-wrapper {
        max-width: 90%;
        padding: 40px 60px;
    }
    .newsletter-wrapper .inner-w {
        max-width: 100%;
        text-align: center;
    }
    footer .top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .top>* {
        margin-bottom: 10px;
    }
    footer {
        padding: 0 50px !important;
    }
    section.slider-section {
        background-size: 100%;
        padding: 50px;
    }
    .wrap-slider {
        text-align: center;
    }
    .popular-services {
        margin-top: 100px;
    }
    .popular-services .owl-nav {
        right: initial;
        top: -80px;
        transform: translateX(-50%);
        left: 50%;
    }
    .item-service {
        margin: 20px;
    }
    section.newsletter {
        padding: 0 0 100px 0px;
    }
    div#navbarSupportedContent {
        text-align: center;
        background: #fff;
    }
    .join-cta a.nav-link {
        display: table;
        margin: 0px auto !important;
    }
    li.nav-item.join-cta {
        margin: 0;
    }
    div#navbarSupportedContent ul {
        padding: 20px 0px;
    }
    div#navbarSupportedContent ul li {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 576px) {
    .bg-color-1:after {
        right: 0;
    }
    section.section-2 {
        background: none;
    }
    .wrapper-content-section-2 {
        padding: 0;
    }
    .form-wr button.news-send {
        position: initial;
        margin: 20px 0 0 0;
    }
    footer .top .links ul {
        flex-direction: column;
        text-align: center;
    }
	.top-login-dropdown {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-left: 0;
    margin: 15px 0 0 0;
}
}

@media screen and (max-width: 375px) {
    .image-wrapper {
        width: 100%;
    }
    h1.heading {
        font-size: 25px;
    }
    section.slider-section {
        background-size: cover;
        margin-bottom: 50px;
    }
    .popular-services .owl-nav {
        display: flex;
    }
    .newsletter-wrapper {
        max-width: 100%;
        padding: 20px;
        border-radius: 20px;
    }
}

.green-txt{
	color:#28a745 !important;
}
.red-txt{
	color:#dc3545 !important;
}
.comment-scroll{
    max-height: 300px;
    overflow-y: scroll;
}


.bg-color-1.padding-adjust{
    padding: 50px 0 !important;
    margin-bottom: 35px;
}
.home-post-btn{
    padding: 10px 10px 10px 10px !important ;
}
.timeline-post-main-top .new-input{
    width: 271px;
}