<template>
    <div>
        <top-header></top-header>
        <side-navbar></side-navbar>
        <div class="app-content content view">
            <div class="content-wrapper">
                <div class="content-body">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {}
    }
</script>
