<template>
    <div>
        <section class="about-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-top-left">
                            <h2>About us</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.</p>

                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                                letters, as opposed to using 'Content here, content here', making it look like readable
                                English. Many desktop publishing packages</p>

                            <p>And web page editors now use Lorem Ipsum as their default model text and a search for
                                'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                                evolved over the years, sometimes by accident sometimes on purpose (injected humour and
                                the like).</p>
                        </div>
                    </div>
                    <div class="col-lg-6 pr-0">
                        <Img src="/users/images/02-About-us_03.jpg" class="img-full" alt="" />
                    </div>



                </div>


            </div>
            <!--container end-->
        </section>
        <section class="about-main">
            <div class="container-custom">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>ConekPro Community</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 mb-5">
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                                    letters, as opposed to using 'Content here, content here', making it look like
                                    readable English. Many desktop publishing packages</p>
                            </div>
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6 offset-lg-6">
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                                    letters, as opposed to using 'Content here, content here', making it look like
                                    readable English. Many desktop publishing packages</p>
                            </div>
                        </div>




                    </div>
                    <div class="col-lg-6">
                        <Img src="/users/images/02-About-us_06.jpg" class="img-full" alt="" />
                    </div>



                </div>


            </div>
            <!--container end-->
        </section>
    </div>
</template>

<script>
    export default {
        components: {},
        data() {
            return {
                baseUrl: window.base_url,
            }
        },
        mounted() {},
        methods: {},
        watch: {}
    }
</script>
