<template>
    <span>
    <section class="banner">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 p-0 bg-color-1 padding-adjust">
                    <div class="banner-content">
                        <h1 class="heading">Contact us</h1>
                        <p class="banner-text">
                            It is a long established fact that a reader will be distracted
                            by the readable content of a page when looking at its layout.
                            The point of using.
                        </p>
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>First name <span>*</span></label>
                                    <input v-model="query.first_name" name="first_name" type="text" class="new-input contactus-inputs">
                                </div>
                            </div>
                            <!--col lg end-->

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Last name <span>*</span></label>
                                    <input v-model="query.last_name" name="last_name" type="text" class="new-input contactus-inputs">
                                </div>
                            </div>
                            <!--col lg end-->

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Email Address: <span>*</span></label>
                                    <input v-model="query.email" name="email" type="text" class="new-input contactus-inputs">
                                </div>
                            </div>
                            <!--col lg end-->

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Enter Subject:<span>*</span></label>
                                    <input v-model="query.subject" name="subject" type="text" class="new-input contactus-inputs">
                                </div>
                            </div>
                            <!--col lg end-->


                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Enter Message:<span>*</span></label>
                                    <textarea v-model="query.message" name="message" class="txtara contactus-inputs"></textarea>
                                </div>
                            </div>
                            <!--col lg end-->


                            <div class="col-lg-12">
                                <button @click="sendQuery" type="button" class="main-blue-btn">Send Message</button>
                            </div>
                            <!--col lg end-->

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image-wrapper">
                        <Img src="/users/images/contact-img.png" class="banner-image" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    </span>
</template>
<style>
.contactus-inputs{
    background:white;
}
</style>
<script>
    export default {
        components: {},
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
                query: {
                    first_name: window.user ? window.user.first_name : '',
                    last_name:  window.user ? window.user.last_name : '',
                    email:  window.user ? window.user.email : '',
                    subject: '',
                    message: '',

                }
            }
        },
        mounted() {},
        methods: {
            sendQuery(){
                axios.post('contact-us/store', this.query)
                    .then(({data}) => {
                        this.$toastr.success(data.message, "Success !");
                        this.query = {
                            first_name: window.user ? window.user.first_name : '',
                            last_name:  window.user ? window.user.last_name : '',
                            email:  window.user ? window.user.email : '',
                            subject: '',
                            message: '',
                        };         
                    }).catch( e => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key=>{
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });
            }
        },
        watch: {}
    }
</script>