<template>



    <div class="app-content content dashboard">
    <div class="content-wrapper">
        <div class="content-body mt-2">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                      
                            <div class="card-content collapse show">
                                <div class="card-dashboard">
                                    <h1 class="in-heading-blk">Profile</h1>
                                    <div class="for-user">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="chnge-img-pas">
                                                    <div class="crt-grop-dp">
                            <input accept="image/*" type="file" @change="e => handleImageChange(e)" ref="cover" style="display:none" />
                            <img :src="base64Image || user.image" alt="">
                            <button type="button" @click="$refs.cover.click()"><i class="fas fa-camera"></i></button>
                        </div>
                                                    <!-- <div class="mx-2">
                                                        <img src="images/user-image.png" alt="n/a">
                                                    </div> -->
                                                    <div>
                                                        <a href="#_" class="edit-pro" data-toggle="modal"
                                                            data-target="#pas-chng-pop">Change Password</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row py-4">
                                            <div class="col-lg-3">
                                                <h1>Profile Setting</h1>
                                            </div>
                                            <div class="col-lg-9">
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">First Name<span
                                                                class="red-staric">*</span></label>
                                                        <input v-model="user.firstname" type="text" class="form-control inpt-box"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Address<span
                                                                class="red-staric">*</span></label>
                                                        <input v-model="user.address" type="text" class="form-control inpt-box"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">State<span
                                                                class="red-staric">*</span></label>
                                                        <input v-model="user.state" type="text" class="form-control inpt-box"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    </div>
                                                    <!-- <div class="form-group">
                                                        <label for="exampleInputEmail1">Zip Code<span
                                                                class="red-staric">*</span></label>
                                                        <input v-model="user.first_name" type="text" class="form-control inpt-box"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    </div> -->
                                                    <div class="eml">
                                                        <h5 class="mr-2">Email:</h5>
                                                        <h6>{{user.email}}</h6>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-lg-6">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Last Name<span
                                                                class="red-staric">*</span></label>
                                                        <input v-model="user.lastname" type="text" class="form-control inpt-box"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Country<span
                                                                class="red-staric">*</span></label>
                                                        <input v-model="user.country" type="text" class="form-control inpt-box"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">City<span
                                                                class="red-staric">*</span></label>
                                                        <input v-model="user.city" type="text" class="form-control inpt-box"
                                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Gender<span
                                                                class="red-staric">*</span></label>
                                                        <!-- <select class="form-control inpt-box"
                                                            id="exampleFormControlSelect1">
                                                            <option>Male</option>
                                                            <option>Female</option>
                                                        </select> -->
                                                         <label>
                                                            <input v-model="user.gender" name="gender" value="male" type="radio">
                                                            Male
                                                        </label>
                                                        <label>
                                                            <input v-model="user.gender" name="gender" value="female" type="radio">
                                                            Female
                                                        </label>

                                                    </div>
                                                    <div class="eml">
                                                        <h5 class="mr-2">Phone Number:</h5>
                                                        <h6>{{user.phone_number}}</h6>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row py-2 text-center">
                                            <div class="col-md-12">
                                                <a  @click="updateProfile" href="javascript:;" class="u-blue-l8-btn">Update</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
     
            </section>

        <!--login modal start here-->
          <!-- Modal -->
        <div class="modal fade modal-1  u-modals" id="pas-chng-pop" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="forget-pass2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span> </button>
                        <div class="modal-body">
                            <h1>Change Password</h1>
                            <div class="row pt-2">
                                <div class="col-12 text-center">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Current Password<span
                                                    class="red-staric">*</span></label>
                                            <input type="text" class="form-control inpt-box" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="Enter current password">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">New Password<span
                                                    class="red-staric">*</span></label>
                                            <input type="text" class="form-control inpt-box" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="Enter new password ">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Confirm Password<span
                                                    class="red-staric">*</span></label>
                                            <input type="text" class="form-control inpt-box" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="Enter Confirm password ">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-12 py-2">
                                    <button type="button" class="yel-btn"> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--login modal end here-->


    </div>
</div>
</div>

</template>

<script>
    import Cropper from "../cropper/Index";
    export default {
        components: {
            Cropper
        },
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
                base64Image: '',
                types : {
                    'img' : ['image/jpeg', 'image/jpg', 'image/png', 'image/bmp', 'image/gif'],
                },                
            }
        },
        mounted() {
        },
        methods: {
            updateProfile(){
                axios.post('update-profile', this.user)
                    .then(({data}) => {
                        this.$toastr.success(data.message, "Success !");
                        this.$router.push({name: 'profile.edit'});
                        // window.location.reload();
       
                    }).catch( e => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key=>{
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });

            },
            updateSecurityQuestions(){
                window.location.href = 'edit-profile-security-questions'

            },
            toBase64(file){
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = () => resolve(reader.result);
                    reader.onerror = error => reject(error);
                });
            },            
        async handleFileChange(e, elem){
                let file = e.target.files[0];
                console.log(file);
                let types = this.types;
                if(types.img.includes(file.type)){
                    let result = await this.toBase64(file).catch(e => Error(e));
                    if(result instanceof Error) {
                        console.log('Error: ', result.message);
                        return;
                    }else
                        this.base64Image = result;
                        this.user.image = result;
                        // this.showModal = true;
                }
            },                                    
            async handleImageChange(e){
                await this.handleFileChange(e, '');
                this.openBtModel('cropper_modal')
            },
            getCroppedData(e){
                this.user.image = e;
                this.closeBtModel('cropper_modal')
            },        
        },
        watch: {}
    }
</script>

<style>
    section.navBar {
        position: relative;
    }
</style>