<template>
    <section class="customer-home-main">
        <div class="container">

            <h3 class="table-h3 blue-txt">My Profile</h3>

            <div class="profile-view-card">

                <div class="crt-grop-dp">
                    <img :src="user.image" alt="">
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h5>First name:</h5>
                            </div>
                            <div class="col-lg-6">
                                <p>{{user.first_name}}</p>
                            </div>
                        </div>
                        <!--inner row end-->

                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h5>Middle Initial:</h5>
                            </div>
                            <div class="col-lg-6">
                                <p>{{user.middle_name}}</p>
                            </div>
                        </div>
                        <!--inner row end-->                        
                        <!--inner row end-->
                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h5>Last name:</h5>
                            </div>
                            <div class="col-lg-6">
                                <p>{{user.last_name}}</p>
                            </div>
                        </div>


                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h5>Gender</h5>
                            </div>
                            <div class="col-lg-6">
                                <p>{{user.gender}}</p>
                            </div>
                        </div>
                        <!--inner row end-->

                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h5>Email Address:</h5>
                            </div>
                            <div class="col-lg-6">
                                <p>{{user.email}}</p>
                            </div>
                        </div>
                        <!--inner row end-->

                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h5>Phone number 1:</h5>
                            </div>
                            <div class="col-lg-6">
                                <p>001-5669-8878-996</p>
                            </div>
                        </div>
                        <!--inner row end-->

                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h5>Phone number 2:</h5>
                            </div>
                            <div class="col-lg-6">
                                <p>001-5669-8878-996</p>
                            </div>
                        </div>
                        <!--inner row end-->

                    </div>
                    <!--col end-->
                    <div class="col-lg-6">

                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h5>Surname</h5>
                            </div>
                            <div class="col-lg-6">
                                <p>{{user.surname}}</p>
                            </div>
                        </div>
                        <!--inner row end-->

                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h5>Mailing Address:</h5>
                            </div>
                            <div class="col-lg-6">
                                <p>{{user.address}}</p>
                            </div>
                        </div>
                        <!--inner row end-->

                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h5>City</h5>
                            </div>
                            <div class="col-lg-6">
                                 <p>{{user.city}}</p>
                            </div>
                        </div>
                        <!--inner row end-->

                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h5>Zipcode</h5>
                            </div>
                            <div class="col-lg-6">
                                 <p>{{user.zip}}</p>
                            </div>
                        </div>
                        <!--inner row end-->


                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h5>State</h5>
                            </div>
                            <div class="col-lg-6">
                                 <p>{{user.state}}</p>
                            </div>
                        </div>
                        <!--inner row end-->

                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h5>Country</h5>
                            </div>
                            <div class="col-lg-6">
                                 <p>{{user.country}}</p>
                            </div>
                        </div>
                        <!--inner row end-->

                    </div>
                    <!--col end-->


                </div>
                <!--main row end-->




                <div class="row profile-view-card-bottom">
                    <div class="col-lg-6">
                        <p>Recovery Email Address:</p>
                        <h5>{{user.recovery_email || 'none'}}</h5>
                    </div>

                    <div class="col-lg-6">
                     <a href="edit-profile-security-questions"  class="profile-view-card-change-pass fa-pull-left">Security Questions</a>
                        <router-link class="main-blue-btn mt-0 fa-pull-right" :to="{ name: 'profile.edit' }">Edit Profile</router-link>
                        <a href="javascript:;" data-toggle="modal" data-target="#reset-modal" class="profile-view-card-change-pass fa-pull-right">Change Password</a>
                    </div>

                </div>




            </div>
            <!--cstm job view card end-->


        <div class="modal fade custom_modal" id="reset-modal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h1 class="modal-heading">Change Password</h1>
                            </div>
                        </div>
                        <form data-vv-scope="changepassword-form" class="width100" @submit.prevent="submit">
                            <div class="col-12 form-group">
                                <label for="">Current Password</label>
                                <input v-validate="'required'" type="password" v-model="pr.old_password"
                                    class="width100 form-control" spellcheck="true" placeholder="Current Password"
                                    name="current password">
                                <span class="text-danger">{{ errors.first(`current password`) }}</span>
                            </div>
                            <div class="col-12 form-group">
                                <label for="">New Password</label>
                                <input v-validate="'required'" type="password" ref="password"
                                    class="width100 form-control" v-model="pr.password" spellcheck="true"
                                    placeholder="New Password" name="new password">
                                <span class="text-danger">{{ errors.first(`new password`) }}</span>
                            </div>
                            <div class="col-12 form-group">
                                <label for="">Retype Password</label>
                                <input v-validate="'required|confirmed:password'" type="password"
                                    class="width100 form-control" v-model="pr.password_confirmation" spellcheck="true"
                                    placeholder="Retype Password" name="confirm new password">
                                <span class="text-danger">{{ errors.first(`confirm new password`) }}</span>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="orange-invert">save</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>









        </div>
        <!--container end-->
    </section>
</template>

<script>
    export default {
        components: {},
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
                pr: {}

            }
        },
        mounted() {},
        methods: {
            submit(scope) {
                this.$validator.validateAll(scope).then((result) => {
                    if (!result)
                        return;
                    this.changePassword();
                });
            },            
            changePassword() {
                console.log(this.pr);
                axios.post(`/update-password`, this.pr)
                    .then(data => {
                        this.pr = {};
                        $('#changePasswordModal').modal('hide');
                        this.$toastr.success(data.data.message, "Success !");
                    }).catch(e => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key => {
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });
            },            
        },
        watch: {

        }
    }
</script>

<style>
    section.navBar {
        position: relative;
    }
</style>