<template>
    <section class="customr-following-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="d-flex align-items-center">
                                <div class="csmtr-project-listing-srch2">
                                    <input @keyup="getJobs(true)" v-model="filter.country" placeholder="Search by Country" type="text">
                                    <button><i class="fas fa-search"></i></button>
                                </div>
                                <div class="ml-2 csmtr-project-listing-srch2">
                                    <input @keyup="getJobs(true)" v-model="filter.city" placeholder="Search by City" type="text">
                                    <button><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="d-flex align-items-center mt-2">
                                <span class="listing-project-cnt">{{ jobs.length }} Jobs</span>
                            </div>
                        </div>                        
                    </div>


                    <div class="csm-listing-cards" v-for="(job, jindex) in jobs" :key="jindex">
                        <div class="row">
                            <div class="col-lg-9">
                                <h5>{{ job.title}}</h5>

                                <h5>Company Name: 
                                    <router-link :to="{ name: 'organization.show', params: { id: job.jobable.id }}">
                                        {{job.jobable.name }} - {{job.jobable.company_name}}
                                    </router-link>
                                </h5>
                                <h5>Location: {{job.country}}, {{job.city }}</h5>
                                <vue-moments-ago class="open-time-span" prefix="OPEN" suffix="ago" :date="job.created_at" lang="en" />
                                <span class="open-time-span">{{ job.minimum_requirment }}</span>
                                <span class="open-time-span">{{ job.period_of_employment}}</span>
                            </div>
                            <div class="col-lg-3">
                                <h6>{{ job.salary }}</h6>
                            </div>

                        </div>

                        <div class="csm-lsting-bottom-card">
                            <ul>
                                <li v-for="(skill, sindex) in job.skills.split(',')" :key="sindex">{{skill}}</li>
                            </ul>
                        </div>


                        <router-link :to="{ name: 'jobs.show', params: { id : job.id, slug:job.slug } }">
                            <span class="csm-check-lst"><i class="fas fa-eye"></i></span>
                        </router-link>

                    </div>
                    <!--csm listing card end-->




                </div>
                <!--right col end-->
            </div>
            <!--main row end-->




        </div>
        <!--container end-->
    </section>
</template>

<script>
    export default {
        components: {},
        data() {
            return {
                baseUrl: window.base_url,
                jobs: [],
                filter: {
                    country: '',
                    city: '',
                }
            }
        },
        mounted() {
            this.getJobs();
        },
        methods: {
            getJobs(noloader = false){
                let url = `jobs?country=${this.filter.country || ''}&city=${this.filter.city || ''}`;

                if(noloader) url = `jobs?noloader=1&country=${this.filter.country || ''}&city=${this.filter.city || ''}`

                axios.get(url)
                    .then(({data}) => {
                        this.jobs = data.data;
                    })
            }
        },
        watch: {}
    }
</script>

<style>
    section.navBar{
        position: relative;
    }

</style>