<template>
    <section class="customer-home-main">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="table-h3">Job Requested </h3>
                </div>
            </div>
            <div class="d-flex mt-3 mb-2">
                <div class="form-group mr-2">
                    <label>From</label>
                    <input @change="fetchAppliedJobs(true)" v-model="filter.from" :max="filter.to" type="date" class="new-input" />
                </div>
                <div class="form-group">
                    <label>to</label>
                    <input @change="fetchAppliedJobs(true)" v-model="filter.to" :min="filter.from" type="date" class="new-input" />
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">

                    <div class="maain-tabble table-responsive">
                        <table class="table text-center table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>JOB ID</th>
                                    <th>JOB TITLE</th>
                                    <th>CATEGORY</th>
                                    <th>EXPERIENCE</th>
                                    <th>ESTIMATED BUDGET</th>
                                    <th>OFFER STATUS</th>
                                    <th>JOB STATUS</th>
                                    <th>APPLIED BEFORE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(job, jindex) in jobs" :key="jindex">
                                    <td>{{++jindex}}</td>
                                    <td>{{job.id}}</td>
                                    <td>{{job.title}}</td>
                                    <td>{{job.category_id}}</td>
                                    <td>{{job.experience}}</td>
                                    <td>${{job.salary}}</td>
                                    <td>
                                        <span v-if="job.pivot.status == 0">Pending</span>
                                        <span v-if="job.pivot.status == 1">ShortListed</span>
                                    </td>
                                    <td>
                                        <span v-if="job.status == 0">OPEN</span>
                                        <span v-if="job.status == 1">CLOSED</span>
                                    </td>                                    
                                    <td>
                                       {{ job.apply_before_date }}
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>



                </div>
                <!--main col end-->


            </div>
            <!--row end-->





        </div>
        <!--container end-->
    </section>
    <!--customer-home-main end-->
</template>

<script>
    import VueMomentsAgo from 'vue-moments-ago';
    export default {
        components: {
            VueMomentsAgo
        },
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
                jobs: [],
                filter: {
                    from: '',
                    to: ''
                }
            }
        },
        mounted() {
            this.fetchAppliedJobs();
        },
        methods: {
            fetchAppliedJobs() {
                let url = `/jobs/${this.$route.params.id}/get-my-jobs?from=${this.filter.from || ''}&to=${this.filter.to || ''}`
                // axios.get(`/jobs/${this.$route.params.id}/get-my-jobs`)
                        axios.get(`${url}`)
                    .then(({
                        data
                    }) => {
                        this.jobs = data;
                    })
            }
        },
        watch: {}
    }
</script>

<style>
    .bussnies-job-view-row {
        background: #F2F2F2;
        padding: 20px;
        margin-left: -20px;
        margin-right: -20px;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
    }
</style>