<template>
<section class="customer-home-main">
    <div class="container">
        <div class="cstm-job-view-card">
            <h3 class="table-h3">View Job</h3>
            <div class="cstm-job-view-card-inner">
                <h5 class="text-right">Status: <span class="blue-txt">{{ job.status_value}}</span></h5>
                <div class="bussnies-job-view-row">
                    <h6>JOB DETAILS</h6>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <h5>JOB CATEGORY</h5>
                            <p>{{ job.category_id }}</p>
                        </div>
                        <div class="mb-4">
                            <h5>JOB TITLE</h5>
                            <p>{{ job.title }}</p>
                        </div>

                        <div class="mb-4">
                            <h5>COMPANY NAME</h5>
                            <p>{{ job.company_name}}</p>
                        </div>

                        <div class="mb-4">
                            <h5>SALARY RANGE</h5>
                            <p>{{ job.salary}}</p>
                        </div>

                        <div class="mb-4">
                            <h5>POSTED ON</h5>
                            <p>{{job.created_date}}</p>
                        </div>

                        <div class="mb-4">
                            <h5>APPLY BEFORE</h5>
                            <p>{{ job.apply_before_date }}</p>
                        </div>

                        <div class="mb-4">
                            <h5>PERIOD OF EMPLOYMENT</h5>
                            <p>{{job.period_of_employment }}</p>
                        </div>

                        <div class="mb-4">
                            <h5>HOURS OF WORK</h5>
                            <p>{{ job.hours_of_work}}</p>
                        </div>

                    </div>


                </div>
                <!--main row end-->


                <div class="bussnies-job-view-row">
                    <h6>ADDRESS DETAILS</h6>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <h5>COUNTRY:</h5>
                            <p>{{ job.country }}</p>
                        </div>
                        <div class="mb-4">
                            <h5>CITY:</h5>
                            <p>{{ job.city }}</p>
                        </div>
                    </div>


                </div>
                <!--main row end-->


                <div class="bussnies-job-view-row">
                    <h6>JOB RESPONSIBILITIES</h6>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <h5>JOB DESCRIPTION:</h5>
                            <p>{{ job.description }}</p>
                        </div>



                    </div>


                </div>
                <!--main row end-->


                <div class="bussnies-job-view-row">
                    <h6>EXPERIENCE INFORMATION</h6>
                    <i class="fas fa-arrow-up"></i>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <h5>Skills:</h5>
                            <p>{{ job.skills}}</p>
                        </div>
                        <div class="mb-4">
                            <h5>DEGREE REQUIREMENT:</h5>
                            <p>{{ job.minimum_requirment}}</p>
                        </div>
                    </div>

                    <div class="col-lg-12" v-if="job.haveApplied == false">
                        <a href="javascript:;" data-toggle="modal" data-target="#applyJob" class="main-blue-btn fa-pull-right">Apply</a>
                    </div>
                    <div class="col-lg-12" v-else>
                        <a href="javascript:;" class="main-blue-btn fa-pull-right">Already Applied</a>
                    </div>                    

                </div>
                <!--main row end-->
            </div>
        </div>
        <!--cstm job view card end-->

        <div class="modal fade" v-if="job.haveApplied == false" id="applyJob" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <button type="button" class="close text-right mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="px-1 pt-5 pb-5">
                    <h5 class=" text-center">Apply For Job</h5>
                        <p class="mt-1 medium blue-txt  text-center">Are you sure that you want to apply for this group</p>
                        <div class="col-12 form-group">
                            <strong>Upload Resume (PDF)</strong>&nbsp;&nbsp;&nbsp;
                            <input @change="handleFileChange" type="file">
                        </div>
                        <div class="d-flex flex-wrap justify-content-center text-center">
                            <a @click="applyJob()" href="javascript:;" >Yes</a>
                            <a href="javascript:;" data-dismiss="modal" aria-label="Close">
                                No
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <!--container end-->
</section>

</template>

<script>
    export default {
        components: {

        },
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
                job: "",
                file: undefined,
            }
        },
        mounted() {
            this.fetchJob();
        },
        methods: {
            handleFileChange(e){
                console.log(e);
                this.file = e.target.files[0];
            },
            applyJob(){
                let formData = new FormData();
                formData.append("file", this.file);
                axios.post(`/jobs/${this.$route.params.id}/apply`, formData)
                    .then(({data}) => {
                        $('#applyJob').modal('hide');
                        this.$toastr.success(data.message, 'Success');
                        this.fetchJob();
                    }).catch( e => {
                    let errors = e.response.data.errors;
                    Object.keys(errors).forEach(key=>{
                        this.$toastr.error(errors[key], "Error!");
                    });
                });                
            },
            fetchJob(){
                axios.get(`/jobs/${this.$route.params.id}`)
                    .then(({data}) => {
                        this.job = data.data;
                    })
            }
        },
        watch: {}
    }
</script>

<style>
.bussnies-job-view-row{
	background:#F2F2F2;
	padding: 20px;
	margin-left: -20px;
	margin-right: -20px;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 15px;
}
</style>