<template>
<div>
    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-light u-nav-bg navbar-border">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                                class="ft-menu font-large-1"></i></a>
                    </li>
                    <li class="nav-item"> <a class="navbar-brand" href="dashboard.php"> <img
                                class="brand-logo img-fluid" alt="stack admin logo" src="images/new-one.png"> </a> </li>
                    <li class="nav-item d-md-none"> <a class="nav-link open-navbar-container" data-toggle="collapse"
                            data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a> </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <!-- <li class="nav-item d-md-block">
							<a class="nav-link nav-menu-main wallet-nav" href="my-wallet.php"><i class="fa fa-money-bill"></i> $100</a>
						</li> -->

                        <li class="dropdown dropdown-notification nav-item"> <a class="nav-link nav-link-label" href="#"
                                data-toggle="dropdown"><i class="ficon ft-bell"></i> <span
                                    class="badge badge-pill badge-default badge-danger badge-default badge-up">5</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0 text-center"> <span
                                            class="grey darken-2 ">Notifications</span> </h6>
                                </li>
                                <li class="scrollable-container media-list ps-container ps-theme-dark ps-active-y"
                                    data-ps-id="75e644f2-605d-3ecc-f100-72d86e4a64d8">
                                    <a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left align-self-center">
                                            </div>
                                            <div class="media-body">
                                                <span class="blck2">You have upcoming</span> <span class="media-heading">ride mm/dd/yy
                                                    </span><br>
													<div class="text-center pt-1">
													<span class="media-heading">10:30 PM</span>
													</div>
                                            </div>
                                        </div>
                                    </a>

                                </li>
                                <li class="dropdown-menu-footer"><a class="dropdown-item oornge-txt2 text-right"
                                        href="notifications.php">View All</a>
                                </li>

                            </ul>
                        </li>
                        <li class="dropdown dropdown-user nav-item"> <a
                                class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <span class="avatar avatar-online"> <img
                                        src="app-assets/images/portrait/small/avatar-s-1.png" alt="avatar"> </span>
                                <span class="user-name">John Doe</span> </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="profile.php"><i class="fa  fa-user"></i> view
                                    Profile </a>
                                <a class="dropdown-item" href="complaint.php"><i
                                        class="fa fa-user-circle"></i>Complaint </a>
                                <a class="dropdown-item" href="login.php"><i class="fas fa-sign-out-alt"></i>Logout</a>
                            </div>
                        </li>
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs"
                                href="#"><i class="ft-menu"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
     <!-- ////////////////////////////////////////////////////////////////////////////-->
     <div class="main-menu menu-fixed menu-light menu-accordion" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="nav-item active "><a href="U-create-new-ticket.php"><i class="fa fa-home"></i><span class="menu-title"
                            data-i18n="">HOME</span></a>
                </li>

                <li class="nav-item  "><a href="U-book-ride-1.php"><i class="fas fa-car"></i>
                        <span class="menu-title " data-i18n="">BOOK RIDE</span></a>

                </li>
                <li class="nav-item  "><a href="U-my-rides-ver.php"><i class="fas fa-car"></i>
                        <span class="menu-title " data-i18n="">MY RIDES</span></a>

                </li>
                <li class="nav-item  "><a href="U-wallet.php"><i class="fas fa-car"></i>
                        <span class="menu-title " data-i18n="">WALLET</span></a>

                </li>
                <li class="nav-item  "><a href="U-refferal-code.php"><i class="fas fa-car"></i>
                        <span class="menu-title " data-i18n="">REFERRAL CODE</span></a>

                </li>

            </ul>
        </div>
    </div>
    </div>
</template>

<script>
    import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap';
    import nots from './NotificationsComponent'

    export default {
        data() {
            return {
                baseUrl: window.base_url,
                user: window.user,
                showDropdown: false,
                search_user_query: '',
                search_user_records : [],        
                messageCounter : 0,
                items : [
                    { name: 'Dashboard', icon: 'fa-home', path: '/dashboard', image: false, subItems: [] },
                    { name: 'User Managment', icon: 'fa-users', path: '/user-management', image: false, subItems: [] },
                    { name: 'Job Managment', icon: 'fa fa-briefcase', path: '/job-management', image: false, subItems: [] },
                    { name: 'Project Management', icon: 'fa-project-diagram', path: '#', image: false, subItems: [] },
                    { name: 'Package Managment', icon: 'fa-archive', path: '/package-managment', image: false, subItems: [] },
                    { name: 'Commision Module', icon: 'fa-money-bill-alt', path: '/commision-module', image: false, subItems: [] },
                    { name: 'Report Log', icon: 'fa-file-alt', path: '/report-log', image: false, subItems: [] },
                    { name: 'Payment Log', icon: 'fa-money-bill-alt', path: '/payment-logs', image: false, subItems: [] },
                    { name: 'Subscription Log', icon: 'fa-calendar-check', path: '/subscription-logs', image: false, subItems: [] },
                    { name: 'Rate & Reviews', icon: 'fa-star', path: '/rate-and-reviews', image: false, subItems: [] },
                    // { name: 'feedback', icon: 'fa-inbox', path: '/feedback', image: false, subItems: [] }
                ]                
            }
        },
        methods: {
            setSearchUser(event){
                if(event.type == "organizations")
                    this.$router.push({ name: 'organizations.show' , params: { id : event.searchable.id } });
                else{
                    console.log(event.searchable)
                    this.$router.push({ name: 'users.show' , params: { id : event.searchable.id } });
                }

                    
            },
            lookupUser(){
                axios.get(`/search-all?disbloadr=true&q=${this.search_user_query}`)
                    .then(data => {
                        this.search_user_records = data.data;
                    });
            },   
            getMessageCounter(counter){
                this.messageCounter = counter; 
            },          
            toggleDropdown(){
                let elem = this.$refs.header_drop_down_login;
                // Show an element
                var show = (elem) => {
                    elem.style.display = 'block';
                    this.showDropdown = true;
                };

                // Hide an element
                var hide = (elem) => {
                    elem.style.display = 'none';
                    this.showDropdown = false;
                };

                // Toggle element visibility
                // If the element is visible, hide it
                if (window.getComputedStyle(elem).display === 'block') {
                    hide(elem);
                    return;
                }
                // Otherwise, show it
                show(elem);
            }
        },
        components: {VueTypeaheadBootstrap, 'nots' : nots},
    }
</script>