<template>
<li class="nav-item"> <a @click="markAllReadBellCount()" class="nav-link dropdown-toggle notification-with-badge" data-toggle="dropdown" href="#">
<span v-if="notifications.unreadNotifications && notifications.unreadNotifications>0" class="notific-badge">{{notifications.unreadNotifications}}</span>
<Img class="mx-3 notification-image-icon" src="/images/ConekPro-Eye.png" alt="" />
</a>
                    <div class="dropdown-menu noti-drop" style="margin-left: -100px;">
    <div class="notif-body">
                                                <ul class="notifs">
                                                    <li v-bind:key="index" v-if="notifications.notifications && notifications.notifications.length>0" class="notif-child" v-for="(notification, index) in notifications.notifications" :key="notification.id">
                                                        <div :class="`${(notification.status=='1' ? 'media unread-notification-link' : ' media notificationList-card')}`">
                                                            <i class="far fa-bell mr-2"></i>
                                                            <div class="media-body">
                                                                <a @click="markAllRead(notification.id)" :href="`/conekpro${(notification.url)?notification.url:'/home'}`">
                                                                <h5 class="mt-0">{{ notification.title }}{{' '}}{{notification.body}}</h5>
                                                                <p class="n-time-and-date" :datetime="notification.created_at"></p>
                                                                </a> 
                                                                                     <small>
                                <timeago class="media-meta text-muted" :datetime="notification.created_at"></timeago>
                            </small>
                            
                                                            </div>
                                                        </div>
                                                    </li>
                                                   
                                                    <a href="notifications" class="n-view">View All</a>
                                                </ul>
                                            </div>
   
   
    </div><!--dropdown menu end-->
                    </li>
 
</template>
<style>

a.nav-link.dropdown-toggle.notification-with-badge {
    position: relative;
}

span.notific-badge {
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 10px !important;
    background: red;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 15px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 16px;
}


a.nav-link.dropdown-toggle.notification-with-badge i.fas.fa-bell {
    font-size: 17px !important;
}





.dropdown-menu.noti-drop{
left:unset;
   padding:0px;
    min-width: 300px;
    border-radius: 20px;
box-sizing:border-box;
overflow:hidden;
}
ul.notifs {
    padding: 0;
    margin: 0;
}
ul.notifs li.notif-child {
border-bottom:1px solid #ccc;
padding:0px;
}
.media.notificationList-card .media-body h5 {
    margin: 0;
   font-size: 15px;
    color: #929292;
    font-weight: 400;
line-height:20px;
}
.media.notificationList-card .media-body p.n-time-and-date {
     color: #384f8f;
    font-weight: 500;
    font-size: 13px;
    text-align: right;
margin: 0px;
    padding: 0;
}
.media.notificationList-card i{
color:#11b4f0;
position:relative;
top:5px;
}
a.n-view {
        color: #395193 !important;
    text-decoration: underline;
    font-size: 14px;
    text-align: right;
    float: right;
    margin: 10px;
text-transform:uppercase;
}
.notification-image-icon{
    width: 16px;
}
.unread-notification-link, .notificationList-card {
    background: #EDEEF3;
    padding: 10px;
    color: #EDEEF3 !important;
    border-radius: 5px;
}
.notificationList-card{
    background:#fff;
}
.media.notificationList-card a, .media.unread-notification-link a{
    text-decoration: none !important;
}
.unread-notification-link h5, .media.notificationList-card .media-body h5{
    color:#929292;
    font-size: 13px;
    line-height: 16px;
}
.unread-notification-link p, .media.notificationList-card .media-body p{
    font-size: 11px;
    margin-bottom:5px !important;
}

.unread-notification-link .fa-bell{
    color:#11b4f0;
}
</style>
<script>

    export default {
        data(){
            return {
                notifications: undefined,
                unReadNotifications: 0,
                interval: undefined,
                baseUrl: window.base_url,
            };
        },
        mounted() {
            this.loadNotifications();
            this.interval = setInterval(this.loadNotifications, 5000);
            
        },
        // beforeDestroy() { clearInterval(this.interval); },
        methods:{
            loadNotifications(){
                axios.get(`get-notifications?take=5`)
                    .then(({data}) => {
                        this.notifications = data;
                        this.$emit('fetch-message-counter',data.message_counter);
                    }).catch( e => clearInterval(this.interval))
            },

             

            redirectTo(index){
                // axios.put(`notifications/${this.notifications[index].id}`)
                // .then(({message}) => {
                //     this.$router.push(this.notifications[index].data.link);
                //     this.notifications.splice(index, 1);
                // })
            },
            markAllRead(notificationId){
                // alert(notificationId);
                axios.get(`markread-notifications/${notificationId}`)
                    .then(({message}) => {
                        console.log(message);
                })
            }
            ,
            markAllReadBellCount(){
                axios.get(`markread-bell-count-notifications`)
                    .then(({message}) => {
                        console.log(message);
                        $(".notific-badge").hide();
                })
            }
        }
    }
</script>