<template>

    <section class="customer-home-main" v-if="data">
        <div class="container">
            <div class="csmtr-profile-top">
                <div class="row">
                    <div class="col-lg-2">
                        <img :src="data.image" class="profile-img" alt="">
                    </div>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-8">
                                <h4>{{data.name}}</h4>
                            </div>
                            <div v-if="data.isFriendWith == false"  class="col-lg-4">

                                <a v-if="data.hasSentFriendRequestTo == false" href="javascript:;" 
                                @click="sendFollowRequest"
                                class="main-blue-btn fa-pull-right">Send Follow Request</a>

                            </div>
                        </div>
                        <h5>Description</h5>
                        <p>{{ data.description }}</p>

                    </div>


                </div>
                <!--row end-->

                <div class="csmtr-profile-top-inner">
                    <div class="row">
                        <div class="col-lg-6 csmtr-profile-top-inner-right-border">
                           
                            <p>Phone: <span>{{data.phone}}</span></p>
                            <p>Email: <span>{{data.email}}</span></p>
                        </div>
                        <div class="col-lg-3 csmtr-profile-top-inner-right-border">
                            <h5>Mailing Address</h5>
                            <h5>{{(data.address?data.address:'')}}<br>
                                {{(data.state?data.state:'')+", "+(data.city?data.city:'')+", "+(data.zip?data.zip:'')}}</h5>
                        </div>
                        <div class="col-lg-3">
                            <h5>Mailing Address</h5>
                            <h5>{{(data.address?data.address:'')}}<br>
                               {{(data.state?data.state:'')+", "+(data.city?data.city:'')+", "+(data.zip?data.zip:'')}}</h5>
                        </div>

                    </div>
                    <!--row end-->
                </div>


            </div>
            <!--cstmr profile top end-->

        </div>
        <!--container end-->
    </section>
</template>

<script>
    import VueMomentsAgo from 'vue-moments-ago'
    import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap';
    import {
        TheMask
    } from 'vue-the-mask'
    export default {
        data() {
            return {
                data: undefined,
                current_page: 1,
                last_page: 1,
            }
        },
        components: {
            TheMask,
            VueMomentsAgo,
            VueTypeaheadBootstrap
        },
        mounted() {
            this.scroll();
            this.getUser();
        },
        methods: {
            sendFollowRequest() {
                axios.get(`/networks/send-follow-request/${this.$route.params.id}?type=user`)
                    .then(data => {
                        this.$toastr.success(data.data.message, "Success !");
                        this.getUser();
                    });
            },
            getUser(current_page = 1) {
                axios.get(`/users/${this.$route.params.id}`)
                    .then(data => {
                        this.data = data.data;
                    });
            },
            scroll() {
                // window.onscroll = () => {
                //     let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document
                //         .documentElement.offsetHeight;

                //     if (bottomOfWindow && this.current_page <= this.last_page) {
                //         //call function
                //     }
                // };
            },
        },
        watch: {
            '$route': function(){
                this.getUser();
            }
        }
    }
</script>
<style scoped>
    /* .list-item {
        display: inline-block;
        margin-right: 10px;
    } */
    .list-enter-active,
    .list-leave-active {
        transition: all 1s;
    }

    .list-enter,
    .list-leave-to

    /* .list-leave-active below version 2.1.8 */
        {
        opacity: 0;
        transform: translateY(30px);
    }
</style>