// Bootstrap

@import '../../../public/app-assets/css/app.css';
@import '../../../public/app-assets/css/core/menu/menu-types/vertical-menu.css';
@import '../../../public/app-assets/vendors/css/tables/datatable/datatables.min.css';
@import '../../../public/admins/assets/css/style.css';
// @import '../../../public/admins/assets/css/responsive.css';
.dashboard .card-dashboard {
    padding: 20px;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.edit-inventory .form-control{
    padding: 0px;
}
.pro-img-main {
    position: relative;
    margin: 0 auto 14px;
    border: 1px solid #ccc;
    padding: 0;
    border-radius: 5px;
    width: 100%;
    height: 150px
}

.pro-img-main button {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    margin: 0;
    text-transform: capitalize;
    background: transparent;
    border-radius: 3px;
    padding: 0;
    width: 100%;
    height: auto;
    border: none;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0 !important;
}

.pro-img-main img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 0;
    background: #fff
}


.gbtn {
    display: inline-block;
    background: #39d529;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    color: white !important;
    font-weight: 500;
    transition: all .3s ease;
    border: 0 !important;
    margin: 0 0 62px 0;
    padding: 10px 30px;
    font-size: 13px    
}

.bbtn {
    display: inline-block;
    background: #0d2ccc;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    color: white !important;
    font-weight: 500;
    transition: all .3s ease;
    border: 0 !important;
    margin: 0 0 62px 0;
    padding: 10px 30px;
    font-size: 13px    
}

.vdp-datepicker {
    input {
        width: 100%;
    }
}

.badge-primary, .bg-primary{
    background: #3bd5d8 !important;
}
.badge-secondary, .bg-secondary{
    background: #993e99 !important;
}
.session-details .add-new-stream h2 ul {
    padding: 0 0 0 15px;
    margin: 0;
}

.session-details .add-new-stream h2 ul li {
    display: inline-block;
    color: #999;
    font-size: 14px;
}

.session-details .add-new-stream h2 ul li.active {
    color: #fed946;
}

.hide{
    display:none;
}

.isShown{
    color: white !important;
}

.all-notifications .noti-inner-cards .card {
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06) !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.all-notifications .notification-title {
    padding: 20px 50px;
    background: #f5f5f5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.all-notifications .notification-title h5{
    font-size: 15px;
    text-transform: uppercase;
    color: #25bbc3;
    margin: 0 !important;
}
.all-notifications .noti-content i {
    font-size: 18px;
    background: #25bbc3;
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0 !important;
}
.all-notifications .noti-content {
    padding: 30px 50px;
}
.all-notifications .noti-content p {
    font-size: 18px;
    color: #333;
    font-weight: 400;
    line-height: initial;
    text-transform: lowercase;
    margin: 0;
    padding: 0 10px 0 0px;
}
.all-notifications .noti-content p::first-letter {
    text-transform: uppercase;
}
.all-notifications .noti-content h5 {
    font-weight: 400;
    font-size: 16px;
    color: #999999;
    text-transform: capitalize;
}
.all-notifications .notification-title h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 !important;
    background: #983e99;
    width: 60px;
    text-align: center;
    padding: 3px 0;
    border-radius: 5px;
    line-height: initial;
}
