<template>
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-light navbar-border">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                            <i class="ft-menu font-large-1"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <router-link class="navbar-brand" :to="{ name: 'home' }">
                            <img class="brand-logo" alt="stack admin logo" :src="`${baseUrl}/admins/images/logo.png`">
                        </router-link>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile">
                            <i class="fa fa-ellipsis-v"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <form method="post" :action="`${baseUrl}/admin/logout`" id="logoutFrom"></form>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <NotificationsComponent></NotificationsComponent>
                        <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="avatar avatar-online">
                                <img :src="`${user.image}`" :alt="user.name">
                                <i></i>
                            </span>
                            <span class="dropdown-menu  user-name">{{ user.name }}</span> </a>
                            <div class="dropdown-menu dropdown-menu-right profile-drp-down">
                                <router-link class="dropdown-item" :to="{ name: 'profile' }">Profile</router-link>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-left" onclick="document.getElementById('logoutFrom').submit()">Logout<i class="fa fa-sign-in"></i></a>
                            </div>
                        </li>
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                                <i class="ft-menu"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    import NotificationsComponent from "./NotificationsComponent";
    export default {
        data(){
            return {
                baseUrl: window.base_url,
                user: window.user
            }
        },
        components: { NotificationsComponent },
    }
</script>
