<template>
    <div class="main-menu menu-fixed menu-light menu-accordion" data-scroll-to-active="true" v-if="shouldShow">
        <div class="main-menu-content ps-container ps-theme-dark ps-active-y" style="">
            <PerfectScrollbar ref="scrollbar">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

                <li v-for="(item, index) in items" class="nav-item"
                    :class="{
                        hasSub : !! item.subItems.length,
                        open: (!!item.subItems.length)? item.path.indexOf(currentNav) >= 0 || item.isOpen: currentNav === item.path,
                        active: currentNav.indexOf(item.path) >= 0
                     }"
                    v-bind:key="index" @click="open(item)">
                    <router-link :title="item.name" :to="item.subItems.length > 0? '': item.path" :class="{  }">
                        <i class="nav-icon fa " :class="item.icon"></i>
                        <span>{{item.name}}</span>
                    </router-link>
                    <ul v-if="item.subItems.length>0" class="menu-content">
                        <li class="nav-item" v-for="(subitem, idx) in item.subItems" v-bind:key="idx">
                            <router-link :title="subitem.name" :to="subitem.path" class="menu-item" :class="{isShown: subitem.path === currentNav}">
                                <i class="nav-icon fa " :class="item.icon"></i>
                                {{ subitem.name }}
                            </router-link>
                        </li>
                    </ul>
                </li>
            </ul>
            </PerfectScrollbar>
        </div>
    </div>
</template>
<style>
    .ps {
      height: 100%;
    }
</style>
<script>
    export default {
        data(){
            return {
                shouldShow: true,
                base_url: window.base_url,
                currentNav: '/dashboard',
                items : [
                    { name: 'Dashboard', icon: 'fa-home', path: '/dashboard', image: false, subItems: [] },
                    { name: 'User Managment', icon: 'fa-users', path: '/user-management?type=customers', image: false, subItems: [] },
                    { name: 'Job Managment', icon: 'fa fa-briefcase', path: '/job-management', image: false, subItems: [] },
                    { name: 'Project Management', icon: 'fa-project-diagram', path: '#', image: false, subItems: [] },
                    { name: 'Package Managment', icon: 'fa-archive', path: '/package-managment', image: false, subItems: [] },
                    { name: 'Commision Module', icon: 'fa-money-bill-alt', path: '/commision-module', image: false, subItems: [] },
                    { name: 'Report Log', icon: 'fa-file-alt', path: '/report-log', image: false, subItems: [] },
                    { name: 'Payment Log', icon: 'fa-money-bill-alt', path: '/payment-logs', image: false, subItems: [] },
                    { name: 'Subscription Log', icon: 'fa-calendar-check', path: '/subscription-logs', image: false, subItems: [] },
                    { name: 'Rate & Reviews', icon: 'fa-star', path: '/rate-and-reviews', image: false, subItems: [] },
                    // { name: 'feedback', icon: 'fa-inbox', path: '/feedback', image: false, subItems: [] }
                ]
            }
        },
        mounted() {
            this.currentNav = this.$route.path;

            this.items.forEach(i => {
                if(this.currentNav.indexOf(i.path) >= 0 && i.subItems.length)
                    i.isOpen = true;
            });
            this.shouldShow = this.$route.name !== 'notfound';
        },
        methods: {
            isActive(menu)
            {
                if(this.currentNav !== '/' + menu.path)
                {
                    console.log(!!menu.subItems.map(sm => sm.parent === menu.path).length);
                    return !! menu.subItems.map(sm => sm.parent === menu.path).length;
                }
                return this.currentNav === '/' +  menu.path;
            },
            getClasses(menu, parent = true){
                let c = {
                    'has-sub': menu.subItems.length > 0,
                    'open': menu.isOpen
                };

                if(!parent)
                {
                    c['open'] = false;
                    return c;
                }

                menu.isOpen = true;
                return c;
            },
            open(menu)
            {
                this.items.forEach(m => m.isOpen = false);
                menu.isOpen = true;
            }
        },
        watch: {
            '$route.path' () {
                this.currentNav = this.$route.path;
                this.shouldShow = this.$route.name !== 'notfound';
            }
        }
    }
</script>
