<template>
    
<div class="app-content content dashboard">
    <div class="content-wrapper">
        <div class="content-body mt-2">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                       
                            <div class="card-content collapse show">
                                <div class="card-dashboard">
                                <div class="d-flex align-items-center justify-content-between">
                                        <h1 class="in-heading-blk"> Complaint</h1>
                                        <h5 class="bld-blk">Ride ID {{user.id}}</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="media align-items-center">
                                                <img   src='/users/app-assets/images/portrait/small/avatar-s-1.png' class="align-self-center mr-3" alt="...">
                                                <div class="media-body">
                                                    <h4 class="blk-h6">{{user.firstname}}</h4>
                                                    <div ref="commentHolder" >
                                                        <textarea v-model="complaint" class="complaint"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center pt-2">
                                        <div class="col-md-12">
                                        <a @click="addComplaint" href="javascript:;" class="u-blue-l8-btn">Send</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                     
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</template>

<style scoped>
.complaint{
    width: 100%;
}
</style>
<script>


    export default {
        data() {
            return {
                user: window.user,
                complaint:'',
            }
        },
         watch: {
         
        },
       mounted() {
        },
        methods: {
            addComplaint(){
                if(this.complaint == ""){
                    this.$refs.commentHolder.style.border = "1px solid red";
                    return;
                }

                axios.post(`/complaint`, {
                    complaint: this.complaint
                });
                this.complaint = '';
                this.$toastr.success('', "Success! Complain added.");
            },
                
        }
    }
</script>


