<template>
    
<div class="app-content content dashboard">
    <div class="content-wrapper">
        <div class="content-body mt-2">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                  
                            <div class="card-content collapse show">
                                <div class="card-dashboard">
                                    <h1 class="in-heading-blk">Referral Code</h1>
                                    <div class="for-user">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h6 class="gry">Your existing referral amount</h6>
                                                <h5 class="bld-blk">£{{data.amount_balance}}</h5>
                                            </div>
                                            <div class="col-lg-6">
                                                <h6 class="gry">Your referral code</h6>
                                                <div class="d-flex align-items-center">
                                                      <div class="container">
                                                        <span class="clickable"
                                                        v-clipboard:copy="link_url"
                                                        v-clipboard:success="onCopy"
                                                        v-clipboard:error="onError"><i class="far fa-copy"></i></span>
                                                        <span  >{{link_url}}</span>

                                                    </div>
                                                </div>
   




                                 </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              
      
        </section>
          </div>
    </div>
</div>


</template>

<style scoped>
.complaint{
    width: 100%;
}
.clickable{
    cursor: pointer;
   
}
.clickable .fa-copy{
     font-size: 25px !important; 
}
</style>
<script>


    export default {
        data() {
            return {
                user: window.user,
                complaint:'',
                data:{},
                link_url:'',
            }
        },
         watch: {
         
        },
       mounted() {
           this.getRefferal();
        },
        methods: {
            onCopy: function (e) {
                this.$toastr.success('', "Refferal copied to clickboard!");
            },
            onError: function (e) {
             this.$toastr.error('Error copying refferal code!', "Error!");
            },
      
            
  
    getRefferal(){
              axios.get(`/refferal`)
                    .then(data => {
                        this.data = data.data;
                        console.log(this.data);
                        this.link_url = 'https://dev28.onlinetestingserver.com/tapngo_u/register?refferal='+this.data.code;
                    });
            },
                
        }
    }
</script>


