<template>
<div class="app-content content dashboard">
    <div class="content-wrapper">
        <div class="content-body mt-2">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                      
                            <div class="card-content collapse show">
                                <div class="card-dashboard">
                                    <h1 class="in-heading-blk">Wallet</h1>
                                    <div class="for-user">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="Curnt-Bal-bg">
                                                    <h5>Current Balance</h5>
                                                    <h5>£100</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row py-2 text-center">
                                            <div class="col-md-12">
                                                <a href="#_" class="u-blue-l8-btn" data-toggle="modal"
                                                    data-target="#add-cred">Add Credit</a>
                                                <a href="#_" class="u-blue-l8-btn">View Cards</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              
      
        </section>
         <div class="clearfix"></div>
                                    <div class="maain-tabble table-responsive">
                                        <table class="table table-striped table-bordered zero-configuration">
                                            <thead>
                                                <tr>
                                                    <th>s.no</th>
                                                    <th>Amount</th>
                                                    <th>Change</th>
                                                    <th>New</th>
                                                    <th>Date</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(wallet, rindex) in data" :key="rindex">
                                                    <td>{{rindex}}</td>
                                                    <td>£{{wallet.amount_balance}} </td>
                                                    <td>£{{wallet.amount_balance}} </td>
                                                    <td>£{{wallet.amount_balance}}</td>
                                                    <td>{{wallet.created_date}}</td>
                                                
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>

    </div>
</div>


<!--login modal start here-->

<!-- Modal -->
<div class="modal fade modal-1  u-modals" id="add-cred" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="forget-pass2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span> </button>
                <div class="modal-body">
                    <h1>Add Credit</h1>
                    <div class="row pt-2">
                        <div class="col-12 text-center">
                            <div class="d-flex align-items-center">
                                <label for="">Current Wallet Balance:</label>
                                <span class="clor-blue">£100</span>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Add Amount</label>
                                    <input type="text" class="form-control inpt-box" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="£100">
                                </div>
                            </form>
                        </div>
                        <div class="col-12 py-2">
                            <button type="button" class="yel-btn"> Add Credit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--login modal end here-->
<!-- Modal -->
<div class="modal fade modal-1  u-modals" id="add-cred-2" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="forget-pass2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span> </button>
                <div class="modal-body">
                    <h1>Add Credit</h1>
                    <div class="row pt-2">
                        <div class="col-12 text-center">
                            <div class="d-flex align-items-center">
                                <label for="">Current Wallet Balance:</label>
                                <span class="clor-blue">£100</span>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Add Amount</label>
                                    <input type="text" class="form-control inpt-box" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="£100">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Payment</label>
                                    <select class="form-control inpt-box" id="exampleFormControlSelect1">
                                        <option>Select Card</option>
                                        <option>xxxx xxxx 1234</option>
                                        <option>xxxx xxxx 1234</option>
                                        <option>xxxx xxxx 1234</option>
                                    </select>
                                    <div class="text-right">
                                        <a href="#_" class="blu-txt">Add New Card</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 py-2">
                            <button type="button" class="yel-btn"> Add Credit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--login modal end here-->
</template>

<style scoped>

</style>
<script>


    export default {
        data() {
            return {
                user: window.user,
                complaint:'',
                data:[],
            }
        },
         watch: {
         
        },
       mounted() {
           this.getRefferal();
        },
        methods: {
            
  
  
    getRefferal(){
              axios.get(`/wallet`)
                    .then(data => {
                        this.data = data.data;
                        console.log(this.data);
                    });
            },
                
        }
    }
</script>


