<template>
    <div class="app-content content dashboard">
    <div class="content-wrapper">
        <div class="content-body mt-2">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                    
                            <div class="card-content collapse show">
                                <div class="card-dashboard">
                                    <h1 class="in-heading-blk">Book Ride</h1>
                                    <div class="for-user">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="inputEmail4">Pickup Location</label>
                                                                            <gmap-autocomplete 
																		        class="form-control pickup"
																		       @place_changed="updateCenter($event)"
																		        :select-first-on-enter="true">
																		      </gmap-autocomplete>

                                                            <button type="button" class="view-btn position-absolute"><i
                                                                    class="fa fa-search"></i></button>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputPassword4">Dropoff Location</label>
                                                            <gmap-autocomplete 
																		        class="form-control dropoff"
																		        @place_changed="updateCenter($event)"
																		        :select-first-on-enter="true">
																		      </gmap-autocomplete>
                                                            <button type="button" class="view-btn position-absolute"><i
                                                                    class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">

                                                
                                                    <gmap-map :center="center" :zoom="12" style="width: 100%; height: 500px" ref="map">

				                                                		<gmap-marker
																		    :position="mapCenter"
																		    :clickable="true"
																		    :draggable="false"
																		/>


                                                                         <gmap-polyline v-if="path.length > 0" :path="path" :editable="true" @path_changed="updateEdited($event)"
                                                                        @rightclick="handleClickForDelete"
                                                                        ref="polyline">
                                                                    </gmap-polyline>


				                                                	</gmap-map>
                                            </div>
                                        </div>



                                        <div class="row py-2">
                                            <div class="col-md-12">
                                                <label for="inputPassword4">Pick-Up Time</label><br>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input checked type="radio" id="customRadioInline1" name="customRadioInlineLater" value="now"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadioInline1">Ride
                                                        Now</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline2" name="customRadioInlineLater" value="later"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadioInline2">Ride
                                                        Later</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row py-2">
                                            <div class="col-md-12">
                                                <form>
                                                    <div class="form-row">
                                                        <!-- <div class="form-group col-md-6">
                                                            <label for="exampleFormControlSelect1">Car Type</label>
                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                                <option>Select</option>
                                                                <option>Abc</option>
                                                                <option>Abc</option>
                                                                <option>Abc</option>
                                                                <option>Abc</option>
                                                            </select>
                                                        </div> -->
                                                        <div class="form-group col-md-6">
                                                            <label for="inputPassword4">Payment</label>
                                                            <select  class="form-control" id="exampleFormControlSelect1">
                                                                <option>Select</option>
                                                                <option selected>Cash</option>
                                                                <option>Wallet</option>
                                                                <option>Credit Card</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row py-2">
                                            <div class="col-md-12">
                                                <label for="inputPassword4">Estimated Fare</label>
                                                <span class="sm-oring">£{{EstimatedFare}}</span>
                                                <div>
                                                    <a href="javascript:;" class="blu-txt">Add promocodes</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row py-2 text-center">
                                            <div class="col-md-12">
                                                <a href="javascript:;" @click="bookARide" class="u-blue-l8-btn">Confirm Booking</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                  
                    </div>
                </div>
       
        </section>
         </div>
    </div>
</div>

</template>

<script>
 import { gmapApi } from 'vue2-google-maps';

    export default {
        data() {
            return {
                user: window.user,
                pickup:'',
                dropoff:'',
                dataToStore:[],
                EstimatedFare:100,
                distance: 0,
                form: {
                    location: '',
                    lat:'',
                    lng:'',
                    lat2:'',
                    lng2:''
                
                },
               
                mapCenter: { lat: 10, lng: 10 },
                mapOptions: {
                zoomControl: true,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: false,
                disableDefaultUi: true,
                keyboardShortcuts : false,
            },
            path: [
           
          ],
                     center: {lat: 1.38, lng: 103.8},
            data: {
                    edited: null,
                    mvcPath: null,
                    errorMessage: null,
                    polylineGeojson: '',
                    },
                
            }
        },
         watch: {
          polylinePath: _.throttle(function (path) {
            if (path) {
              this.path = path
              this.polylineGeojson = JSON.stringify({
                type: 'Polyline',
                coordinates: this.path.map(({lat, lng}) => [lng, lat])
              }, null, 2)
            }
          }, 1000)
        },
       computed: {
        google: gmapApi,
        polylinePath: function () {
            if (!this.mvcPath) return null

            let path = [];
            for (let j=0; j<this.mvcPath.getLength(); j++) {
              let point = this.mvcPath.getAt(j);
              path.push({lat: point.lat(), lng: point.lng()});
            }
            return path
          },
       },
        methods: {
            bookARide(){
                    this.dataToStore.push({'pickup': this.pickup, 'dropoff':this.dropoff, 'locations':this.path, 'distance':this.distance});
                
                axios.post(`/bookings`, this.dataToStore)
                    .then(data => {
                        this.$toastr.success(data.data.message, 'Success', {});
                        this.$router.push({name: 'myrides'});
                    }).catch(e => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key => {
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });   
            },
            pickUp(place) {
               

            if (!place) return
            this.form.location = place.formatted_address;
            this.form.lat = place.geometry.location.lat();
            this.form.lng = place.geometry.location.lng();
            let self = this;
            // this.path.lat = place.geometry.location.lat();
            // this.path.lng = place.geometry.location.lng();
            let feed =  {lat: this.form.lat, lng: this.form.lng}
             let feed2 =  {lat: this.form.lat2, lng: this.form.lng2}
              this.path.push(feed);
               this.path.push(feed2);
              console.log(this.path)

              this.path = {lat: this.form.lat, lng: this.form.lng}
           

        

            console.log(place.geometry.location.lat(), '===');
            // _.each(place.address_components,function(item,key){
            //     var addressType = item.types[0];
            // 	if (self.componentForm[addressType]) {
            //         var val = item[self.componentForm[addressType]];
            // 		console.log(val);
            //         Vue.set(self.form,self.location[addressType],val);
            //     }
            // });
            // this.updateMap();
        },
        dropOff(place){
            console.log(place)
            if (!place) return
            this.form.location = place.formatted_address;
            this.form.lat2 = place.geometry.location.lat();
            this.form.lng2 = place.geometry.location.lng();
            let self = this;
            console.log(place.geometry.location.lat());
            // _.each(place.address_components,function(item,key){
            //     var addressType = item.types[0];
            // 	if (self.componentForm[addressType]) {
            //         var val = item[self.componentForm[addressType]];
            // 		console.log(val);
            //         Vue.set(self.form,self.location[addressType],val);
            //     }
            // });

              let feed =  {lat: this.form.lat, lng: this.form.lng}
             let feed2 =  {lat: this.form.lat2, lng: this.form.lng2}
              this.path.push(feed);
               this.path.push(feed2);
            // this.updateMap();
            console.log(this.path);

        },
         updateMap(){
        	this.mapCenter = {
        		lat : this.form.lat,
        		lng : this.form.lng,
        	}; 
        },

            updateCenter: function (place) {
               
               
                if(this.path.length > 1){
                    this.path.splice(1, 1);
                }
                let feed =  {lat: place.geometry.location.lat(), lng: place.geometry.location.lng()}
                this.path.push(feed);
                this.center = {
                    lat: place.geometry.location.lat(),
                    lng: place.geometry.location.lng(),
                }
                // calculate distance
                let pickup      = $(".pickup").val();
                let dropoff     = $(".dropoff").val();
                this.pickup     = pickup;
                this.dropoff    = dropoff;


                if(pickup !== undefined && dropoff !== undefined){
                     axios.get(`https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=${pickup}&destinations=${dropoff}&key=AIzaSyCyDamIuNTXON7fh1TMdf5ik2J0bfQdrdo`)
                    .then(({
                        data
                    }) => {
                       console.log(data, '======google api resp')
                       this.distance = data.rows.elements.distance.value;
                    }).catch((e) => {
                       
                    });

                }

          },
           
          updateEdited: function (mvcPath) {
            this.mvcPath = mvcPath;
          },
          handleClickForDelete($event) {
            if ($event.vertex) {
              this.$refs.polyline.$polylineObject.getPaths()
                .getAt($event.path)
                .removeAt($event.vertex)
            }
          },
          readGeojson: function ($event) {
            try {
              this.polylineGeojson = $event.target.value

              var v = JSON.parse($event.target.value);

              this.path = v.coordinates
                .map(([lng, lat]) => ({lat, lng}))

              this.errorMessage = null
            } catch (err) {
              this.errorMessage = err.message
            }
          }
        }
    }
</script>
