<template>
    
<div class="app-content content dashboard" v-if="this.$route.query.type =='pending'">
    <div class="content-wrapper">
        <div class="content-body mt-2">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                      
                            <div class="card-content collapse show">
                                <div class="card-dashboard">
                                    <h1 class="in-heading-blk"><router-link  :to="{name: 'myrides'}">
                                                        
                                                  <i class="fas fa-chevron-left"></i>  </router-link> Pending</h1>
                                    <div class="for-user">
                                        <div class="row py-4">
                                            <div class="col-lg-3">
                                                <h1>Ride Details</h1>
                                            </div>
                                            <div class="col-lg-9">
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Estimated Price :</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">£{{rideDetail.total}}</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Car Type:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">Abc</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Payment Method:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">Cash</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row py-4">
                                            <div class="col-lg-3">
                                                <h1>Ride Details</h1>
                                            </div>
                                            <div class="col-lg-9">
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Date:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">{{rideDetail.created_date}}</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Pickup location:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">{{rideDetail.bookingplaces.pick_location}} </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Time:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">{{rideDetail.created_time}}</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Dropoff location:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">{{rideDetail.bookingplaces.drop_location}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                               <gmap-map :center="center" :zoom="12" style="width: 100%; height: 400px" ref="map">

				                                                		<gmap-marker
																		    :position="mapCenter"
																		    :clickable="false"
																		    :draggable="false"
																		/>


                                                                         <gmap-polyline v-if="path.length > 0" :path="path" :editable="false" 
                                                                       
                                                                        ref="polyline">
                                                                    </gmap-polyline>


				                                                	</gmap-map>
                                            </div>
                                        </div>

                                        <div class="row py-2 text-center">
                                            <div class="col-md-12">
                                                <a href="javascript:;" @click="Cancelbooking(rideDetail.id)"  class="u-blue-l8-btn">Cancel Ride</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                     
                    </div>
                </div>
            </section>
        </div>
      
    </div>
</div>

<div class="app-content content dashboard" v-else-if="this.$route.query.type =='completed'">
    <div class="content-wrapper">
        <div class="content-body mt-2">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                        
                            <div class="card-content collapse show">
                                <div class="card-dashboard">
                                    <div class="d-flex align-items-center justify-content-between">
                                       <h1 class="in-heading-blk"><router-link  :to="{name: 'myrides'}">
                                                        
                                                  <i class="fas fa-chevron-left"></i>  </router-link> Completed</h1>
                                        <h5 class="bld-blk">Ride ID {{rideDetail.id}}</h5>
                                    </div>
                                    <div class="for-user">

                                        <div class="row mb-cutom">
                                            <div class="col-xl-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-lg-4 col-12 d-flex flex-column align-items-center">

                                                    </div>
                                                    <div class="col-lg-4 col-12 d-flex flex-column align-items-center">
                                                        <!-- <img src="images/user-image.png" alt="n/a"> -->
                                                        <h5 class="edit-pro">Mark Carson</h5>
                                                        <!-- <a href="#_" class="edit-pro">Mark Carson</a> -->
                                                    </div>
                                                    <div class=" col-lg-4 col-12 d-flex flex-column align-items-center">
                                                        <h5 class="edit-pro">Rating & Reviews</h5>
                                                        <h5 class="bld-blk">3.5/5</h5>
                                                        <div class="d-flex">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star-half-alt"></i>
                                                            <h6 class="blk-h6">(40 reviews)</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row py-4">
                                            <div class="col-lg-3">
                                                <h1>Ride Details</h1>
                                            </div>
                                            <div class="col-lg-9">
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Car Type:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">Abc</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Pickup location:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">{{rideDetail.bookingplaces.pick_location}}</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Distance:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">{{rideDetail.distance}} Mile</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Payment Method:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">Cash Payment</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Dropoff location:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">{{rideDetail.bookingplaces.drop_location}}</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Time:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">20 Minutes</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row py-4">
                                            <div class="col-lg-3">
                                                <h1>Invoice</h1>
                                            </div>
                                            <div class="col-lg-9">
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="row pb-4">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Base Price:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">€{{rideDetail.total}}</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Time Cost:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">€0.00</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Promo Bonus:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">€0.00</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Extra Charges:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">€0.00</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="edit-pro">Total:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <h6 class="edit-pro">{{rideDetail.total}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Distance Cost:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">€0.00</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Referral Bonus:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">€0.00</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Waiting Price:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">€0.00</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Service Tax:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">€0.00</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <gmap-map :center="center" :zoom="12" style="width: 100%; height: 400px" ref="map">

				                                                		<gmap-marker
																		    :position="mapCenter"
																		    :clickable="false"
																		    :draggable="false"
																		/>


                                                                         <gmap-polyline v-if="path.length > 0" :path="path" :editable="false" 
                                                                       
                                                                        ref="polyline">
                                                                    </gmap-polyline>


				                                                	</gmap-map>
                                            </div>
                                        </div>

                                        <div class="row py-2 text-center">
                                            <div class="col-md-12">
                                                <!-- <button type="button" class="u-blue-l8-btn"><i class="fas fa-download">
                                                    </i> Download Receipt</button> -->
                                                <!-- <a href="#_" class="u-blue-l8-btn"> <i class="fas fa-download"> </i> Download Receipt</a> -->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                      
                    </div>
                </div>
                  </section>
        </div>
      
    </div>
</div>
<div class="app-content content dashboard" v-else-if="this.$route.query.type =='cancelled'">
    <div class="content-wrapper">
        <div class="content-body mt-2">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                       
                            <div class="card-content collapse show">
                                <div class="card-dashboard">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h1 class="in-heading-blk"><router-link  :to="{name: 'myrides'}">
                                                        
                                                  <i class="fas fa-chevron-left"></i>  </router-link>Cancelled</h1>
                                        <h5 class="bld-blk">Ride ID {{rideDetail.id}}</h5>
                                    </div>
                                    <div class="for-user">

                                        <div class="row mb-cutom">
                                            <div class="col-xl-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-lg-4 col-12 d-flex flex-column align-items-center">

                                                    </div>
                                                    <div class="col-lg-4 col-12 d-flex flex-column align-items-center">
                                                        <img src="images/user-image.png" alt="n/a">
                                                        <h5 class="edit-pro">Mark Carson</h5>
                                                        <!-- <a href="#_" class="edit-pro">Mark Carson</a> -->
                                                    </div>
                                                    <div class=" col-lg-4 col-12 d-flex flex-column align-items-center">
                                                        <h5 class="edit-pro">Rating & Reviews</h5>
                                                        <h5 class="bld-blk">3.5/5</h5>
                                                        <div class="d-flex">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star-half-alt"></i>
                                                            <h6 class="blk-h6">(40 reviews)</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <h6 class="red-tx">Cancelled By You</h6>

                                        <div class="row pb-4">
                                            <div class="col-lg-3">
                                                <h1>Car Details</h1>
                                            </div>
                                            <div class="col-lg-9">
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Car Make:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">ABC</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Color:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">Blue</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Car Model:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">Abc</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Registration No.:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">123-456</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row py-4">
                                            <div class="col-lg-3">
                                                <h1>Ride Details</h1>
                                            </div>
                                            <div class="col-lg-9">
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Estimated Price:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">£{{rideDetail.total}}</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Car Type:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">Abc</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Payment Method:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">Cash Payment</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row py-4">
                                            <div class="col-lg-3">
                                                <h1>Location Details</h1>
                                            </div>
                                            <div class="col-lg-9">
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="row pb-4">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Date:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">{{rideDetail.created_date}}</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Pickup location:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">{{rideDetail.bookingplaces.pickup_location}} </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Time:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">{{rideDetail.created_time}}</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="blk-h6">Dropoff location:</h6>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label for="" class="gry-labl">{{rideDetail.bookingplaces.drop_location}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                 <gmap-map :center="center" :zoom="12" style="width: 100%; height: 400px" ref="map">

				                                                		<gmap-marker
																		    :position="mapCenter"
																		    :clickable="false"
																		    :draggable="false"
																		/>


                                                                         <gmap-polyline v-if="path.length > 0" :path="path" :editable="false" 
                                                                       
                                                                        ref="polyline">
                                                                    </gmap-polyline>


				                                                	</gmap-map>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                       
                    </div>
                </div>
            </section>
        </div>
       
    </div>
</div>



</template>

<script>
 import { gmapApi } from 'vue2-google-maps';

    export default {
        data() {
            return {
                user: window.user,
                rideDetail:[],
                current: 0,
                current_page: 1,
                last_page: 1,
                mapCenter: { lat: 10, lng: 10 },
                mapOptions: {
                zoomControl: true,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: false,
                disableDefaultUi: true,
                keyboardShortcuts : false,
            },
            path: [
           
          ],
        center: [{lat: 1.38, lng: 103.8}],
            data: {
                    edited: null,
                    mvcPath: null,
                    errorMessage: null,
                    polylineGeojson: '',
                    },
            }
        },
         watch: {
         
        },
        computed: {
        google: gmapApi,
        polylinePath: function () {
            if (!this.mvcPath) return null

            let path = [];
            for (let j=0; j<this.mvcPath.getLength(); j++) {
              let point = this.mvcPath.getAt(j);
              path.push({lat: point.lat(), lng: point.lng()});
            }
            return path
          },
       },
       mounted() {
            this.getRideDetail();
        },
        // computed(){
        //    console.log(this.$router.params.id, '====');

        // },
        methods: {
            getRideDetail(current_page = 1){
                axios.get(`/bookings/${this.$route.params.id}?page=${current_page}&noloader=1`)
                                .then(({data}) => {
                                    this.rideDetail = data;
                                    let feed  =  {lat: this.rideDetail.bookingplaces.pick_latitude, lng: this.rideDetail.bookingplaces.pick_longitude}
                                    let feed2 =  {lat: this.rideDetail.bookingplaces.drop_latitude, lng: this.rideDetail.bookingplaces.drop_longitude}
                                    this.path.push(feed);
                                    this.path.push(feed2);
                                    this.center = {
                                        lat: this.rideDetail.bookingplaces.pick_latitude,
                                        lng: this.rideDetail.bookingplaces.pick_longitude,
                                    }
                                })
            },
            Cancelbooking(id){
                axios.delete(`/bookings/${id}`)
                    .then(data => {
                        this.$toastr.success(data.data.message, 'Booking cancelled', {});
                        this.$router.push({name: 'myrides'});
                    }).catch(e => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach(key => {
                            this.$toastr.error(errors[key], "Error!");
                        });
                    });  
            },
            readGeojson: function ($event) {
            try {
              this.polylineGeojson = $event.target.value

              var v = JSON.parse($event.target.value);

              this.path = v.coordinates
                .map(([lng, lat]) => ({lat, lng}))

              this.errorMessage = null
            } catch (err) {
              this.errorMessage = err.message
            }
          }
               
        }

    }
</script>


