<template>
    
<div class="app-content content user view-customer customer-product">
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                        <div class="card rounded pad-20">
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center text-lg-left">
                                            <a href="my-rides">
                                                <h1 class=""> My Rides</h1>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="top mt-5">
                                        <div class="row">
                                            <div class="col-xl-2 col-md-4 col-sm-6 col-12">
                                              
                                            </div>
                                            <div class="col-xl-2 col-md-4 col-sm-6 col-12">
                                                
                                            </div>
                                            <div class="col-xl-2 col-md-4 col-12">

                                            </div>
                                            <div
                                                class="col-xl-6 col-12 text-right d-flex justify-content-xl-end justify-content-center mt-2 mb-2 mt-xl-0 mb-xl-0 flex-column flex-md-row">
                                                <div class="f-dd">
                                                    <button type="button" class="filter-status" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">Select <i
                                                            class="fas fa-angle-down"></i></button>
                                                    <div class="dropdown-menu" x-placement="bottom-start">
                                                        <a class="dropdown-item" href="my-rides">No-Filter</a>
                                                        <a class="dropdown-item" href="my-rides?type=pending">Scheduled</a>
                                                        <a class="dropdown-item" href="my-rides?type=pending">On-Going</a>
                                                        <a class="dropdown-item" href="my-rides?type=completed">Completed</a>
                                                        <a class="dropdown-item" href="my-rides?type=cancelled">Cancelled</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="maain-tabble table-responsive">
                                        <table class="table table-striped table-bordered zero-configuration">
                                            <thead>
                                                <tr>
                                                    <th>s.no</th>
                                                    <th>Pick-up Location</th>
                                                    <th>Drop-off Location</th>
                                                    <th>Fare</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(ride, rindex) in rides" :key="rindex">
                                                    <td>{{rindex}}</td>
                                                    <td>{{ride.bookingplaces.pick_location}} </td>
                                                    <td>{{ride.bookingplaces.drop_location}} </td>
                                                    <td>{{(ride.total)?ride.total:''}}</td>
                                                    <td>{{ride.created_date}}</td>
                                                    <td>{{ride.created_time}}</td>
                                                    <td class="ggreen-txt">{{ride.status}}</td>
                                                    <td ><router-link  
                                                        :to="{name: 'bookingdetail', query: { 'type': ride.status},
                                                        params: { id: ride.id }}">
                                                        View
                                                    </router-link> </td>

                                                </tr>
                                               


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!--customer end here-->

</template>

<script>

    export default {
        data() {
            return {
                user: window.user,
                rides:[],
                current: 0,
                current_page: 1,
                last_page: 1,
            }
        },
         watch: {
         
        },
       mounted() {
             this.scroll();
            this.getMyRides();
        },
        methods: {
            getMyRides(current_page = 1){
                axios.get(`/bookings?page=${current_page}&noloader=1`)
                                .then(({data}) => {
                                    this.rides = data.data;
                                })
            },
            scroll () {
                window.onscroll = () => {
                    let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;

                    if (bottomOfWindow && this.current_page <= this.last_page && this.current == 0) {
                        this.getMyRides(this.current_page);
                    }
                };
            },     
        }
    }
</script>


